[2019-08-07 15:58] aparveen commented on #434
@ashishchoure for unsupported video format, reporter wouldn't allow users to browse unsupported format, right? Also I am assuming Reporter would support all formats that AGOL supports, right?

[2019-08-08 07:16] ashishchoure commented on #434
@aparveen

- Currently we have added the HTML5 supported video formats. However, as per your suggestion we can easily add all the AGOL supported formats.
- We have found the supported attachments format list in the [ArcGIS Runtime](https://developers.arcgis.com/net/10-2/desktop/guide/work-with-feature-attachments.htm) documentation link.
- From this link we are planning to add following extension

[2019-08-08 13:59] aparveen commented on #434
This works for us. This format list seems to be correct, this is AGOL doc for the supported attachment format. https://doc.arcgis.com/en/arcgis-online/manage-data/work-with-tables.htm

[2019-08-09 11:54] ashishchoure commented on #434
@aparveen

Thank you for the confirmation.
We will do the necessary changes and send you the pull request at the earliest.

[2019-08-13 16:26] aparveen commented on #436
Search widget is working as expected and showing only feature layer search results when geocoder is disabled and layer search is enabled, Verified in devext.

[2019-08-13 16:26] #436 closed

[2019-08-13 16:27] #421 closed

[2019-08-21 14:20] ashishchoure commented on #434
@aparveen

We have updated the code to show the loading indicator until all the attachments are being processed. This change will be delivered in upcoming code drop,

[2019-08-23 22:46] aparveen commented on #434
@ashishchoure ,

1. The custom file filter is not showing .mov files in the list, Only shows .mp4 and .mpg files.
2. If I upload .mov or .mpg file report it, go back, then comeback to the report and try to play the videos, it downloads instead of playing them.

Could you please take a look.

[2019-08-27 12:58] ashishchoure commented on #434
@aparveen

1. Yes, for videos its should only show the supported formats which we have included. Here is the list of supported formats :
- MOV
- MP4,
- MPA
- MPE
- MPEG
- MPG
- MPV2
2. For images, we have added support for all the image files. This is existing implementation and we have not touched this while adding support for video files.

We have fixed the issue of **".mov"** file not showing u

[2019-08-27 13:31] chris-fox opened #443 "Long user name causes Submit Report button to be pushed off the bottom of the browser window"
1. Create or edit your arcgis user name to be longer than 30 characters
2. Login into Crowdsource Reporter with your arcgis user

In the screenshot below you will see the application header is much larger with the app name and logo on the top line and the user on the second line. This causes the Submit Report button to be pushed off the bottom of the page.

![image](https://user-images.githubuserc

[2019-09-06 13:57] aparveen commented on #174
In UC 2019, I got a similar feedback from a customer, their goal is to limit number of reports coming from same IP Address and around same time.

[2019-09-09 15:55] allisonmuise opened #445 "i18n - crowdsource reporter app - display language"
Currently apps display with browser language UI for anonymous users. It is expected behavior.
When I sign in to Crowdsource Reporter app with my ArcGIS user account I expect to see this user's language UI. Currently it continues respecting my browser language and ignores my user's language, it is not good.

[2019-09-09 15:55] allisonmuise commented on #445
2964

[2019-09-09 15:58] allisonmuise commented on #434
@aparveen Is there work remaining on this issue?

[2019-09-09 16:01] allisonmuise opened #446 "BUG-000121996 The Crowdsource Reporter app on Portal for ArcGIS fails to show comments from a related table for a map service added to the web map."
<div><div><ol><li>Publish a feature class with a related table as an ArcGIS Server feature service as FeatureServiceA.</li><li>Publish another feature class with a related table (both added to the ArcMap doc before publishing) as a map service - MapServiceA. The data for this map service could in the same map extent as the feature service but maybe with some added data or some data deleted.</li><l

[2019-09-09 16:01] allisonmuise commented on #446
3145

[2019-09-09 16:13] aparveen commented on #434
@allisonmuise No, I was waiting for finishing QA testing on this, it looks good so far and haven't find any other issue, if you want I can close this and if I find anything will reopen it.

[2019-09-09 17:29] allisonmuise opened #447 "BUG-000122326 The Location box in the Crowdsource Reporter app geocodes addresses incorrectly if the projection of the basemap is other than 4326."
<div><div><ol><li><span style="font-size: 12pt;">Publish a map service with some data for a NAD 1983 projection. </span></li><li><span style="font-size: 12pt;">Publish a point feature service with data in the same projection as Point (1)</span></li><li><span style="font-size: 12pt;">Add the map service as a basemap to a web map and add the feature service as well. </span></li><li><span style="font

[2019-09-09 17:29] allisonmuise commented on #447
3146

[2019-09-09 17:32] allisonmuise opened #448 "BUG-000124254 On Crowdsource Reporter web application and the service that used shared to everyone, Anonymous users are able to submit a report, while logged in as a viewer users are unable to submit a report"
<div><div><p>1. publish map service to ArcGIS server then share it to the portal for ArcGIS</p><p>2. create a group and share the published service to this group plus share it to everyone</p><p>3. use the shared map and the group to create Crowdsource Reporter</p><p>4. login into Crowdsource Reporter using Anonymous users you will be able to submit a report</p><p>5. login using level one user you

[2019-09-09 17:32] allisonmuise commented on #448
3149

[2019-09-09 18:11] allisonmuise commented on #430
@mariafroy Thanks for letting us know about this issue. Reporter is using the current version of the API - we update it with every release of AGOL. Did you notice this issue with services in web mercator, or did the behavior only appear after republishing in UTM 33?  Could you share your app URL?

[2019-09-09 18:14] allisonmuise commented on #426
@akung21 This is a known behavior. We do not recommend using subtypes with Reporter because they create multiple feature templates in the layer. Reporter is not designed to work with multiple feature templates. When Reporter tries to draw the popup, it doesn't know what fields to show and what values are acceptable in them until the feature template is specified, which doesn't occur until after a

[2019-09-09 18:14] #426 closed

[2019-09-09 18:14] #417 closed

[2019-09-09 21:03] allisonmuise commented on #439
@chris-fox - I spoke with Aziza about this and she suggested reaching out to you.

We generally don't do things on mouseover in Reporter because it is really designed for mobile devices. Additionally, file names generated by mobile devices are not usually helpful in identifying media.

Would it perhaps be better to use the first frame of the video as a thumbnail with a super-imposed play button fo

[2019-09-10 10:41] mariafroy commented on #430
@allisonmuise Hi Allison, I've been in touch with the ESRI team and they were able to reproduce the bug. See: https://support.esri.com/en/bugs/nimbus/QlVHLTAwMDEyMjk2Mg==

[2019-09-10 13:03] chris-fox commented on #439
@allisonmuise, I agree with you that the name won't be all that useful. I like showing the first frame of the view as a preview if that is possible.

[2019-09-10 13:42] LindsayThomas commented on #430
@allisonmuise  BUG-000122962

[2019-09-10 15:05] allisonmuise commented on #430
<div><div><p><b>Steps to reproduce:</b></p>

<ol><li>Create a Crowdsource Reporter app with background map and hosted feature layer polylines or polygons</li><li>Open app on iPhone and continue as guest user.</li><li>Start drawing feature in map view</li><li>Double-click screen to finish - the feature disappears completely <i>(expected behavior is for feature to remain on the map)</i></li><li>Pres

[2019-09-10 15:26] aparveen commented on #430
@CTLocalGovTeam Could you please investigate this issue and see if it possible to fix in 7.3. Thanks.

[2019-09-11 15:50] aparveen commented on #430
@ashishchoure I am able to repro it consistently in Chrome Browser's Iphone emulator and in Safari on an actual device (Iphone XR),  here is the app link https://stategovernment.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=64d66350d9844ad1a55ce44aaedda8e2. Seems like it does not finish drawing on double tap in both polygon and line layers.

[2019-09-11 16:49] ashishchoure commented on #430
@aparveen

I am not able to reproduce the issue on ios devices. However, the issue is reproducible in chrome browser but that too not consistently.

I will look into it more and update you accordingly.

[2019-09-11 17:35] aparveen commented on #430
@ashishchoure I agree that we can repro in Chrome Emulator consistently, in actual device it works sometimes after I double tap several times.
Also see this issue with Basic Viewer template with editing tools and this sample app for JS API 3.29 https://developers.arcgis.com/javascript/3/samples/toolbar_draw/, it seems like coming from JS API and not specific to Reporter.

[2019-09-17 17:30] skrishn opened #450 "Console error when configuring the app"
In Production and QA, configuring a reporter app throws an error. App configuration is honored and no error when the app is launched

![image](https://user-images.githubusercontent.com/3836616/65064638-b7b38380-d935-11e9-88b9-3bb0be042a72.png)

[2019-09-17 21:33] aparveen commented on #434
@ashishchoure, I can't browse any videos from actual iPhone device, it only gives me option to upload images. Could you please check this issue?

[2019-09-18 13:50] ashishchoure commented on #434
@aparveen

We are able to reproduce the issue at our end.

As discussed,
- I think the best solution will be to not to filter the videos as we have done the for images.
- If any unsupported video is being uploaded and if the server fails, the application will show the error **"attachment(s) failed to upload"**.

We are testing this implementation and we will send you the pull request tomorrow.

[2019-09-18 18:34] aparveen commented on #434
@ashishchoure could you please make sure to test on iPhone, iPad in both Safari and Chrome please?

[2019-09-23 12:10] ashishchoure commented on #439
@allisonmuise

 - In the current implementation, we show the predefined image for video attachment and thumbnail for attached image(same image with smaller dimensions) in gallery section.
-  On click of image/video it opens the same in new tab.

Here is how it looks like :
![image](https://user-images.githubusercontent.com/5525972/65424223-9ae0e980-de28-11e9-8246-7d9307c7d563.png)

- So, if we wan

[2019-09-23 14:45] allisonmuise commented on #439
@chris-fox what do you think of this proposal?

[2019-09-23 17:26] chris-fox commented on #439
@allisonmuise, i'm good with that

[2019-09-25 06:55] ashishchoure commented on #448
@allisonmuise

- **As per the current implementation**
    - The anonymous user and user's logged in through google plus and twitter can always submit the report.
    - Any user logged in through AGOL and having level greater than 1 with `"canEditFeatures" : true ` can submit the reports. And users with "**Level1**"  can never submit the report as he is viewer.

- So, as per the above comment sinc

[2019-09-25 14:03] aparveen commented on #434
Verified in dev and qa.

[2019-09-25 14:03] #434 closed

[2019-09-25 14:59] allisonmuise commented on #448
@ashishchoure This should not need to be a configuration parameter. A user who is signed in using an account they have paid for should never have lower permissions than an anonymous user. Could you look at how the other configurable app templates manage this scenario? I believe @MikeTschudi has handled this for Crowdsource Polling.

[2019-09-25 17:17] ashishchoure commented on #448
@allisonmuise

I will see the behavior of Crowdsource Polling and update you at the earliest.

[2019-09-25 17:54] MikeTschudi commented on #448
@ashishchoure, please look in Crowdsource Polling's template.js file, [`_checkSignIn()` function](https://github.com/Esri/crowdsource-polling/blob/438e383567d0824920ee8d3a94ab59226a974767/js/template.js#L267) and the [response handling](https://github.com/Esri/crowdsource-polling/blob/438e383567d0824920ee8d3a94ab59226a974767/js/template.js#L141).  It queries the app or user's access level for perm

[2019-09-26 10:08] ashishchoure commented on #448
@MikeTschudi

Thanks for sharing the details.
- The Crowd Source Reporter application is build on the same base as that of Crowd Source Polling. We found the same code in template.js file of reporter application.

@allisonmuise
- We went through the code of Crowd Source Polling. The polling app is behaving same as reporter app. It allows Anonymous users to submit the comments and it restrict logge

[2019-09-26 15:52] allisonmuise commented on #448
@ashishchoure We have confirmed that Polling has the same issue and I'll be adding an issue in that repo to fix it, too. I have confirmed that Basic Viewer handles the permissions correctly.
To test:
1. Create a map with an editable layer.
2. Share the map and layer with the organization.
3. Use the map to configure a Basic Viewer app with the Editor tool enabled. Share the app with the organizati

[2019-09-30 06:08] ashishchoure commented on #448
@allisonmuise

Thanks for sharing the detailed information. I will have a look at the "**Basic Viewer**" and update you accordingly.

[2019-10-01 13:56] ashishchoure commented on #443
@allisonmuise

We are not able to reproduce the issue at our end.
![CSR_ISSUE_2](https://user-images.githubusercontent.com/5525972/65968650-1d992280-e481-11e9-8d5e-924af0fac193.gif)

However, for sometime the username do come down but then app adjust the header width and username gets adjusted in the UI.

Please let us know if we are missing anything at our end.

[2019-10-01 14:43] allisonmuise commented on #443
@chris-fox can you share any more info that might help with a repro? screen size? length of name?

[2019-10-01 14:56] chris-fox commented on #443
My screen resolution is 2560x1440, but if I shrink it down I see the same issue. In the original repro I said over 30 characters. You should be able to repro, change your user profile name for your try-it-live user and then login into the try-it-live version of Problem Reporter:

![image](https://user-images.githubusercontent.com/6796763/65973800-eb180700-e439-11e9-85cc-9cba5bb92a3c.png)

[2019-10-01 15:32] ashishchoure commented on #443
@chris-fox

- Are you testing this functionality on the latest code?

[2019-10-01 16:17] chris-fox commented on #443
No I am not, i am testing against production arcgis online

[2019-10-02 13:12] chris-fox commented on #443
I attempted to repro today after the online release and can no longer reproduce:

![image](https://user-images.githubusercontent.com/6796763/66046884-ac935280-e4f4-11e9-8e64-10636bbb4eee.png)

[2019-10-02 13:12] #443 closed

[2019-10-15 09:45] ashishchoure commented on #439
@allisonmuise

We can use HTML5 video tag, user can see the first video frame inside the video control. This works in desktop browsers. However, we observed some issues in the mobile devices.

**Android Device :**
- The play button looks distorted.
- We cannot see the settings option from which user can go to full screen mode. This is because of the limited height/width.
![image](https://user-imag

[2019-10-15 19:13] allisonmuise commented on #439
@chris-fox Could you review the comments above re: displaying the first frame of videos on mobile devices and let us know how you'd like to proceed?

[2019-10-16 06:24] ashishchoure commented on #450
@skrishn

Please let us know if any further action is required from our side.

[2019-10-17 14:51] chris-fox commented on #439
I am less concerned about the the image/preview than i am playing the video. The full screen play would seem to be important here for usability on a mobile device.

Does this limitation occur in the current release with playing videos on a mobile device? Can we do some more research to see how we could play in full screen.

[2019-10-17 15:12] ashishchoure commented on #439
@chris-fox

The first section of this [comment](https://github.com/Esri/crowdsource-reporter/issues/439#issuecomment-534071457) explains the current implementation of showing/playing  videos in the application.

[2019-10-17 15:21] chris-fox commented on #439
In that case IMO i don't think it is worth sacrificing the ease of playing the video on all devices for the ability to preview the first frame of the video in some devices.

[2019-10-21 15:58] ashishchoure commented on #439
@allisonmuise @chris-fox

Could you please let us know how to proceed on this gituub ticket.

[2019-10-21 16:49] skrishn commented on #450
cc @allisonmuise

[2019-10-21 18:01] #450 closed

[2019-10-22 14:50] allisonmuise commented on #439
based on the conversation above, no changes required at this time.

[2019-10-22 14:50] #439 closed

[2019-11-11 20:04] allisonmuise commented on #425
verified

[2019-11-11 20:04] #425 closed

[2019-11-11 20:17] allisonmuise commented on #445
I am not seeing this change.
My browser language is english, and my ArcGIS profile language is French. I would expect the following:
- sign in screen to load in english
- app accessed as a Guest to load in english
- app accessed by signing in to my account to load in french

[2019-11-11 20:18] allisonmuise commented on #445
@ashishchoure

[2019-11-11 23:45] allisonmuise commented on #447
@ashishchoure
I'm still seeing 4326 as the WKID. I'm wondering if this has to do with the spatial reference of the geocode service, or if this is still not working correctly?
![image](https://user-images.githubusercontent.com/2752195/68629896-4a861f80-049a-11ea-8316-463265ab6f7b.png)

[2019-11-12 04:33] skrishn commented on #425
@allisonmuise added testcase

[2019-11-12 06:33] ashishchoure commented on #447
@allisonmuise

- Yes this is correct. We try to project the geometry into geocoder's spatial reference to get the exact result. This is the reason you are seeing spatial reference of the geocode service.
- We tested this implementation and it was working as expected. Please let us know if you are seeing any unexpected behavior.

[2019-11-12 11:55] ashishchoure commented on #445
@allisonmuise

- In the morning (IST) we were able to reproduce the issue. However, we got the expected result in the evening (IST). Is devext being updated? We have tested this implementation on [devext](https://cybertech.mapsdevext.arcgis.com/).
- In addition to this, we tested the same functionality on **AGOL** and **Portal** and everything was working as expected.
- Could you please check and

[2019-11-12 16:19] allisonmuise commented on #447
looks good to me! Thanks for confirming.

[2019-11-12 16:19] #447 closed

[2019-11-12 20:03] allisonmuise commented on #445
@ashishchoure I can still see the issue this morning. I have sent a URL and credentials via email. Devext rebuilds every night, piece by piece, so it doesn't surprise me that things behave differently at different hours. Fun!

[2019-11-14 14:27] ashishchoure commented on #445
@allisonmuise

As discussed on yesterday's call, we analyze this issue and below are our findings :
- We will consider user display language if the user is singed in.
- We also found that, we cannot keep the user language `blank `in AGOL.
  - So, we are planning to always look for user's display language and load the same in reporter application.
  - However, in case of any unforeseen error we wil

[2019-11-14 15:51] allisonmuise commented on #445
@ashishchoure This makes sense to me for users who sign in with the ArcGIS option.

[2019-11-27 18:54] allisonmuise opened #454 "BUG-000122283 When a Crowdsource Reporter app is configured for commenting within a given reporting period, submitting a report prompts the 'Reporting Period Closed' pop-up in Internet Explorer."
<div><div><p><b><i>Create a Crowdsource Reporter application configured for commenting within a given Reporting Period (where today is in the Reporting Period) or use the link below:</i></b></p>

<ul><li><i>https://arcgis.com/apps/CrowdsourceReporter/index.html?appid=220548e081b244bbb32fa94513a68ad8</i></li></ul>

<p> </p>

<p>To create and configure the application...</p>

<p><a href="https://sol

[2019-11-27 19:10] allisonmuise commented on #454
3499

[2019-11-27 20:48] allisonmuise commented on #445
verified

[2019-11-27 20:48] #445 closed

[2019-11-27 20:50] allisonmuise commented on #448
verified

[2019-11-27 20:50] #448 closed

[2019-11-27 20:51] allisonmuise commented on #430
closing as this is being handled by the JS team

[2019-11-27 20:51] #430 closed

[2019-12-11 05:12] allisonmuise opened #455 "remove social media info from details page"
Template details page still references facebook and google

[2019-12-17 15:49] allisonmuise opened #457 "submit report button not working"
addressed by PR #456

[2019-12-18 00:39] allisonmuise commented on #457
verified

[2019-12-18 00:39] #457 closed

[2019-12-18 00:40] allisonmuise opened #458 "Type error when submitting line/polygon report"
![12-17-2019 4-39-14 PM](https://user-images.githubusercontent.com/2752195/71046030-eafbdf00-20eb-11ea-9613-1a1c0651c59b.png)

https://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=09580e5fee224ff49751b50122bee899

[2020-02-25 18:33] cchang-com opened #461 "Send email back to user when a problem has been resolved\ completed"
For the Citizen Problem Reporter on AGOL.  Is it possible to have an option to send a user a reply that their problem has been resolved?  If the user has a valid email address?

Thanks

[2020-03-04 20:50] allisonmuise commented on #461
@cchang-com see the documentation here: https://solutions.arcgis.com/local-government/help/citizen-problem-reporter/get-started/email-notification/

[2020-03-04 20:50] #461 closed

[2020-03-10 17:48] #458 closed

[2020-03-17 15:35] allisonmuise commented on #455
no items build for 8.1 due to build script failures. update will need to be made at 8.2

[2020-03-17 15:35] allisonmuise commented on #454
verified

[2020-03-17 15:35] #454 closed

[2020-04-06 15:23] Nataliya1 commented on #446
@allisonmuise, I am experiencing similar issue with the Crowdsource Reporter app in the AGO. The comments from related table don't show up in the app, if I disable editing. Thanks.

[2020-04-06 19:45] aparveen commented on #446
Hi Nataliya, this is a known limitation with the Reporter app. This behavior only occurs with non editable layers. Related records for the non editable layers do not display in the app because commenting is disabled in these type of layers, which is an expected behavior. Changing this behavior may cause backwards compatibility issues.

[2020-04-07 17:31] aparveen commented on #446
We do not have any plan to fix this issue due to the backward compatibility concern.

[2020-04-07 18:16] Nataliya1 commented on #446
Aziza,

Thank you for our feedback.

Is there any work around for this issue? We would like citizens to see the
comments from the city, as the city replies to reports submitted. But we
don't want citizens to be able to add additional comments, so we don't get
overloaded with comments.

How do we display comments to the citizens?

Thank you,
Nataliya

*Nataliya Lys | GIS Analyst*
Douglas County GIS

[2020-04-07 20:30] aparveen commented on #446
Nataliya, unfortunately we do not have any work around for this right now, but we are giving second thought on this to see if we can change the behavior that way you described, your workflow makes more sense. I will keep you updated on the progress.

[2020-04-07 20:32] aparveen commented on #446
@CTLocalGovTeam Could you please evaluate the level of effort on this issue? Thanks.

[2020-04-08 20:18] chris-fox commented on #446
@Nataliya1,

Hope you are doing well. I think I have a workaround for this. In the screenshot you can see Comments are disabled, but I am showing the comments in the details of the problem report itself. To do this I am using an arcade expression on the problem reports layer to return the related comments.

![image](https://user-images.githubusercontent.com/6796763/78828830-51ff1580-79b3-11ea-89c9

[2020-04-09 19:09] Nataliya1 commented on #446
@chris-fox,

Thank you for this information. It's a great work around. I was able to implement it in our production site. I did have to make a small change to the arcade expression (first line):

before:
var comments = OrderBy(FeatureSetByRelationshipName($feature, **'Comments'**, ['*'], false), 'CreationDate DESC')

after:
var comments = OrderBy(FeatureSetByRelationshipName($feature,**""**, ['*']

[2020-04-13 17:47] ashishchoure commented on #446
@aparveen

Here is our understanding regarding this enhancement :
- Currently, reporter application shows only popup information for the selected feature for non editable layer.
- In addition to this, we will now be showing the comments from the related table for the selected feature.

Here is our approach :
- Once the feature is selected, we will get the relationship details of the layer.
- If la

[2020-04-20 21:01] aparveen commented on #446
As discussed with Ashish this morning, both editable and non editable layer will follow the same approach for showing comments

[2020-04-21 14:37] aparveen commented on #446
@ashishchoure I talked to Chris Fox about the approach and he is concerned how will this new setting effect editable and non-editable comments without breaking backwards compatibility. Currently the default behavior of the app is to show comments for editable layer and not to show them for non-editable. Seems like if we introduce the new setting and have it impact editable comments this will break

[2020-04-21 17:08] ashishchoure commented on #446
@aparveen

- The new parameter `showCommentsForNonEditableLayer` will be used only in case of non-editable layers to decide whether or not to show the comments.
- As the default value will be set to `false`. Existing user's will not see the comments for non-editable layers unless they change the value to `true`. (**Backward Compatibility**)
- The editable layer's will continue to show the comments

[2020-04-21 22:09] aparveen commented on #446
@ashishchoure we are good with the approach, thanks for the clarification.

[2020-04-21 22:12] aparveen commented on #446
@skrishn test case

[2020-05-19 14:51] aparveen commented on #455
Sent an email to Ian to fix this issue. https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/3772

[2020-05-29 19:16] Nataliya1 opened #466 "email validation"
Hello. I am trying to see if there is any way to validate email address entered by the Crowdsource Reporter user. Sometimes people unintentionally or intentionally enter invalid email address. And I wish there was a way to validate an email, and if it's incorrect email address, then to show a message that would ask for a valid email. Because of incorrect/invalid emails we have been observing a hig

[2020-06-01 21:20] chris-fox commented on #466
Hi @Nataliya1, unfortunately there isn't a way to do this in the Problem Reporter application. We have received the request in the past so I have added the enhancement label to this issue to consider for a future release.

I believed we talked about Hub Premium a little bit at the Midwest UC, but one thing to consider is if you had Hub Premium and required users create a community user account bef

[2020-06-02 21:25] Nataliya1 commented on #466
Hi @chris-fox, thank you for the information. The Hub Premium could potential work if there was a way to customize a log in screen. Currently the log in screen is too complicated for general public to navigate.

[2020-06-03 23:13] skrishn commented on #446
verified in devext

[2020-06-04 15:58] aparveen commented on #455
This issue is fixed https://www.arcgis.com/home/item.html?id=74b016cef7db42b28599adc5a14b010c

[2020-06-04 15:58] #455 closed

[2020-06-11 20:02] jaroo commented on #466
Hi @chris-fox , could you simply use the Field type in the feature layer? After I published, I set the hosted feature layer email field to email type and my phone field to phone type.  Hosted feature layer > Data > Field > Edit Field Value Type>" Email Address" for example.

I was amped to use crowdsource reporter but if it doesn't enforce validation using the field value type, my use of this app

[2020-06-18 12:08] lvdburgt opened #467 "locator countrycode setting not respected"
Defining a countrycode in the search settings does not have any effect

[2020-06-18 12:08] lvdburgt opened #468 "locator Constrain search within map not respected"
Checking "Constrain search within map" does not have any effect on the search results

[2020-06-24 03:41] skrishn commented on #446
Verified in qa. Added testcase

[2020-06-24 03:41] #446 closed

[2020-06-25 05:52] skrishn opened #469 "Popup appears blank if same feature is clicked twice"
1. Map has a editable and non editabled layer.
2. Check the options in 'Reference Layers' in app config.
3. Launch the app.
4. Click on a feature on the map and popup displays. If the same feature is clicked again then a blank popup appears only on line and polygon layers.

QA app

https://crowdsource.mapsqa.arcgis.com/apps/CrowdsourceReporter/index.html?appid=9a42f2eb36c24be2b297c2a277aca3e1

**E

[2020-06-29 23:22] aparveen opened #470 "BUG-000128328 A layer containing either a default value or hint in a pop-up defaults to a light gray text in the Crowdsource Reporter app, which cannot be changed."
- Configure an editable feature layer in ArcGIS Online, and add it to a web map
- Either add a hint in the web map pop-up, or add a default value
- Share web map with desired group
- In Crowdsource Reporter application, select group
- In Theme tab, configure Body background color to color other than default
- ie) dark green
- Save & Launch application
- Select Submit New Report > Note that it is d

[2020-06-29 23:42] aparveen opened #471 "BUG-000127193 In the Crowdsource Reporter app in ArcGIS Online, the location search results are not visible as the default body text color is white"
**Preparing the Data**

- Configure a feature layer with editing enabled.
- Add the feature layer to the map viewer and save the web map.
- Share the feature layer and web map with an ArcGIS Online Group.

**Creating the CrowdSource Reporter Template**

- In ArcGIS Online navigate to the Content Pane.
- Click the 'Create+' button> under App click 'Using a Template'> select CrowdSource Reporter> an

[2020-07-27 17:34] aparveen commented on #470
@CTLocalGovTeam please use this app https://stategovernment.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=992767dc836a40308f1ea6579aea1626, the one Support shared is not working. FYI @skrishn

[2020-07-28 03:58] ashishchoure commented on #470
@aparveen @skrishn

As per our discussion,
- We will change the hint text color same as the Field label color. So as per the above screen shot, hint text will be displayed in white color.
- Regarding the default value case, this is behavior of bootstrap classes. If the input has a valid value the field label will be displayed in green color and for the invalid values it will be displayed in red co

[2020-07-28 05:26] ashishchoure commented on #471
@aparveen @skrishn

We will change the search results color to the same as its parent section l.e geocoder name div.

![image](https://user-images.githubusercontent.com/5525972/88622655-e0151e00-d0c0-11ea-8a5b-01918d998458.png)

[2020-08-14 15:48] skrishn commented on #469
verified in devext

[2020-08-14 16:01] skrishn commented on #471
verified in devext

[2020-08-14 16:45] skrishn commented on #470
verified in dev

[2020-09-16 22:23] skrishn commented on #469
verified in qa

[2020-09-16 22:23] #469 closed

[2020-09-16 22:28] skrishn commented on #470
verified in qa

[2020-09-16 22:37] skrishn commented on #471
verified in qa

[2020-09-16 22:37] #471 closed

[2020-09-16 22:38] #470 closed

[2020-09-22 22:35] aparveen commented on #467
Similar issue is reported by Support
**Already configured-application included below with URLs. Along with official documentation on country code behaviors, as well as a Video including the behavior's issue is attached to this case for visualization purposes.

1. Create a Crowdsource Reporter application in ArcGIS online by going to Content > Create > Configurable Apps > Create a
    Crowdsource R

[2020-09-22 22:38] aparveen opened #474 "BUG-000133477 JQuery updates"
Many customers are starting to perform static and dynamic analysis of our apps and finding issues related to dated libraries.

for Solutions apps, updating jQuery to 3.5.1 in crowdsource-reporter and crowdsource-manager appears to also require updating bootstrap, bootstrap-datepicker, and moment-with-locales because of changes to functions.

crowdsource-reporter uses

bootstrap 3.3.0 (10/2014)
boo

[2020-09-22 22:39] aparveen commented on #474
I will arrange a meeting with Mike before CT starts to work on it.

[2020-09-24 18:48] Nataliya1 opened #475 "Enable Share Dialog Window - when checked, prompts a login"
We have a publicly shared Citizen Reporter app, and we have been using it for a couple years. Recently, we made a slight adjustment to the app by enabling the share dialog window: Under Options >  **"Enable the share dialog window"**. Since then we got multiple reports from the Citizens that when they click on the 'Proceed as a Guest' button for the Citizen Reporter they are taken to the login scr

[2020-09-24 23:00] aparveen commented on #475
@skrishn could you please take a look at this issue when you have a moment?

[2020-09-25 00:09] skrishn commented on #475
Hi @Nataliya1 : I am unable to reproduce this issue. All your layer/map/app/group shared publicly? Can you share your app please

[2020-09-25 13:09] Nataliya1 commented on #475
Here is a link to my Dev site: https://omaha.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=9dce422c735f460db4f05282ca6cd445 Yes, everything is shared publicly.

[2020-09-25 22:10] skrishn commented on #475
Thanks @Nataliya1, I was able to repro it with your app with both Guest and Twitter login in the morning but not anymore. Has the issue been fixed at your end? Did you make any changes?

[2020-09-28 14:09] Nataliya1 commented on #475
@skrishn no, nothing has been fixed, or changed. But it seems like if you have logged in to AGO in your browser earlier, the credentials will be stored in cache, and the issue will not appear any more. Unless you clear your browser cache, or try different browser were you haven't logged in to the AGO in a while.

[2020-09-29 01:45] skrishn commented on #475
@ashishchoure : Could you take a look at this issue. Thank you!

cc @aparveen

[2020-09-29 04:55] ashishchoure commented on #475
@skrishn @aparveen

- We are not able to reproduce the issue at our end.
- We tried with multiple browsers but the application was working as expected.
- Here is the small GIF, please let us know if we are missing anything from our side.

![CSR_475_1](https://user-images.githubusercontent.com/5525972/94512916-efd4ee00-023a-11eb-9a1c-57da1f2e24bb.gif)

[2020-09-29 14:58] aparveen commented on #475
@Nataliya1 Since we could not repro the issue, I would suggest that you contact our technical support and log in this issue, they have the capability to look into your organization to figure out what is going on.

[2020-09-29 16:28] Nataliya1 commented on #475
@aparveen I opened a case. Thank you for looking into this.

[2020-10-01 09:32] ashishchoure commented on #474
@MikeTschudi @aparveen

As per the above comment we updated the following libraries :
1. jQuery 3.5.1
2. bootstrap 4.5.2
3. bootstrap-datepicker 4.17.47
4. moment-with-locales 2.28.0

However, after updating the libraries we are seeing the following issues in reporter application.

1. Web Map List :
   - Web map list UI is getting disturbed.
![image](https://user-images.githubusercontent.com/55259

[2020-10-01 15:42] MikeTschudi commented on #474
If we go ahead with these changes, let's please use the latest versions of all libraries. The versions listed above were simply the latest versions at the time that I looked into updating jQuery.

Regarding `moment-with-locales` in particular, if it can be removed as a part of this work, that would address its upcoming [deprecation](https://momentjs.com/docs/#/-project-status/).

[2020-10-01 20:39] skrishn commented on #475
@Nataliya1 :  Just as an FYI,  this may be the cause for prompting issues in your apps (if you havent solved it already). It would happen if you're using proxy services for routing, geocoding, geoenrichment, living atlas.
https://developers.google.com/web/updates/2020/07/referrer-policy-new-chrome-default mig

[2020-10-02 14:39] Nataliya1 commented on #475
@skrishn I was going to look into this, but it seems like both of my Prod and Dev apps are working fine this morning, no login screen. And I did absolutely nothing. I tried loading apps multiple times, in Chrome and Firefox, using incognito window and no more login screen!

[2020-10-05 13:24] ashishchoure commented on #467
@aparveen

We have analysed the issue and here is our approach to resolve the same :
- In the configuration, user can set the country code for multiple geo coders.
- We will check and accordingly add the `countryCode` parameter for configured geo coders.
- Once the user configures valid country code, the locator will only show the results for configured country.

![image](https://user-images.githu

[2020-10-05 17:12] Nataliya1 opened #476 "Remove home/splash screen - but keep sign in option for the app"
If I would to remove the Home/Splash screen, then the sign in option goes away completely. I wish there was a way to still have a Sign in on the app, even when the Home/Splash screen is turned off.

[2020-10-07 19:18] Nataliya1 opened #477 "More control over home/splash screen"
It would be nice if the Admin had more ways to customize the Home/Splash screen; have an option to modify text (other then title and subtitle), option to pick custom icons.

If I would download the Crowdsource app, or host the app in the Portal (vs AGO), would there be more options to customize the home/splash screen?

Thank you,

[2020-10-08 09:04] ashishchoure commented on #467
@aparveen @skrishn

We have completed the analysis of this ticket and here are the details along with the impact analysis report.

**Developer  Checklist :**
Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS   change?​ | No | NA | ​
Required   Backward compatibility​? | No | NA |  
Required 508​? | No | NA |  
Need   Sanitize?​ | No | NA | ​

**Impact Analysis Report  :**

[2020-10-09 06:18] skrishn commented on #467
@ashishchoure : Country Code text is hyperlink? Can we add moe than one country in it?

[2020-10-09 07:51] ashishchoure commented on #467
@skrishn

- We can set the country code in the configuration and it allows only three characters in the text box.
 - So we can add only one country code at a time.

![CSR_Desktop](https://user-images.githubusercontent.com/5525972/95557349-4f4cae00-0a32-11eb-8ebe-a4f6da02577b.gif)

[2020-10-09 15:56] skrishn commented on #467
@ashishchoure : Got it, thanks. Proceed with the fix.

[2020-10-12 03:59] ashishchoure commented on #474
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS   change?​ | No |   | ​
Required   Backward compatibility​? | No |   |  
Required 508​? | Yes |   |
Need   Sanitize?​ | No |   | ​

### Impact Anaylsis Report

Impacted   Areas | Comments
-- | --
Have   Configuration changes?​ | No
Have Runtime   changes?​ | Yes
Impact on   RTL | Yes
The entire applicatio

[2020-10-30 18:07] Nataliya1 opened #479 "embedding Citizen Reporter into Hub page"
hi @aparveen. I have a Citizen Reporter site with AGO signin enabled (only AGO signin, and no anonymous accss). And the sign in works as expected, but if I embed my Citizen Reporter app into a Hub page, I get an extra Signin window. I am not sure if that's the issue with Citizen Reporter or a Hub.
![image](https://user-images.githubusercontent.com/6840324/97741382-a0d7de00-1ab0-11eb-9565-514e8e353

[2020-10-30 18:10] aparveen commented on #479
@Nataliya1 we will look into it.

[2020-11-02 16:04] aparveen commented on #479
@Nataliya1 is your app shared publicly? Also, how are you embedding the app via iframe or the application card?

[2020-11-02 16:10] Nataliya1 commented on #479
@aparveen yes, it is shared publicly. I tried both iframe and an application card, and got the same outcome.

[2020-11-02 18:36] chris-fox commented on #479
Hi @Nataliya1, this isn't specific to Hub. Unfortunately, this is the behavior with any app or web map embedded in an iframe and has to do with how the oauth login dialog is handled in an iframe for security reasons. You will notice if you click OK, it will open a new window with the typically sign-in dialog.

I do have a potential suggestion. Assuming you are doing this because the expectation is

[2020-11-02 21:16] Nataliya1 commented on #479
Hi @chris-fox thank you for the information. I will try your suggestion and report back.

[2020-11-02 22:48] Nataliya1 commented on #479
@chris-fox, I was able to test your workaround, and it seems to be working as expected.

But I do have another obstacle, which I posted about in here, issue #476 .

So with your solution this is how my Hub page looks like with Embedded app, when a user doesn't have an account yet (hasn't join the initiative). And this is great.
![image](https://user-images.githubusercontent.com/6840324/97926878-88

[2020-11-03 13:36] chris-fox commented on #479
@Nataliya1, so this is what I am finding. If the app isn't shared publicly, then when I access the app I am logged in (even when embedded in the Hub site). When I submit a new problem report or comment on an existing report, my user name is stored in the editor tracking. So it is actually logged into the app and storing the user id.

However, because the login button isn't available the My Submiss

[2020-11-03 15:26] Nataliya1 commented on #479
@chris-fox, Yes, that is part of the problem that people cannot track their submissions under 'My Submissions' dropdown, when the Home/Splash screen is removed. We really would like to have that capability.

[2020-11-09 19:09] chris-fox commented on #476
This is a good enhancement to consider for a future release as it improves the integration with ArcGIS Hub.

[2020-11-16 15:05] aparveen opened #480 "Add message for users using deprecated browser."
We need to add a message for using deprecated browser.
Here are browser icon files we needed to show: [Browser icons.zip](https://github.com/Esri/crowdsource-reporter/files/5547102/Browser.icons.zip)

**Requirements for CT:**

1. Detect if user's browser is IE11 or Edge Legacy
2. If detected display one of the following messages:

**For ArcGIS Online:**

You are using a browser that is deprecated.

[2020-11-16 15:17] aparveen commented on #480
@CTLocalGovTeam we need to add this message in this release and need to have a code drop before November 24th for the string to be translated, could you please assess the level of effort? Thanks so much.

[2020-12-07 15:43] aparveen opened #486 "Add 'Short Org Url' messaging"
We need to add short url messaging for all the template apps, if an application is publicly shared, it can be accessed from a completely different org by changing only the org url which exposes a security vulnerability for the apps. To address this concern all agol apps are adding short url message which will let the user know when an app does not originate from same url as the address.
![image](h

[2020-12-07 15:57] aparveen commented on #480
Verified in qa

[2020-12-07 15:57] #480 closed

[2020-12-07 19:20] aparveen opened #487 "Manager auto refresh functionality to behave like web map"
We provided the option to automatically refresh app during last release https://github.com/Esri/crowdsource-manager/issues/304,
but we want manager to behave like map viewer when auto refreshing. the app should not be refreshed unless there is an update (feature or attribute) in the layer.

[2020-12-07 22:58] aparveen commented on #487
Wrong repo

[2020-12-07 22:58] #487 closed

[2021-01-23 00:01] kphaneuf opened #495 "Add Layer List to Reporter"
If a map has multiple supplemental layers it would be nice to be able to turn those off and on within the Crowdsource App.

[2021-02-02 23:58] aparveen opened #496 "Update Reporter Shield page so that the page looks good in both desktop and mobile devices"
Find way to make the shield page look better in desktop

![image](https://user-images.githubusercontent.com/10148401/106678138-eeac2880-656e-11eb-9d9f-b1366e376b15.png)

Few options to think
1) Add a high resolution image that covers the full desktop screen
2) May be use 2 different images, one for desktop, one for mobile devices

[2021-02-22 17:13] aparveen opened #497 "BUG-000134502 ArcGIS World Geocoding Service does not provide proper suggestions in Crowdsource Reporter apps"
- Search addresses with ArcGIS World Geocoding Service in Configurable Apps Basic Viewer template, Crowdsource Reporter, Crowdsource Polling, and Web AppBuilder
- Only in the Crowdsource Reporter apps, the ArcGIS World Geocoding Service does not provide proper suggestions even the search is set to be within the map.
- Crowdsource Reporter apps: https://ess.maps.arcgis.com/home/item.html?id=3844ae1

[2021-02-22 17:15] aparveen commented on #497
**Reporter**
![CrowdsourceReporter_suggestions](https://user-images.githubusercontent.com/10148401/108744083-5e6a5f00-74ee-11eb-8bf9-c810fd451617.JPG)
**Basic Viewer**
![BasicViewer_Suggestions](https://user-images.githubusercontent.com/10148401/108744215-878aef80-74ee-11eb-94c6-b26aa299e415.jpg)

[2021-02-24 18:04] aparveen opened #498 "Handle the Reporter signout in the AGOL recommended way"
We need to implement the sign out functionality in AGOL recommended way.
![image](https://user-images.githubusercontent.com/10148401/109044636-79bca200-7687-11eb-9d58-3dd3ff64f3ce.png)

[2021-02-24 18:07] aparveen commented on #498
![image](https://user-images.githubusercontent.com/10148401/109044749-a375c900-7687-11eb-9eb1-9daf2900e640.png)
Also here is an example
![image](https://user-images.githubusercontent.com/10148401/109045133-13844f00-7688-11eb-8809-06030998412b.png)

[2021-03-01 19:47] chris-fox opened #499 "Add configurable parameter to scale large images when submitted"
With the Citizen Problem Reporter solution many users use their phone to submit problem reporters and they often attach a picture that take from their phone of the issue, for example potholes, graffiti, street light outage, etc. Modern phones take high resolution photos and these images are large in size and can bloat the service unnecessarily as often a much smaller image is enough to understand

[2021-03-01 20:03] aparveen commented on #499
@chris-fox Sure.

[2021-03-03 00:04] aparveen commented on #467
Related to BUG-000132354

[2021-03-12 06:14] ashishchoure commented on #498
@aparveen

As discussed,
- Could you please share any of the web app templates which already use the above sing-out mechanism.
- This will be of great help and we can make sure that we are not missing on any of the sceanrios.

[2021-03-12 06:15] ashishchoure commented on #496
As discussed on the call here are the options to implement this change:

Option 1:
- We will change the existing image to a high-resolution image.
- In addition to the above point, we have to update the CSS to allow the image to use the entire space available. (CSS property : `background-size: cover`)
- If we go with Option 1, then existing users who are using the low-resolution image will see the

[2021-03-12 06:23] ashishchoure commented on #497
@aparveen

- We are using the custom search widget in the crowd source reporter application.
- This is the reason the search results are different in the Reporter app and in the Basic Viewer app.
- We think that changing the custom select tool will have a high impact and high LOE and it may impact the following components :
    - Map Search
    - Geo Form
    - Layer Search (We use the custom sear

[2021-03-15 21:25] aparveen commented on #497
@ashishchoure please proceed with this change, could you please make this one separate delivery from the other fixes, so if there is any issue with the code we can pull it back?

[2021-03-15 21:29] aparveen commented on #496
@ashishchoure few questions
1) Is the current image provided by esri? Also, do you have this full image in high resolution?
2) Will this change have any impact on mobile devices, such as long loading times.
3) Could you please provide us with a few screenshots on how it will look like in desktop and mobile devices?

[2021-03-17 06:01] ashishchoure commented on #497
@aparveen

- We are looking at all the possible solutions to make sure we have the minimum impact from this change.
- We will update you once we have a feasible approach.

[2021-03-17 08:54] ashishchoure commented on #499
@aparveen

- From the above description we see two requirements :
   -  Restrict user from adding the high-resolution images
      - We can show the message to the user saying that the dimensions of the selected image are greater than configured dimensions.
   - Automatically update the uploaded image to the configured image dimension
      - Due to the javascript limitation and security issues, w

[2021-03-18 12:20] chris-fox commented on #499
@ashishchoure, @aparveen, I don't think restricting image uploads based on dimension is a good solution for end users. A lot of times users are just taking pictures from their phone and attaching to the report. It would be very frustrating to present an error message that they have no way to resolve while attempting to report a problem.

[2021-03-18 17:07] aparveen commented on #499
@chris-fox I reached out to our dev team members to see if anybody know if any of our online products do compression at runtime , I will update the team with my findings. Also suggest @CTLocalGovTeam to look at how facebook or whatsapp does their image compression. I came across this article https://venturebeat.com/2019/01/17/facebook-open-sources-spectrum-to-make-uploading-photos-more-efficient/

[2021-03-18 21:44] aparveen commented on #499
@ashishchoure got this input from our dev team.

The ArcGIS REST API has dynamic resizing for images for its image endpoints
Example:
Image Resizing:
https://www.arcgis.com/sharing/rest/content/items/e987411ac1a8419bbce3f51d2452578f/info/thumbnail/ago_downloaded.jpg?w=400

Normal Size:
https://www.arcgis.com/sharing/rest/content/items/e987411ac1a8419bbce3f51d2452578f/info/thumbnail/ago_downloaded.

[2021-03-19 09:02] ashishchoure commented on #499
@aparveen

Thanks for the information.
We will have a look at it and we will get back to you on our findings.

[2021-03-22 04:26] ashishchoure commented on #499
@aparveen

- We have found a way to scale the images before submission and we are working on checking the feasibility.
- Users can submit the attachments in the form of images while submitting the "New Feature", editing the "Existing Feature"  or while adding "Comments". Do you want us to implement the scaling of images functionality in all these places?

[2021-03-22 14:11] aparveen commented on #499
@ashishchoure are you using any third party libraries? If yes, does it need license? We need to do a security review in that case.

[2021-03-22 15:28] aparveen commented on #496
@ashishchoure
The way we would like to achieve this :
•	Adding a parameter to the app which will not be exposed to the users.
•	New apps will see the high-resolution full screen image background as default
•	but the existing users who configured their own image will not see any difference ( their image won’t be stretched out)

[2021-03-22 16:37] ashishchoure commented on #496
@aparveen

Thank you for the detailed information. We will consider all of the above points while implementation.

[2021-03-22 16:39] ashishchoure commented on #499
@aparveen

- No, we are not using any library. Its a Javascript code that will scale the images based on provided size.

[2021-03-22 16:45] aparveen commented on #499
@ashishchoure please proceed with the change. Thanks

[2021-03-23 15:55] aparveen commented on #474
Verified in QA

[2021-03-23 15:55] #474 closed

[2021-03-23 15:56] aparveen commented on #467
Verified in QA

[2021-03-23 15:56] #467 closed

[2021-04-02 05:44] ashishchoure commented on #497
We have analyzed the issue and here are the two approaches:
### 1. Replace the custom Search with ArcGIS JS API Search widget
   - **Pros :**
      - The result will exactly match with the applications which are using the search widget (Result may vary based on the locator settings)
   - **Cons :**
      - The API search widget will not show suggestions for the locator which do not have suggest ca

[2021-04-02 13:12] ashishchoure commented on #499
@aparveen

Here are dimension values that we can add to the dropdown in the configuration panel.
- 320pixels
- 640 pixels
- 1280 pixels
- 1920 pixels
- Unrestricted (Any photo size can be attached to the survey.)

We have taken these values from Survey123, please let us know if you want to update the values.

[2021-04-05 21:15] aparveen commented on #498
@ashishchoure @CTLocalGovTeam Here is some example of implementing oauth signout with client id.
1) We would like to preserve the current behavior of signout, that means if any user signs out from reporter tab, they won't be signout from all other tabs logged in to the same org.
2) Same is for redirect url, we would like to preserve the current behavior.

[2021-04-06 06:31] ashishchoure commented on #498
@aparveen

Thank you for sharing the details.

We followed the sign-out approach as per the shared details and here are our observations :

**1. Redirecting application to the base URL:**
   - The sign-out `redirect_uri` parameter works only when the application is being hosted in ArcGIS online platform (Tested this by injecting the new code in the production app and after sign out the app was red

[2021-04-07 15:11] aparveen commented on #498
@ashishchoure is this the current behavior as well?

[2021-04-07 15:28] ashishchoure commented on #498
@aparveen
As per the current implementation we never use redirect url, instead we just reload the application once user clicks on sign out.

[2021-04-07 15:42] aparveen commented on #498
oh ok, let me talk to Ryan and will update the issue.

[2021-04-08 06:50] ashishchoure commented on #497
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS change?​ | No |   | ​
Required Backward compatibility​? | No |   |  
Required 508​? | No |   |  
Need Sanitize?​ | No

### Impact Analysis Report
Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | No
Geocoding Service With Suggest Capability |

[2021-04-08 07:08] ashishchoure commented on #499
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS change?​ | No |   | ​
Required Backward compatibility​? | Yes |   |  
Required 508​? | No |   |  
Need Sanitize?​ | No

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | Yes
Have Runtime changes?​ | Yes
Impact on RTL | No
Configuration | <li> Add a new configurab

[2021-04-09 06:01] ashishchoure commented on #496
@aparveen
As per our discussion,
- We will not add any configuration parameter for this functionality.
- Instead, we will replace the new image with the old one. This way new user's will always see the updated image on the landing page.
- For the existing user's we will check if the image is being updated,
    - If yes, then we will keep the image as is and the image will not be streched
    - If

[2021-04-30 07:12] ashishchoure commented on #498
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS change?​ | No | NA | ​
Required Backward compatibility​? | No | NA |  
Required 508​? | No | NA |
Need Sanitize?​ | No | NA | ​

### Impact Analysis Report
Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | No
Sign out functionality | <li> On c

[2021-04-30 08:16] ashishchoure commented on #496
### Dev Checklist
Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS change?​ | No | NA | ​
Required Backward compatibility​? | No | NA |  
Required 508​? | No | NA |  
Need Sanitize?​ | No | NA

### Impact Analysis Report
Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | No
Sign In Page | **New Application :**

[2021-04-30 14:13] ashishchoure commented on #496
@aparveen

This is how the landing page looks after using the above image.

![image](https://user-images.githubusercontent.com/5525972/116707445-4e8a6200-a9ec-11eb-9651-b3fa17e99b34.png)

[2021-05-06 14:08] aparveen commented on #496
[Reporterbg_NCY_Darker.zip](https://github.com/Esri/crowdsource-reporter/files/6435160/Reporterbg_NCY_Darker.zip)
@ashishchoure here is the png version of the image

[2021-05-07 19:53] aparveen commented on #498
@ashishchoure the code is in devext now, but sign out is still failing with console error.
![image](https://user-images.githubusercontent.com/10148401/117501603-1f677980-af33-11eb-973f-9972ccc05c11.png)

[2021-05-08 03:41] ashishchoure commented on #498
@aparveen

Thank you for the update.
We will have a look at it and update you at the earliest.

[2021-05-17 15:18] aparveen commented on #496
@ashishchoure in old apps I am seeing the background image is being stretched during local testing, could you please take a look at it?
![image](https://user-images.githubusercontent.com/10148401/118513265-65b59900-b6e8-11eb-8ecf-bbe3ae2faead.png)

[2021-05-17 17:36] aparveen commented on #499
@ashishchoure can we change the label to "Maximum image size on the longest edge" also is it possible to add pixels after the number like survey 123. I think this provide a clear definition of the purpose of this parameter.
![image](https://user-images.githubusercontent.com/10148401/118531245-7a9b2800-b6fa-11eb-899e-cc593902151c.png)

[2021-05-18 04:24] ashishchoure commented on #499
@aparveen

We will do the suggested changes and send a new pull request at the earliest.

[2021-06-14 16:55] aparveen opened #507 "BUG-000139056 If a web map has map notes it will cause the list in the Crowdsource Polling application to never load"
Bug Summary:

- If a user has map notes in their web map and they try to create a Crowdsource Polling application the list element of the application will never load (during configuration and the published version).
- Expected behavior: Users should be able to include map notes in their map without it breaking the list functionality in the Crowdsource Polling application.

Sample Data:

These item

[2021-06-16 14:39] aparveen commented on #507
Wrong repo, my bad

[2021-06-16 14:39] #507 closed

[2021-06-21 21:33] aparveen commented on #497
@ashishchoure in Android phone and table, the suggestion is not working as expected. If I start to type, suggestions do not show up right away, after finish typing, if I delete a few alphabets, then it starts to show up. Could you please take a look?

[2021-06-22 09:14] ashishchoure commented on #497
@aparveen

- This is an issue with Andriod devices. However, this is an existing issue in the application and we have not added any code which introduces this behavior.
- The keypress events do not work as expected in Andriod devices. We found a lot of content that describes a similar issue and [here ](https://stackoverflow.com/questions/22473950/keypress-event-not-firing-in-android-mobile) is one

[2021-06-22 14:56] aparveen commented on #497
Thanks @ashishchoure for looking into this issue.

[2021-06-22 15:08] aparveen commented on #499
verified in qa

[2021-06-22 15:08] #499 closed

[2021-06-22 15:09] aparveen commented on #498
verified in qa

[2021-06-22 15:09] #498 closed

[2021-06-22 15:09] aparveen commented on #497
verified in qa

[2021-06-22 15:09] #497 closed

[2021-06-22 15:10] aparveen commented on #496
verified in qa

[2021-06-22 15:10] #496 closed

[2021-09-08 18:17] aparveen opened #510 "Support cascading select (Dropdown filters options in related dropdown)"
![image](https://user-images.githubusercontent.com/10148401/132562773-df87f99b-f7b7-444d-83b3-8c49db77dc9c.png)
![image](https://user-images.githubusercontent.com/10148401/132562799-c478d551-169b-4dac-9439-d826b48432bc.png)
![image](https://user-images.githubusercontent.com/10148401/132562876-6fb720f9-5300-4c95-a13c-b0414fe6ba8a.png)
![image](https://user-images.githubusercontent.com/10148401/1325

[2021-09-08 18:35] aparveen opened #511 "Add the ability to use different layers in a map for viewing and submitting reports"
•	Currently to submit a report all field needs to be visible in the view and query capability needs to be enabled to view the report.
•	This presents security concerns as information like phone number and e-mail can be queried from the service.
•	It is possible to create a view of a service where query is disabled, but adding records is enabled.
•	We can also create view of a service where query i

[2021-09-08 18:36] aparveen commented on #511
@CTLocalGovTeam could you please assess this for 9.4 release? Thanks

[2021-09-08 18:40] aparveen opened #512 "Auto fill user info if logged in"
•	If a user is logged in, we can query information from the user like first name, last name, and e-mail.
•	This enhancement would allow us to configure fields in the report form and comment form to auto populate with this information from the user.
•	Note in the screenshot, Phone Number is not a property on the portal user so it can’t be autopopulated.
![image](https://user-images.githubuserconten

[2021-09-08 18:42] aparveen commented on #512
@CTLocalGovTeam could you please assess this for 9.4 release? Thanks

[2021-09-16 01:00] skrishn opened #513 "Uncaught TypeError reading 'showDialog'"
I have the help option disabled and I noticed a console error on this app.

Error:
![image](https://user-images.githubusercontent.com/3836616/133532434-edd906ae-3ef4-4b62-ac73-3ed8c9ccf842.png)

https://localgovqa.mapsqa.arcgis.com/apps/CrowdsourceReporter/index.html?appid=31bdc370c3114adea7628d7c7a6f0a81

[2021-09-17 04:56] sumitzarkar commented on #513
@skrishn

In the configuration help is disabled but showHelpOnload is true which is causing this issue

![image](https://user-images.githubusercontent.com/9443956/133726780-53a68f28-34fe-4d74-a651-6c5bb6f9b806.png)

On Load application checks if showHelpOnload  is true it shows the help dialog but in this case help is not enabled.

[2021-09-17 16:48] skrishn commented on #513
@sumitzarkar : Thanks for looking into this. Let's fix this for 9.4

cc @aparveen

[2021-09-22 16:50] ashutoshverma-ct commented on #512
@aparveen

We understood the requirements of this enhancement but we need some more information:

Q1. For a logged-in user we get several values (attached as a text file), do we have to honor only first name, last name, and e-mail?

Q2. To auto-populate, the fields with the logged-in user, do we have to match the exact field names with the portal user properties? For instance, we get "fullName" fr

[2021-09-29 07:09] skrishn commented on #512
@ashutoshverma-ct
Q1 - Yes. you're correct.
Q2 - We expose this in the config panel so that users choose how the fields are matched.
Q3 - Do we expose alias and actual field name in the config for any other parameter in this app? Please confirm what we do.  I'd suggest we use the same pattern we did for other parameters

Let me know if you have additional questions.

cc @aparveen

[2021-10-06 04:13] skrishn opened #515 "When geolocation is enabled, reports/features are not updated with new search that is outside of the geolocation area"
With the current design, geolocation when enabled takes precedence, and shows reports in that area, but we would like to honor and show reports when a search performed using search widget is outside of the current location.

https://stategovernment.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=6236a76e3a374232985b4444f9c840a1

- Search 'Baltimore' using search widget. Notice that the f

[2021-10-12 07:59] ashutoshverma-ct commented on #512
@aparveen  @skrishn

As discussed in the meeting, the workflow will be as follows:
- In the configuration, we will provide 3 textboxes to specify field name to auto-populate user info (i.e. first name, last name and email id)
   - User should be able to specify only 1 field name
- If the specified field name is not found in the feature layer then the value will not be auto-populate
- Data type val

[2021-10-12 13:29] sumitzarkar commented on #511
@aparveen @skrishn  @chris-fox

As indicated in the shared webmap, we understand that there will be 2 different layers representing the same features one for submitting the report (with add capability) and the second to view the reported features (with query capability).

The reporter application is designed to show features on the map, a list of features, a button to submit reports, and my submis

[2021-10-12 13:35] sumitzarkar commented on #510
@aparveen @skrishn @chris-fox

We checked this enhancement and on analyzing this we have the following observations:
- If the layer has subtypes defined in the layer definition then this enhancement will work with the field defined for subtypes
- As mentioned above, this enhancement should be not limited to the hard-coded domain, then we need to do the following changes:
   - In the configuration,

[2021-10-12 21:11] aparveen opened #516 "Search widget is not working with custom geocode locator"
Custom geocoder service is not working properly within the Crowdsource Reporter application. It worked before. It works well within web maps and other applications, but not in the Crowdsource Reporter. When an address is entered and result is chosen, it will not zoom to that address within the application. The ArcGIS World Geocoder is working fine within it, but it is cumbersome for our customers

[2021-10-13 11:37] ashutoshverma-ct commented on #516
@aparveen @skrishn

We checked the above geo-locator link, it is not accessible to us. So we checked the application and it is working without the geo-locator (screenshot attached)

We also tried with our local geo-locators (secured, removed) but were unable to reproduce the exact case, at our side, the service does not return results from the particular service.

![image](https://user-images.gith

[2021-11-01 15:50] aparveen commented on #510
@ashutoshverma-ct could you please change the strings to
1) Import choice list for cascading select
2) Autocomplete field information
3) autocomplete
4) First name
5) Last name
6) Email
![image](https://user-images.githubusercontent.com/10148401/139700170-78ae2e09-155e-4706-a686-9f19ccd3c440.png)

[2021-11-01 17:28] aparveen commented on #510
@ashutoshverma-ct instead of autocomplete please use autofill as you suggested previously. Thanks

[2021-11-02 08:06] ashutoshverma-ct commented on #510
@aparveen @skrishn @chris-fox

We are clear with the string changes except for points 2 and 3. Just be on the same page, we understood from above as follows:

- For point 2: The new string will be "Autocomplete field information". Here we do not need to replace "autocomplete" with the "autofill" word.
- For point 3: The new string will be "Autocomplete" only

Please confirm

[2021-11-02 17:40] aparveen commented on #510
@ashutoshverma-ct all autocomplete should be replaced by autofill.

[2021-11-09 04:35] sumitzarkar commented on #516
@skrishn  @aparveen

Any updates on this ticket

[2021-11-09 17:40] skrishn commented on #516
@sumitzarkar Please proceed with the solution you recommended. I don't want to wait any longer due to the shorter dev cycle we have.
cc @aparveen

[2021-11-11 22:13] aparveen opened #519 "BUG-000127625 When signing into a publicly accessible Citizen Problem Reporter web mapping application in a browser in incognito mode, it redirects the user back to the same sign-in page."
**Link with a freshly deployed Citizen Problem Reporter web application will be included, if needed. Video showing this behavior is also attached to this bug.

1. Deploy the Citizen Problem Reporter solution from ArcGIS Pro to ArcGIS Online with default settings
2. Navigate to ArcGIS Online and change the item's settings to be shared to Everyone (public)
3. Open an incognito browser, copy/paste th

[2021-11-22 17:36] aparveen commented on #510
Test case? @skrishn

[2021-11-22 17:37] aparveen commented on #512
Test case? @skrishn

[2021-11-23 18:53] aparveen commented on #519
@CTLocalGovTeam could you please take a look at this issue and comment if this an expected behavior or not? Thanks

[2021-11-23 22:14] aparveen commented on #512
@CTLocalGovTeam What will be the level of effort to apply this to comment table? In our solution schema, related comment table and feature layer has the same field names for these fields.
It will help simplify editing experience for our users.
Could you please evaluate this and see if it can be done in 9.4?

[2021-11-24 11:34] sumitzarkar commented on #519
@aparveen

- We observe the same behavior when application is hosted in AGOL
- When the User clicks the AGOL login button in the APP we call Portal.signin() method to sign in to the configured organization. And, then the ArcGIS JS Portal API takes care of authentication using Organisation's login page and then on successful login, it redirects to the app URL.  As the webpage is redirected to the a

[2021-11-24 13:48] sumitzarkar commented on #512
@aparveen

We can add this functionality to the comment forms as well, this would need low level of efforts.
We have implemented this functionality today and currently we are testing it. We will deliver this once our testing is completed.

[2021-11-24 15:09] aparveen commented on #512
@sumitzarkar Thanks so much for your quick action on this, appreciate it.

[2021-11-24 15:28] aparveen commented on #510
@sumitzarkar I noticed that csv file needs to be shared publicly to be able to get url for that item, wondering for the users who wants to use the cascading select within the org, how they are going to access the csv?

[2021-11-29 11:39] sumitzarkar commented on #510
@aparveen

We tried different scenarios and here are the details of our alaysis:

### CSV URL will work for the following scenarios only:

- If the URL is public and accessible for all using the link

- If the CSV is secured and its domain is same as the logged in user (same AGOL org for hosting CSV and logged in user)

### Application will not able be to access the CSV data if:

- CSV is private

[2021-12-01 04:58] skrishn commented on #512
verified in qa

[2021-12-01 04:58] #512 closed

[2021-12-02 19:47] aparveen opened #522 "BUG-000128224 Users are able to utilize the Search function in the CrowdSource Reporter solution, even after disabling the Search tool via the web app configuration."
- Log into ArcGIS Online and go to your Content section
- Create an editable hosted feature layer and web map
     - Create > Feature Layer
- Create a new web application (Content > Create > Configurable Apps)
     - Search/Select the Crowdsource Reporter template > Create the application
- Go to your Groups in AGOL and create a new group that will be utilized for the application
     - Add the as

[2021-12-02 19:49] aparveen opened #523 "BUG-000140776 Reverse geocoding operation executes on the World Geocoding Service instead of a custom locator in the Crowdsource Reporter web application when selecting a location in the web map"
1) Create a Crowdsource Reporter configurable web application in ArcGIS Online (e.g. https://ess.maps.arcgis.com/home/item.html?id=90200dfb726a4a848948301cdf25ffd2).

2) Create a hosted feature layer in ArcGIS Online (e.g. https://ess.maps.arcgis.com/home/item.html?id=ca8309ad87bd4d7e8c5b424ec2b1e816).

3) Enable editing on the hosted feature layer, add one editable field to the hosted feature lay

[2021-12-02 19:53] aparveen commented on #523
When adding a report and World geocoder is disabled I am getting this I am getting this unable to find address error in the network tab
![image](https://user-images.githubusercontent.com/10148401/144493212-a6aa551e-b3c8-4449-b759-04870c57f553.png)

[2021-12-02 21:55] skrishn commented on #513
verified in qa

[2021-12-02 21:55] #513 closed

[2021-12-03 13:16] sumitzarkar commented on #516
@aparveen

### Root Cause
Here are the details of this issue:

- This issue is reproduced with the services which do not have singleLineAddresField name as 'SingleLine' and have Suggest capability. When the user clicks on the suggestion in the list this issue is reproduced.
- Currently, we are only able to reproduce this issue with the service (https://gis.whud.org/arcgis/rest/services/Public/Sing

[2021-12-03 23:51] skrishn commented on #510
verified in qa

[2021-12-03 23:51] #510 closed

[2021-12-03 23:52] aparveen commented on #516
Verified in QA

[2021-12-03 23:52] #516 closed

[2021-12-07 16:38] aparveen commented on #519
Chris 's comment on this issue, "that is not a great user experience. I don't think we should do anything about it in the current version of Crowdsource Reporter, because this is the way it always has been. We should try to improve this in the future version though as using credentials is going to be more important with Hub community identities".

[2021-12-21 05:49] sumitzarkar commented on #523
@aparveen

- Reverse Geocoding in Report app is designed to use the world geocoding service by default (if no service is configured in org) and if any geocoder is configured in the organization then the first geocoder from the org's geocoeder list will be used
 ![image](https://user-images.githubusercontent.com/9443956/146877149-0ed83b35-ca1c-4989-9415-1d8b39919c82.png)
- So if you want to use any

[2021-12-21 05:52] sumitzarkar commented on #515
@aparveen

Let's discuss and finalize the approach on this.

[2022-01-06 16:08] aparveen opened #526 "Crowdsource Reporter is not showing any records after the web map is saved in new map viewer"
Crowdsource Reporter has the same issue as Manager.

To Repro:

1. Deploy Citizen Problem Reporter solution
2. Add a few records using Citizen Problem Reporter app
3. Open manager and notice the records are visible in table and map.
4. Open the Citizen Problem Manager map in new map viewer (not the classic viewer)
5. Save the map and refresh manager app and notice that the records are not visible

[2022-01-06 16:13] aparveen commented on #526
We analyzed this issue and here are our findings:

- This issue is reproducible in both Reporter and Manager app.
-
- Reporter and Manager app have a WebmapList widget and it filters the webmap and layers based on some conditions like if the layer has capabilities and if the layer is visible or not. Based on such conditions it filters the webmaps to be shown /considered for use in the application.

[2022-01-06 16:15] aparveen commented on #526
@sumitzarkar I couldn't assign you, so assigned it to Ganesh

[2022-01-07 06:04] sumitzarkar commented on #522
@aparveen

We analyzed this issue and here are our findings:
 - The Reporter app was designed to have the search widget always
 - Initially, App only use to honor the geocode services configured in the organization settings. And, if no geocoders in the org settings it fallbacks to ArcGIS World Geocoding service.
 - With the implementation of  #265 , We added the functionality to allow user to conf

[2022-01-07 18:05] sumitzarkar commented on #515
@aparveen

As discussed on the call here are the options we see to improve the user experience:

### Option1:
 - Only update the string and add hint text regarding the option in the configuration. If required make this checkbox checked by default.
   <img src="https://user-images.githubusercontent.com/22743029/136910297-6eefb15a-ef5d-458b-89ff-9a415e46536e.png" >

### Option2:
 - On load show a po

[2022-01-14 16:28] aparveen commented on #515
Adding our conversation to this issue clarifying the actual functionality of the parameter.

Aziza- By default if location of the device is enabled (in browser), Reporter will honor the current location right?
CT: If above checkbox is unchecked and if location of the device is enabled then Reporter will honor the current location

Aziza-  This particular parameter will only stop showing the pop up

[2022-01-17 11:08] sumitzarkar commented on #523
@aparveen

As discussed on the call no action is required on this from our side

[2022-01-19 09:31] sumitzarkar commented on #522
@aparveen

Please confirm if we should proceed wihth this string change

![image](https://user-images.githubusercontent.com/9443956/148498892-1aa39d40-828b-4291-a705-45b738cb1475.png)

[2022-01-19 09:33] sumitzarkar commented on #515
@aparveen @skrishn

Please suggest the strings changes required for this ticket
![image](https://user-images.githubusercontent.com/9443956/150103248-d00a7c70-b258-4c11-a5c2-b7eeaddb9f1c.png)

[2022-01-19 17:38] aparveen commented on #515
@skrishn what do you think about the following strings, any concern, suggestion?
![image](https://user-images.githubusercontent.com/10148401/150184227-0396b6f4-0540-4129-8291-e12bb68af8c2.png)

[2022-01-19 18:43] aparveen commented on #522
@skrishn any suggestion on these strings?
![image](https://user-images.githubusercontent.com/10148401/150193974-8794c232-5e4f-4a32-9731-fc330a66a566.png)

[2022-01-19 23:43] skrishn commented on #522
@sumitzarkar
Please use the text below:

( Description section)
Configure the app with locator(s) from your organization to allow users to find location or data in the map, and optionally customize search properties for each locator.

(Text for the checkbox)
Enable to select locator(s)

cc @aparveen

[2022-01-20 00:01] skrishn commented on #515
@sumitzarkar

![image](https://user-images.githubusercontent.com/3836616/150236869-8a825a26-682f-4a47-a31e-7747c587bca2.png)
Please refer to the image, and make the changes as marked

- Replace text for 1 to 'Geolocation settings'
- Replace text for 2 to 'Allow users to access the application without using their current location‎'
- Replace text for 3 to
'By default, the application will prompt th

[2022-01-20 09:57] sumitzarkar commented on #522
@skrishn  @aparveen

### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No   |   | ​
Required Backward compatibility​ | No  |   | ​
Required 508​ | No  |   | ​
Need Sanitize?​ | No  |   | ​
___

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | Yes
Have Runtime changes?​ | No
Impact on RTL | No
String

[2022-01-20 09:57] sumitzarkar commented on #515
@skrishn  @aparveen

### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No   |   | ​
Required Backward compatibility​ | No  |   | ​
Required 508​ | No  |   | ​
Need Sanitize?​ | No  |   | ​
___

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | Yes
Have Runtime changes?​ | No
Impact on RTL | No
String

[2022-01-20 09:59] sumitzarkar commented on #526
@aparveen @skrishn

### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No   |   | ​
Required Backward compatibility​ | Yes  |   | ​ Need to check with older Applications if any difference is observed in showing/hiding layers that are turned off /on from the webmap
Required 508​ | No  |   | ​
Need Sanitize?​ | No  |   | ​
___

### Impact Analys

[2022-02-16 00:50] LindsayThomas opened #528 "Custom Vector basemap issue?"
Issues: Reporter map won't load when the application is opened. When she clicks on a category, the web map loads as expected. This is happening when using a Custom Vector basemap.

Steps to repro:
-Create a web map

Import this custom basemap into ArcGIS Online > Content > Click "New item" > Select "URL" > Insert the URLs below:
https://tiles.arcgis.com/tiles/B6yKvIZqzuOr0jBR/arcgis/rest/services/

[2022-02-16 00:51] LindsayThomas commented on #528
I mistakenly posted this in the manager issue list here: https://github.com/Esri/crowdsource-manager/issues/335

@sumitzarkar Are you able to take a look at this issue and see if you can repro? If you can are you able to give us a LOE on a fix?

@skrishn FYI

[2022-02-16 04:06] sumitzarkar commented on #528
@LindsayThomas  @skrishn

We are analyzing this issue and will share the details soon

[2022-02-17 04:59] skrishn commented on #528
@sumitzarkar Here is the sample app https://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=dae170b0fb324f14990a1775e371f01e and I showed you on the call, the issue is n. Please investigate and share your findings. Thanks!!

cc @LindsayThomas

[2022-02-22 06:49] sumitzarkar commented on #528
@LindsayThomas @skrishn

We tried to reproduce this with all the above steps and also tried different combinations still we are not able to reproduce this issue.

@skrishn - As we tried on the call the other day you were also able to reproduce it only once. Please let us know if you are now able to consistently reproduce the issue. If you have time we can discuss it after tomorrow's call

[2022-02-22 22:39] skrishn commented on #528
@sumitzarkar I am not able to repro it consistently. Let me try a few more things and call you

[2022-03-02 14:44] sumitzarkar commented on #528
@LindsayThomas @aparveen

@skrishn  As disussed on the last call we are able to reproduce this issue with following conditions:

1. There should be at least 8 webmaps present in the application.
2. First webmap in the application should contain vector basemap.
3. Issue is reproducible only on load for the first time. Once user clicked on any of the webmap present, the issue becomes un-reproducible

[2022-03-07 17:21] aparveen commented on #528
@sumitzarkar do you have any update on this? if we don't have any fix by 11th, can we move to next release

[2022-03-07 17:29] sumitzarkar commented on #528
@aparveen we have not fond any feasible solution to this issue. Let's push this to next release.

[2022-03-14 23:06] aparveen commented on #526
Verified in qa

[2022-03-14 23:06] #526 closed

[2022-03-14 23:07] #523 closed

[2022-03-14 23:08] aparveen commented on #522
Verified in qa

[2022-03-14 23:08] #522 closed

[2022-03-14 23:11] aparveen commented on #515
Verified

[2022-03-14 23:11] #515 closed

[2022-03-28 06:01] sumitzarkar commented on #528
@aparveen  @skrishn

### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No   | - | ​
Required Backward compatibility​ | No  | -  | ​
Required 508​ | No  | -  | ​
Need Sanitize?​ | No  | - | ​
___

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | No
Have Runtime changes?​ | Yes
Impact on RTL | No
Othe

[2022-03-28 20:35] aparveen commented on #528
@sumitzarkar could you please make sure that your testing team test this change on both classic map viewer map and new map viewer maps?

[2022-04-18 17:21] skrishn commented on #528
verified in dev

[2022-05-04 21:38] chris-fox opened #532 "If logged in user doesn't have a first or last name in their profile, the form will fail to load if the app is configured to auto-populate fields using this information"
This issue is related to #512. I hit this issue during testing in Enterprise, I was using a portal with IWA. I deployed Citizen Problem Reporter and logged-in using my esri account. When I attempted to submit a new report the form was blank and there were a couple console errors.

I found through troubleshooting that in the portals/self request that my logged in user did not have a first or last n

[2022-05-04 22:54] aparveen commented on #532
@sumitzarkar could you please assess the level of effort to fix this issue?

[2022-05-05 08:43] sumitzarkar commented on #532
@aparveen

- We are not able to reporduce this case with AGOl / Portal users as it is not allowing to create users without or empty  FirstName and Lastname.
- As mentioned in the ticket this issue is observed when using a portal with IWA
- It would be helpful if we get the screenshots of the console errors or if possible the application to reproduce this issue

[2022-05-05 13:37] chris-fox commented on #532
I unfortunately added my firstName and lastName to my user when testing and can no longer reproduce. It is really easy to reproduce in debug though, just remove the firstName or lastName property from the user object returned from REST.

[2022-05-11 07:42] sandhyakurumanale-ct commented on #532
@aparveen
### Dev Checklist

Items  | Is required | Status | Comments
-- | -- | -- | --
Required NLS changes? | No | - |
Required Backward compatibility | No | - |
Required 508 | No | - |
Need Sanitize? | No | - |

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes? | No
Have Runtime changes? | Yes
Impact on RTL | No
Runtime impacts | 1. If the logged-in user

[2022-06-20 16:45] skrishn commented on #528
verified in qa

[2022-06-20 16:45] #528 closed

[2022-08-16 22:29] aparveen opened #537 "Reference Layer is not showing in the app"
User is having some trouble with getting reference layers to show up. she  configured it to show reference layers in the options tab within the app, it shows in the legend but will not draw. A link to the application  is below in case that helps.
App: https://gnrc.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=ca5d29c5a000423393a9c895aad18d89
Maps:
1) https://gnrc.maps.arcgis.com/apps/m

[2022-08-16 22:31] aparveen commented on #537
@sumitzarkar could you please look at this issue?

[2022-08-17 07:19] sumitzarkar commented on #537
@aparveen

We are analyzing this and will share our findings soon

[2022-08-24 05:11] sumitzarkar commented on #537
@aparveen

- We are able to reproduce this issue
- This is only reproducible only when webmap is created with the new map viewer  and has refrence layers
- We found the root cause for this and it is due to the layer.visibility property in new map viewer - Similar to #526

## Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No   |   | ​
Required

[2022-10-28 19:05] skrishn commented on #537
verified in qa

[2022-11-01 15:44] #537 closed