[2015-01-20 03:06] allisonmuise opened #3 "Zoom to issue doesn't work in desktop view"
in the desktop view of the app, clicking the 'map' icon for an issue should zoom the map to the location of that issue, at the zoom level specified in the configuration. Currently clicking this button does nothing.

[2015-01-20 03:08] allisonmuise opened #4 "Increase obviousness of selected map/layer"
In the desktop view, the selected map is indicated by colouring the border of the selected map in the left panel, and the selected layer is indicated by chainging the name at the top of the right panel.

Please propose a way to make both the map and layer selection more obvious in the left panel.

[2015-01-20 03:09] allisonmuise opened #5 "Open feature panel when feature selected in the map"
When the right-hand panel is hidden, selecting a feature in the map should re-open the panel to display info about the selected feature.

[2015-01-20 03:15] allisonmuise opened #6 "Duplicate values showing in new features"
When submitting a new report, any parameters left empty appear to take on the value of another surrounding (populated) parameter.

For example, if a feature is added with the following 3 parameter values:
parameter 1: FC-215
parameter 2:
parameter 3: 6

The following will be displayed when reviewing the values:
parameter 1: FC-215
parameter 2: 6 **<- this value shouldn't be here**
parameter 3: 6

[2015-01-20 03:23] allisonmuise opened #7 "Features can be created with illegal null values"
When a field does not accept null values, the related parameter should (and does) display 'required' at the end of the parameter name. Despite this, no value is required in these fields to submit the report.

The submit button should be disabled until all required fields are completed.

[2015-01-20 03:26] allisonmuise opened #8 "Display/refresh issues in Safari"
The application does not display correctly in Safari (v5.1.7 7534.57.2) on a desktop.

Selecting map and layer:
![1-19-2015 3-33-31 pm](https://cloud.githubusercontent.com/assets/2752195/5811776/eb1442b8-a010-11e4-93eb-a3a8e1fdee97.png)

Creating a report:
![1-19-2015 3-34-21 pm](https://cloud.githubusercontent.com/assets/2752195/5811786/fe81b920-a010-11e4-87eb-8b629923440a.png)

[2015-01-20 03:28] allisonmuise opened #9 "message on app load"
On application load, developer tools in Chrome display the following message:

"The XMLHttpRequest progress event property 'position' is deprecated. Please use 'loaded' instead."

[2015-01-20 03:29] allisonmuise opened #10 "Date formats"
What is the source of date formats displayed in the app?

[2015-01-20 03:36] allisonmuise opened #11 "Add configuration option for AGOL sign in"
The sign in buttons for FB, Twitter, and Google+ can all be hidden by configuration. Please make the appearance of the AGOL sign in icon configurable as well.

[2015-01-20 03:37] allisonmuise opened #12 "Configurable zoom level"
When is the configured zoom level used?

[2015-01-20 03:39] allisonmuise opened #13 "Consistent date formats"
The date format for the Created Date and the Modified Date values in the item details don't match the format used when displaying dates in the data. Please use consistent date formats.

[2015-01-20 03:46] allisonmuise opened #14 "Turning on some item details causes error"
Opening the app after enabling display of Tags or Views causes the browser error "Undefined is not a function"

[2015-01-20 03:49] allisonmuise opened #15 "Cannot open links from map description"
If a map description contains a link, it can only be opened by left-clicking the link and choosing 'open in new tab'. Right-clicking the link does nothing. Links should open in new tabs when left-clicked.

[2015-01-20 03:53] allisonmuise opened #16 "No MGRS search"
Searching for an MGRS value such as 4QFJ12345678 returns no values.

It also appears that the configuration options for USNG and MGRS both refer to USNG, as searching for a USNG coordinate returns 2 identical results - 1 marked as USNG and one marked as MGRS.

[2015-01-20 03:55] allisonmuise opened #17 "No address search"
searching for an address such as 123 main st naperville il returns no results.
The app should use the address locator(s) configured in the organization as well as any locators configured in the organization (MGRS, USNG, lat/long).

[2015-01-20 03:56] allisonmuise opened #18 "Organization URL is hard-coded"
The organization URL ishard-coded in the default.js file. This parameter must be 'arcgis.com' in order for the app to work while hosted in AGOL. Please fix.

[2015-01-22 05:45] #12 closed, assigned to nobody

[2015-01-22 17:50] #3 closed, assigned to nobody

[2015-01-22 17:50] #10 closed, assigned to nobody

[2015-01-22 17:52] #11 closed, assigned to nobody

[2015-01-22 17:53] #16 closed, assigned to nobody

[2015-01-26 23:24] #9 closed, assigned to nobody

[2015-01-27 17:24] MikeMillerGIS opened #20 "Custom Pop ups are not displaying"
I have configured a custom attribute display in my pop up.  This is stored in the wemap as the description:(cant figure out how to show the raw text in my example below, it is being formated)

<pre>"description": "Issue reported on {CreationDate} and last updated on {EditDate}.<div><br /></div><div>Additional Details:</div><div>{COMMENTS}<br /></div>",</pre>

In the app, a field list is being show

[2015-01-27 18:40] MikeMillerGIS opened #21 "Date Field in Title - Displaying seconds since epoch"
Data needs to be formated, raw value is being displayed now

Fire Hydrant reported on1422381017874

needs to be
Fire Hydrant reported on 1/27/2014 ....

This only occurs when edit tracking is enabled after a webmap is created and the pop up is defined.  The Edit Tracking fields are not present in the pop definition.

To repo, create a webmap and remove the pop up info for the date field.

[2015-01-27 18:47] MikeMillerGIS opened #22 "Formatting issue in title when fields are used"
A space between the field and text is missing.

Formatting defined in pop up - {EQTYPE} reported on {CreationDate}

![bug](https://cloud.githubusercontent.com/assets/2707285/5924556/d16b8c5c-a62a-11e4-8096-0354377fddc7.png)

[2015-01-28 14:38] MikeMillerGIS opened #23 "Tablet view needs to be more intutive"
In tablet view, it is hard to determine what to do when the app is opened.  It is hard to tell that I have to click a map name and once I open the map to know what to do with the layers.  The edit button to so far away, it is hard to see and hard to correlate with the active layer.  Not sure what best fix is, but maybe something like letting the user input custom text to the map and layer display.

[2015-01-29 17:39] #7 closed, assigned to nobody

[2015-01-30 18:45] #18 closed, assigned to nobody

[2015-01-30 18:47] #4 closed, assigned to nobody

[2015-01-30 18:48] #5 closed, assigned to nobody

[2015-01-30 18:49] #6 closed, assigned to nobody

[2015-01-30 18:50] #14 closed, assigned to nobody

[2015-02-02 21:25] #21 closed, assigned to nobody

[2015-02-02 21:26] #13 closed, assigned to nobody

[2015-02-02 21:28] #22 closed, assigned to nobody

[2015-02-02 21:49] allisonmuise opened #25 "remove default app name in config panel"
\default value should be ""

[2015-02-02 21:54] allisonmuise opened #26 "add max number of chars to Title and Subtitle in config panel"

[2015-02-02 22:02] allisonmuise opened #27 "add max number of chars to Title and Subtitle in config panel"

[2015-02-02 22:07] allisonmuise opened #28 "store user credentials with comments"
repro steps:

App is configured to use field NAME for storing reporter name. Field NAME exists in feature class and related comments table.

1) sign into app using social media

2) Create a feature. Username is successfully written to NAME field for new feature

3) Comment on another feature. Username is NOT written to NAME field of comments table.

Please keep track of credentials in the comments

[2015-02-02 22:16] allisonmuise opened #29 "Cannot change group using config panel"
1) Share a group using the app
2) In the config panel choose another group
3) Click Save and Done
4) Open the application. The content displayed is from the initial group used, not the group that was selected in the config panel.

[2015-02-02 22:16] allisonmuise opened #30 "Cannot sign in using google+"
allison investigate further

[2015-02-02 23:24] allisonmuise opened #31 "symbology changes when zooming"
Symbols change from those defined in the layer to black points when zooming in on the map.

Tested on iPhone, Tab S, iPad, Desktop Chrome

[2015-02-02 23:32] allisonmuise opened #32 "cannot configure background image"
splash screen background image is not configurable.

[2015-02-02 23:36] allisonmuise opened #33 "click/tap issue title should open details"
currently, you have to click/tap the title in order to see the item details. Clicking anywhere in that bar should expand the details view.

[2015-02-02 23:45] allisonmuise opened #34 "Bold layer name at top of GeoForm"
The layer name at the top of the geoform doesn't stand out fro mthe rest of the test on the page. Let's bold it too.

[2015-02-02 23:49] allisonmuise opened #35 "Decrease size of map control"
Navigating on the GeoForm on a touch device is difficult because  of the size of the map control. The geoForm can't be scrolled while the map is covering the screen.

For all devices:

1) decrease the width of the map control so that the left side aligns with the line between the search button and the X

2) decrease the height of the control by 30%

[2015-02-02 23:50] allisonmuise opened #36 "Search button doesn't match the rest of the UI"
Icons elsewhere in the UI are grey and of similer size. The search button in the GeoForm is black, smaller, and off-center in the button space.

[2015-02-02 23:59] allisonmuise opened #37 "Option to restrict dates to current/past"
suggested by Heather

[2015-02-03 00:03] #26 closed, assigned to allisonmuise

[2015-02-03 01:01] allisonmuise opened #38 "Cannot edit values on Android tablets"
This was initially reported by CyberTech on a Tab 4 (Android 4.4.2).

I can repro on our Tab S (4.4.2) and Tab 2 (4.1.2).

Any text editing operation that causes the keyboard to open causes a refresh.

[2015-02-03 01:04] allisonmuise opened #39 "Revisit 'No issues found' message and UX when on mobile device"
This message is very GIS-y and on a mobile device the reference to extents is confusing considering that no map has been shown yet.

[2015-02-03 01:05] allisonmuise opened #40 "Show number pad for all numeric fields"
In the geoform, when entering an integer the number appears instead of the keyboard. Float and Double fields show the keyboard. They should also show the number pad.

[2015-02-03 01:08] allisonmuise opened #41 "Don't store social media alias"
When storing social media credentials, don't store the alias associated with the account. These are frequently changed and are not required to be unique. Storing the system (twitter, google+, etc) with either the username/handle (in twitter this is the @ value) and/or the GUID should be sufficient.

Currently when users create features, these features disappear from 'their' list when they change t

[2015-02-04 16:46] #8 closed, assigned to nobody

[2015-02-04 16:47] #17 closed, assigned to nobody

[2015-02-04 16:52] #15 closed, assigned to nobody

[2015-02-04 17:53] #40 closed, assigned to nobody

[2015-02-05 02:28] #38 closed, assigned to nobody

[2015-02-05 21:14] allisonmuise opened #42 "typos in identity strings"
When the user is signed in using Facebook, the identity string that is stored says 'FaceBook'. The correct capitalization is 'Facebook'.

Can the String for Google+ be 'Google+'? If there is an issue with the +, please make this 'GooglePlus'

[2015-02-05 23:25] #30 closed, assigned to allisonmuise

[2015-02-06 23:21] allisonmuise opened #43 "Social media sign in"
Follow-up to my conversations with Dr Anand and Sumit this morning and last week:

If the email address always accessible on all three social media platforms, regardless of account security settings, please store the email address of a user instead of the name of the social medial platform and account GUID.

This will help users to see all their issues, even if they have been submitted using multi

[2015-02-09 17:11] #41 closed, assigned to allisonmuise

[2015-02-10 16:57] #42 closed, assigned to nobody

[2015-02-12 23:14] #27 closed, assigned to allisonmuise

[2015-02-13 17:01] #36 closed, assigned to CTLocalGovTeam

[2015-02-13 17:02] #35 closed, assigned to CTLocalGovTeam

[2015-02-13 17:02] #34 closed, assigned to CTLocalGovTeam

[2015-02-13 17:03] #33 closed, assigned to CTLocalGovTeam

[2015-02-13 17:03] #31 closed, assigned to CTLocalGovTeam

[2015-02-13 17:05] #29 closed, assigned to CTLocalGovTeam

[2015-02-13 19:16] allisonmuise opened #45 "Geoform not honoring layer templates"
As discussed in this morning's meeting with Dr. Anand, Sumit, and Avijit.

When templates including default values are defined on the web map layer, these default values are not populated on features that are created through the geoform. They are used when creating features through the web map.

[2015-02-13 23:34] #43 closed, assigned to CTLocalGovTeam

[2015-02-13 23:46] #32 closed, assigned to CTLocalGovTeam

[2015-02-13 23:54] #20 closed, assigned to CTLocalGovTeam

[2015-02-14 00:08] allisonmuise opened #46 "Remove horizonal constraint on icon"
long icons are being compressed horizontally. Allow them to expand next release

[2015-02-17 16:57] allisonmuise opened #47 "App spins on repeated sign in/sign out using IE9"
This was reported to Dr Anand and Sumit on Friday, adding to GitHub for tracking purposes.

Using IE9 only:
Using Guest, social media, or AGOL credententials, sign in to the app.
Sign out of the app
Sign back into the app - app will spin
Cache must be cleared before signing back in again.

[2015-02-18 15:16] #25 closed, assigned to allisonmuise

[2015-02-21 00:42] #45 closed, assigned to CTLocalGovTeam

[2015-02-21 00:48] #47 closed, assigned to CTLocalGovTeam

[2015-03-04 21:01] allisonmuise opened #49 "List layers in TOC order"
Layers are currently listed alphabetically

[2015-03-04 22:08] allisonmuise opened #50 "Add shortcut icon"
app doesn't currently have an icon when shortcuts are created on phones/tablets
Icon should be high resolution for crisp display on high pixel density devices.

[2015-03-04 22:09] allisonmuise opened #51 "Display app name in browser tab"
browser tabs currently say 'Constituent Engagement'

[2015-03-05 16:57] allisonmuise opened #52 "add documentation for getting app from EAT group"
include a link in the help that points people to the blog on using early adopter templates

[2015-03-16 17:43] karmstro77 opened #53 "Configuration should provide list of fields instead of free text entry"
When on the configuration page for the app, the user must select fields containing # Votes, user credentials, etc. These are free text fields. It would be great if it were a pick list instead. This would remove the need for the user to go back and find the field name or perhaps misspell it.

![image](https://cloud.githubusercontent.com/assets/6819070/6672368/75a5ca76-cbe2-11e4-8d54-a6d607063558.pn

[2015-03-18 16:25] allisonmuise opened #54 "Change graphic marking selected feature in map"
Please use a plain cyan square around the selected feature, rather than the current cyan square with crosshairs.

[2015-03-19 17:12] TFimpel opened #55 "Option to make Report-It the default view after selecting webmap"
It might be more user friendly if on selecting a webmap/issue-category the geoform would be open by default, instead of the list view of existing issues. I say that because in most cases the primary reason a user goes to this map is to submit a new point. Reviewing and commenting on existing points is only the secondary purpose a user would visit this application. Especially if the map is empty it

[2015-03-19 17:27] allisonmuise commented on #55
@TFimpel
I completely agree. We're working with our design team right now on changes that will make submitting reports easier and more intuitive. One of the original requirements of this app was to display the list first to help avoid duplicate submissions, but that doesn't mean we need to bury the GeoForm in a menu. Our current plan is to put a 'report it' button right on the list (and map) itsel

[2015-03-19 18:55] TFimpel commented on #55
@allisonmuise thanks for the reply, I am very happy to hear that! Please also keep in mind that many organizations perceive displaying user-contributed content on a public-facing app as risky and/or costly to monitor. An option to disable much of the list view and only show the title of existing points on mouse-hover or tap might be useful. Thanks again!

[2015-03-19 19:21] allisonmuise commented on #55
@TFimpel Yup, we've definitely thought of that. The content that's visible in the list view is driven by the popup in the source web map, so fields can be hidden in the app just by turning them off in the web map popup. We are also working on a series of solutions that will lay down a pattern of including a sort of spam filter field in the layers. The web map can then be filtered to show only the

[2015-03-19 19:29] TFimpel commented on #55
@allisonmuise
Awesome!

[2015-03-19 19:34] allisonmuise commented on #53
@karmstro77  we did think about this, but this is a group template - there could (and likely will be) many maps, each with many layers, and each of those having many fields. I agree that a pick list would be easier to choose from *if it was short*, but many use cases will have dozens (if not hundreds) of fields across all the maps and layers. For this reason we chose to go with free-typed field na

[2015-03-20 14:33] karmstro77 commented on #53
Would it be possible to just have a pick list of all the web maps in the group. Once you select a web map, it populates another pick list of the available fields?

[2015-03-20 18:02] allisonmuise commented on #53
The current AGOL app configuration panel doesn't have a parameter type that would support map>layer>field selection. It does have a layer>field selector, but then we're back to the problem of choosing which map to pull the layers and fields from.

Would you expect to need to set each of the fields on each of the layers in each o fthe maps?

[2015-03-20 22:19] allisonmuise opened #56 "Add in-app help"
Add an in-app help window that will open in front of the app on desktop and tablet devices, and full-screen in front of the app on smartphones. This should not open in another tab - it should be part of the app.

The content of this window will be a block of text that will be configurable though the app configuration panel.

Help will be accessed by clicking an icon in the UI - location TBD. I am

[2015-03-20 22:26] allisonmuise opened #57 "Add search to map view"
Add a search widget to the map view. This widget should search using the map search settings (geocoders and/or layers).

The widget should display like the search in this map: http://www.gisday.com/gis-day-events-map.html

[2015-03-20 22:30] allisonmuise opened #58 "Move nav controls to left side of map"
Zoom in, zoom out, and current location are currently in the top right corner of the map, please move them to the top left corner instead.

[2015-03-20 22:42] allisonmuise opened #59 "consolidate panels (desktop/tablet view)"
remove the left panel that displays the map/layer list.

On app load, display the map/layer list in the right-hand panel. Display the features from the first layer in the first map in the map area. If the first map has multiple layers, it should be expanded to show the layer list and the displaying layer should be emphasized (current behavior)

On selecting a map with multiple editable layers, kee

[2015-03-20 22:51] allisonmuise opened #60 "remove menu (smartphones) and report/sign in/my issues icons (desktop/tablet)"
In smartphone view remove the current menu icon and the side panel that appears when it is clicked.  In tablet/desktop view remove the sign in, report it, and my issues buttons.

In both cases these should be replaced with a small popover window like what is found in the Manager app.

Anonymous access: Display 'Sign In' in the top right corner

Authenticated user: display the name of account holde

[2015-03-20 22:54] allisonmuise opened #61 "Use group thumbnail for app icon"
If the group has a thumbnail, this thumbnail should be displayed as the app icon in the top left corner of the app.

If an image is provided during the configuration of the app it should override the group thumbnail.

If the group does not have a thumbnail and no image is provided during configuration, use the current graphic as a fall-back.

[2015-03-20 23:01] allisonmuise commented on #55
I'm going to close this issue since we have a lot of ongoing work that will address these points. Over the next weeks you'll see a lot of issues in this repo assigned to our developers that will be working towards resolving these workflow issues and more.

If you see anything else we could be doing to make these apps work for you (have you seen crowdsource manager, the companion to this app?), or

[2015-03-20 23:01] #55 closed

[2015-03-20 23:02] allisonmuise commented on #23
@MikeMillerGIS I'm closing this because I'm in the process of setting up a queue of work for CT that will (hopefully!) address this issue.

[2015-03-20 23:02] #23 closed

[2015-03-20 23:20] allisonmuise opened #62 "remove geographic filtering on list view"
Instead of filtering the list based on what is currently in the map view (which doesn't make sense in the mobile UI) and sorting it on most recent:

**When the user gives access to their current location** filter the list to features that are within a configurable distance of their location and sort with the nearest features first. This will add 2 parameters to the configuration panel:
- text entr

[2015-03-20 23:22] allisonmuise opened #63 "add back button to list view header"
add a back button to the left side of the list view title bar. This button will return to the map/layer list.

@CTLocalGovTeam : I will provide a comp of this UI and a back button graphic, then assign this issue to you for work.

[2015-03-20 23:30] allisonmuise opened #64 "Add 'Report It' button to list and map view"
Add a button below the list view panel for opening the geoform.
Add the same button to the bottom of the map view in smartphone mode

@CTLocalGovTeam : I will provide a comp for this UI, then assign this issue to you for work.

[2015-03-20 23:36] allisonmuise opened #65 "use popup config for comment entry"
All editable fields in the related table should be presented for submitting comments, and the popup configuration should also be used for displaying comments in the comments list.

Fields that are editable (regardless of their 'display' status) should be available for entry.

Comment entry parameters should match what is configured in the popup (multi-line/single-line text, date, etc)

Comments sh

[2015-03-20 23:38] allisonmuise opened #66 "zoom to selected feature"
On selection of a feature from the list, zoom to the configured zoom level over that feature.

[2015-03-20 23:41] allisonmuise opened #67 "Update list view UI"
I am working with our design team to build a list view that will align with another crowdsourcing app we are working on. These changes will include removing the current comment, like, and map buttones from each item and displaying only the number of likes.

@CTLocalGovTeam : Please do not begin work on this until I assign this issue to you, complete with a comp and detailed description of each cha

[2015-03-20 23:44] allisonmuise opened #68 "Update details view UI"
I am working with our design team to build a details view that will align with another crowdsourcing app we are working on. These changes will include moving the current comment, like, and map buttons, and adding the comments to this frame.

@CTLocalGovTeam : Please do not begin work on this until I assign this issue to you, complete with a comp and detailed description of each change. Much of thi

[2015-03-20 23:52] allisonmuise opened #69 "add 'map' button to list view header (smartphone only)"
In smartphone mode only, add a button to the right side of the list view header for toggling to the map view of the issues.

The map is always visible in desktop/table view so this button should not be visible in these modes.

@CTLocalGovTeam : I will provide a comp for this change and the graphic for this button, then assign this issue to you for work.

[2015-03-20 23:55] allisonmuise opened #70 "Add 'list view' header to 'map view' (smartphone only)"
Keep the list view header visible, even in map view. This header should include the back button for returning to the map/layer list ( #63 ). Instead of a 'map view' button on the right side ( #69 ) there should be a 'list view' button.

@CTLocalGovTeam : I will provide a comp for this UI change and the graphic for this button, then assign this issue to you for work.

[2015-03-21 00:03] allisonmuise opened #71 "load geoform map with current map extents"
The map in the geoform should load with the same extents as the current map view.

If implementing this change will put resolving other issues at risk, please let me know. This is not a priority.

[2015-03-21 00:04] allisonmuise commented on #39
Not an issue after removing geographic filtering

[2015-03-21 00:04] #39 closed

[2015-03-21 01:01] allisonmuise commented on #62
@CTLocalGovTeam : I have assigned this issue to you because the issue is larger than just the UI change. I will provide the comp/graphic for the button as soon as possible.

[2015-03-26 16:18] allisonmuise opened #72 "Display geoform in right panel only"
Currently, when submitting a new report the geoform opens over the right panel and over the map. Please have the geoform open in only the right panel space.

This will mean that there will be two maps on the screen in desktop view and this is ok

[2015-03-26 16:19] allisonmuise commented on #61
Remove the file paths in the config panel and default config files.

[2015-03-26 16:21] allisonmuise commented on #60
UPDATE:
leave the menu icon in smartphone view, but style the menu like the Manager app.
For anonymous users the menu should contain:
- Sign In
- Help

For known users the menu should contain:
Name
- My Reports
- Sign Out
- Help

[2015-03-26 16:22] allisonmuise commented on #59
This right-side panel should be fixed, not collapsible like the current one.

[2015-03-26 16:25] allisonmuise commented on #62
Do no expand the buffer automatically if no features are found. Instead, display a message in the list are: 'No reports were found near you'
If location access was not given and no features are found the message should be: 'No reports were found'

[2015-04-01 17:22] allisonmuise commented on #62
@CTLocalGovTeam : In the phone call last week this question was raised: "Should only the listed features be displayed in the map?"

The answer to this is yes - only draw the features on the map that are currently included in the list.

[2015-04-02 22:19] phil7277 opened #73 "Configure link missing in Portal"
I deployed the application on to portal. Everything appears to function properly but options are missing. in the "item details " page, I do not have an option to "configure app". Utilizing portal 10.3.

[2015-04-03 16:00] allisonmuise commented on #73
@phil7277
It sounds like the item you created either:
A - Is a template (aka a configurable application item) rather than a fully configured app
To get a configure button:
1.	share this template with your group application templates group
2.	Open the group containing your reporter maps
3.	Share the group as an application
4.	Choose your reporter template to create a new web app item that will have

[2015-04-03 20:31] allisonmuise commented on #59
![reporter1](https://cloud.githubusercontent.com/assets/2752195/6987597/ab45e08e-d9fd-11e4-90f7-1a02d4c56c2f.jpg)

*Notes:*
The following items should be in the configured theme color:
- App title
- map titles
- sign in/sign out/username/other item text in this menu

The 'i' button beside each map has the same function as the current '...' button

[2015-04-03 20:34] allisonmuise commented on #56
see location in screenshot here: #59

[2015-04-03 20:41] allisonmuise commented on #62
![loadmoream](https://cloud.githubusercontent.com/assets/2752195/6988513/fe162964-da06-11e4-9635-0dc02ba8f4ee.png)

Display 'Load More' after the last item within the current buffer distance. Unlike the 'Submit a Report' button text, this should be tied to the end of the list, not the bottom of the panel.

[2015-04-03 20:43] allisonmuise commented on #63
![backbutton](https://cloud.githubusercontent.com/assets/2752195/6988553/5d466dae-da07-11e4-8089-55794441bbaf.png)

In list view this button should return to the map/layer list

[2015-04-03 20:55] allisonmuise commented on #64
![smartphonemapam](https://cloud.githubusercontent.com/assets/2752195/6988698/c85d0c1e-da08-11e4-87cd-763acc2d140e.png)
![smartphonelistam](https://cloud.githubusercontent.com/assets/2752195/6988700/cb52a0d2-da08-11e4-952d-dfae2cc56880.png)
![reporter2](https://cloud.githubusercontent.com/assets/2752195/6988702/cec7b928-da08-11e4-9f50-6e9dacc55d6f.jpg)
(note: we are still working on a toggle butto

[2015-04-03 20:57] allisonmuise commented on #67
![smartphonelistam](https://cloud.githubusercontent.com/assets/2752195/6988754/53fdf36e-da09-11e4-8af4-0e7ebf42fd6c.png)
![reporter2](https://cloud.githubusercontent.com/assets/2752195/6988756/59a9ab64-da09-11e4-9966-999a9f5e5723.jpg)

[2015-04-03 21:05] allisonmuise commented on #68
![advanced-detailed-comments](https://cloud.githubusercontent.com/assets/2752195/6988773/7cd04da0-da09-11e4-8f6a-2069af3ff10f.jpg)

![newcommentam](https://cloud.githubusercontent.com/assets/2752195/6988793/b1dd0772-da09-11e4-927c-6f53fcb4d8da.png)

Notes:
- Clicking the like button should increment the number shown in the title bar and invert the colors of the like button.
- Clicking the comment

[2015-04-03 21:06] allisonmuise commented on #67
Layer title and highlighting along left side of the mouse-over row are the theme color

[2015-04-03 21:08] allisonmuise commented on #69
![smartphonelistam](https://cloud.githubusercontent.com/assets/2752195/6988933/da7e29f8-da0a-11e4-8dd2-51e509c7dac7.png)

I do not have this graphic yet, but the toggle will go where the black square is shown above. I will add the graphic as soon as I get it

[2015-04-03 21:09] allisonmuise commented on #70
![smartphonemapam](https://cloud.githubusercontent.com/assets/2752195/6988944/f6c32fc8-da0a-11e4-8973-8cc1d25b113d.png)
I do not have this graphic yet, but the toggle will go where the black square is shown above. I will add the graphic as soon as I get it

[2015-04-03 21:26] allisonmuise commented on #70
back arrow
![back-arrow](https://cloud.githubusercontent.com/assets/2752195/6989185/7ad6205c-da0d-11e4-9ca1-19ea1eb97355.png)

[2015-04-03 21:31] allisonmuise commented on #68
Gallery open:
![galleryam](https://cloud.githubusercontent.com/assets/2752195/6989236/0b3c6c00-da0e-11e4-9e57-3226e765b8bd.png)

[2015-04-03 21:32] allisonmuise commented on #63
back arrow:
![back-arrow](https://cloud.githubusercontent.com/assets/2752195/6989244/2da1d74e-da0e-11e4-9d12-6342715a3788.png)

[2015-04-03 21:48] allisonmuise commented on #67
To minimize space requirements, the votes count on right side of each item should display numbers 1-999, then abbreviate using standard letters for thousands (k) 1k-999k

[2015-04-03 21:54] allisonmuise commented on #67
Vote count font: Arial Bold, 20px, color #000 with 35% opacity
Item title font: Arial bold, 16 px, #000
all 1px border horizontal separators are #ccc
back arrow container is 30px wide by 50px high with an opacity of 30%
submit report button is Arial Bold, 22px, #fff

[2015-04-03 22:30] allisonmuise commented on #68
Spec:
![detailsspec](https://cloud.githubusercontent.com/assets/2752195/6989895/5ba25c9c-da16-11e4-891d-097ba2b2d3f3.png)

[2015-04-03 22:31] allisonmuise commented on #59
info graphic:
![info](https://cloud.githubusercontent.com/assets/2752195/6989901/8844b7b8-da16-11e4-837a-ec3349f95494.png)

[2015-04-03 22:32] allisonmuise commented on #67
'likes' graphic:
![like](https://cloud.githubusercontent.com/assets/2752195/6989909/a22530f4-da16-11e4-8aab-35c84b903f62.png)

[2015-04-03 22:32] allisonmuise commented on #68
'likes' graphic:
![like](https://cloud.githubusercontent.com/assets/2752195/6989913/ae667760-da16-11e4-9cc6-83b2aa755dfd.png)

[2015-04-03 22:33] allisonmuise commented on #67
'back' graphic:
![back-arrow](https://cloud.githubusercontent.com/assets/2752195/6989919/d0170938-da16-11e4-9184-b1cc202f31b2.png)

[2015-04-03 22:34] allisonmuise commented on #68
'back' graphic:
![back-arrow](https://cloud.githubusercontent.com/assets/2752195/6989923/e68050a8-da16-11e4-92f1-8ad68c2a323c.png)

[2015-04-03 22:35] allisonmuise commented on #68
Comment button graphics:
![commentblue](https://cloud.githubusercontent.com/assets/2752195/6989931/fc792768-da16-11e4-9262-cebdb034cbb7.png)
![commentwhite](https://cloud.githubusercontent.com/assets/2752195/6989932/fe3cd784-da16-11e4-9d93-117f20015e8f.png)

[2015-04-03 22:35] allisonmuise commented on #68
Gallery button graphics:
![galleryblue](https://cloud.githubusercontent.com/assets/2752195/6989933/06132a12-da17-11e4-841a-924217c55716.png)
![gallerywhite](https://cloud.githubusercontent.com/assets/2752195/6989934/077f702c-da17-11e4-9862-0429d83a0520.png)

[2015-04-03 22:35] allisonmuise commented on #68
Likes button graphics:
![likewhite](https://cloud.githubusercontent.com/assets/2752195/6989942/174d2ea4-da17-11e4-8d45-fd540c90b25b.png)
![likeblue](https://cloud.githubusercontent.com/assets/2752195/6989941/174bbc36-da17-11e4-9b35-13db2d4dc998.png)

[2015-04-03 22:37] allisonmuise commented on #64
see #67  for spec

[2015-04-03 22:37] allisonmuise commented on #63
see #67  for spec

[2015-04-03 22:38] allisonmuise commented on #59
Panel background is #F0F0F0
horizontal separators are 1px #ccc

[2015-04-06 16:37] allisonmuise commented on #67
Issue titles are popup titles and they should be shown on one line. If they don't fit on one line, show an ellipsis.

Submit Report button should be green, but this should be available in the configuration file (not the configuration UI)

[2015-04-06 16:38] allisonmuise commented on #70
Navigation icons are grey (not theme color)
Pleas swap the placement of the search and geolocation widgets from how theyare shown above. The order from top to bottom should be:
- zoom in
- zoom out
- geolocate
- search

[2015-04-06 16:42] allisonmuise commented on #68
Formatting of details and comments is driven by popups and should be handled as it is in the current app.

[2015-04-06 16:42] allisonmuise commented on #68
'Liking' should remain as it is in the current app with the ability for a single user to 'like' an issue multiple times.

[2015-04-06 16:44] allisonmuise commented on #56
On smartphones, 'help' will be accessible from the menu, not from an icon in the title bar.

[2015-04-06 17:02] allisonmuise commented on #67
list -> map toggle
![map-pin](https://cloud.githubusercontent.com/assets/2752195/7008053/f93b699c-dc43-11e4-9aab-b0dfa3ffadf4.png)

[2015-04-06 17:03] allisonmuise commented on #70
map view -> list view icon
![list](https://cloud.githubusercontent.com/assets/2752195/7008074/27168b4e-dc44-11e4-8eb5-27617b75b545.png)
(graphic is white on transparent)

[2015-04-06 17:04] allisonmuise commented on #69
list - > map view button:
![map-pin](https://cloud.githubusercontent.com/assets/2752195/7008097/48e6b794-dc44-11e4-8d79-afb3bad09783.png)
(graphic is white on transparent)

[2015-04-06 17:06] allisonmuise opened #74 "Submit report UI"
![reporter5](https://cloud.githubusercontent.com/assets/2752195/7008135/9d383c96-dc44-11e4-8f52-78c63e8f4ab8.jpg)

[2015-04-06 20:13] allisonmuise commented on #59
UPDATE to theme color use:
App title should be theme color
Map titles should be #555

[2015-04-06 20:16] allisonmuise commented on #59
When a map has multiple editable layers, clicking the map should expand a list of #555 layer names on the same #F0F0F0 background. The map tile should be #F0F0F0 unless (on desktop) the cursor is hovering there. The backgrounds of the layers should also turn white on hover.

[2015-04-06 20:21] allisonmuise commented on #68
Instead of the 50/50 split, the boundary between the details and the comments should adjust to fit the content. There will be a single scroll bar for this panel that will scroll everything from the title to the bottom of the panel.

If possible, the 'like', 'comment', and 'gallery' buttons should not scroll off the panel. If the details are longer than one screen, these buttons should 'stick' to t

[2015-04-06 20:23] allisonmuise commented on #67
In desktop view only:
When returning to the list view from the details view, indicate the selected feature in the list by using the theme color in place of the #F0F0F0 background color of the selected list item.

[2015-04-06 20:24] allisonmuise commented on #56
user experience should be similar to the Polling app:
https://arcgis.github.io/crowdsource-polling/

[2015-04-17 13:07] CTLocalGovTeam commented on #66
@allisonmuise Map and issue list will be in sync. Zooming to feature will refresh the issue list too. Hence we will existing behavior of highlighting the feature without zooming. Please confirm.

[2015-04-17 15:45] allisonmuise commented on #66
yes, that is correct. I will move this issue to next release

[2015-04-20 14:39] CTLocalGovTeam opened #75 "Update UI for My Issues"
1. Authenticated smart phone users can access ‘My Issues’  from menu icon
2. Authenticated tablet and desktop users can tap ‘Caret’ icon or user name; then tap ‘My Issues’
3. List of My issues will be displayed with
  * App Title bar followed by Layer Title bar
  * Layer Title bar will show ‘My Issues’; configurable from NLS
  * Webmap name and Layer name will be displayed with ellipses (if requir

[2015-04-20 16:20] allisonmuise commented on #75
@CTLocalGovTeam  Looks good! Please proceed.

[2015-04-20 16:36] allisonmuise commented on #73
@phil7277 : closing this as we're now working with support to figure out what's going on.

[2015-04-20 16:36] #73 closed

[2015-04-20 20:30] allisonmuise commented on #28
I'm putting this one in the backlog as well since we have decided not to make other changes to the commenting workflow for this release.

[2015-04-20 20:33] allisonmuise commented on #64
Add button graphic:
![add](https://cloud.githubusercontent.com/assets/2752195/7239842/c799b76c-e761-11e4-903d-e836ee2da1a5.png)

[2015-04-20 20:34] allisonmuise commented on #74
![geoformspec](https://cloud.githubusercontent.com/assets/2752195/7239851/e55de458-e761-11e4-8f27-b3569c419f7f.png)

[2015-04-20 20:34] allisonmuise commented on #59
![maplistspec](https://cloud.githubusercontent.com/assets/2752195/7239866/fe83d938-e761-11e4-878a-35d8b85b1965.png)

[2015-04-20 20:35] allisonmuise commented on #68
![detailscommentspec](https://cloud.githubusercontent.com/assets/2752195/7239875/0a0de492-e762-11e4-9bfb-b62534d40a50.png)

[2015-04-20 20:37] allisonmuise commented on #74
Note that the 'Submit' button is now on the left and 'cancel' is on the right

[2015-04-20 20:39] allisonmuise commented on #68
Note that the comments 'Submit' button is on the left and the 'Cancel' button is on the right

[2015-04-20 20:40] allisonmuise commented on #64
Map view spec:
![mapspec](https://cloud.githubusercontent.com/assets/2752195/7239997/c7b36350-e762-11e4-8373-973bcc66814c.png)

[2015-04-20 20:40] allisonmuise commented on #67
![issuesspec](https://cloud.githubusercontent.com/assets/2752195/7240008/d25db774-e762-11e4-9a44-561f802d2574.png)

[2015-04-22 07:43] CTLocalGovTeam commented on #46
@allisonmuise App logo will be restricted with height of the title bar so that it can spread horizontally. However maximum limit for spreading the icon is 150 px less than device width so that application name can be displayed with ellipses alongwith menu icon aligned right. Please refer the below mockup.

![image](https://cloud.githubusercontent.com/assets/2959186/7269397/45da7b8a-e8f1-11e4-9871-

[2015-04-22 07:44] CTLocalGovTeam commented on #49
@allisonmuise We will display the layers ordered as per TOC.

[2015-04-22 07:46] CTLocalGovTeam commented on #50
@allisonmuise This has been implemented. Could you please confirm?

[2015-04-22 07:46] CTLocalGovTeam commented on #51
@allisonmuise We will include the fix in sprint 1.

[2015-04-22 07:48] CTLocalGovTeam commented on #54
@allisonmuise We will change the highlight graphic in sprint 1.

[2015-04-22 07:56] CTLocalGovTeam commented on #59
@allisonmuise As suggested in your comments on Apr 7 and subsequent discussions, we decided to display
1. App title in theme color
2. Map titles and layer title in #555
3. '>' for layer titles in #555

Also we recommend to keep the size of info icon to 24x24 instead of 16x16 so that it is easily accessible on touch devices.

Please refer the mockup below and confirm

[2015-04-22 08:04] CTLocalGovTeam commented on #63
@allisonmuise We will include back button (as per specs in #67) in sprint 1.

[2015-04-22 08:07] CTLocalGovTeam commented on #64
@allisonmuise In sprint 1, we will provide the 'Submit Report' button in list view; For map view, we will include it in sprint 3.

[2015-04-22 08:13] CTLocalGovTeam commented on #67
@allisonmuise
1. The votes count on right side of each item will be abbreviated using standard letters for thousands (k) 1k-999k based on the implementation in polling app
2. As per above mockup, the color for selection and on hover is same i.e white background with theme color line on left. We will maintain this instead of showing theme color for selected row. Please confirm.

[2015-04-22 08:19] CTLocalGovTeam commented on #72
@allisonmuise We will implement this in sprint 1.

[2015-04-22 08:22] CTLocalGovTeam commented on #74
@allisonmuise
In sprint 1,
1. We will place the geolocation icon next to search button and will remove it from map
2. Apply new styles to the buttons in geoform
Remaining changes will be implemented in sprint 2

[2015-04-22 10:33] CTLocalGovTeam commented on #71
@allisonmuise We will load the map with current map extent while displaying the geoform. We will implement this in sprint 2.

[2015-04-22 10:39] CTLocalGovTeam commented on #69
@allisonmuise In sprint 1, we will provide map view button in list view as user will not be able to navigate to map view while using smartphones. Below is the updated mockup.

[2015-04-22 10:49] CTLocalGovTeam commented on #68
@allisonmuise We will implement these changes for issues details in sprint 2.

As mentioned above, we need to invert the color of the buttons when they are clicked. However, Map it and Like buttons can be clicked multiple times.  In this case, do we still need to invert the colors for these two buttons? Please suggest.

[2015-04-22 16:06] allisonmuise commented on #46
This makes sense in cases where a title has been configured.

If no title is configured, the graphic should be able to expand to the menu icon.

If the graphic is longer then the available space, is it possible to crop/hide the graphic after the menu button rather than compressing it vertically?

[2015-04-22 16:12] allisonmuise commented on #59
Please keep the info graphic at 16 x 16. It is too dominant on the screen at 24 x 24.

Please use a thinner line for the > arrows on the layers. They are only indicators that clicking/tapping the row will do something. They shouldn't draw you attention from the layer name on the other side of the screen.

[2015-04-22 16:16] allisonmuise commented on #67
1. good
2.  This is a good point. This could be confusing in desktop view, so instead of having exactly the same indicator for selection and hover, can we do white background only on hover, and white background with theme-colored vertical bar on the left when selected?

[2015-04-22 16:16] allisonmuise commented on #69
looks good!

[2015-04-22 16:19] allisonmuise commented on #68
Map It: This button does not need to invert when selected because it will take users to another page
Like: On the first click this button should turn blue, and it should stay blue on subsequent clicks.

[2015-04-23 07:46] CTLocalGovTeam commented on #68
@allisonmuise
We will not invert color for 'Map it'.
We will retain inverted colors for 'Like' after first click. Each click on 'Like' will increment the Votes/Likes count.

[2015-04-23 07:49] CTLocalGovTeam commented on #67
@allisonmuise The hovered row will be displayed with white background. Selected row will be displayed with white background and theme-colored vertical bar on the left.

[2015-04-23 08:05] CTLocalGovTeam commented on #46
@allisonmuise If title is not configured then the graphic will expand till menu icon. The aspect ratio of the graphic will be maintained using the height.

Graphics are image files so we will not be able to crop it or hide the part of it that cannot fit in available space. In this case, we do not have a choice but to show the graphic in available space without cropping or hiding part of it.

[2015-04-23 12:15] CTLocalGovTeam commented on #59
@allisonmuise  Info graphic is re-sized to 16x16 px. Also we have decreased the thickness of > arrow.

Please find below the revised mockup.

![image](https://cloud.githubusercontent.com/assets/2959186/7296799/774d9112-e9e0-11e4-9ea5-6af90c585d94.png)

[2015-04-23 12:22] CTLocalGovTeam commented on #46
@allisonmuise
Please find the mockup when  no title is configured.

![image](https://cloud.githubusercontent.com/assets/2959186/7296900/70ffd27e-e9e1-11e4-8a62-884efdea061a.png)

[2015-04-23 15:40] allisonmuise commented on #46
ok

[2015-04-23 15:43] allisonmuise commented on #59
Looks good! Please proceed with this design

[2015-04-28 13:12] CTLocalGovTeam commented on #60
@allisonmuise Based on the discussion last Friday, below are the two options for displaying menu items in smartphone. Please confirm.

Option 1 - Grey color font for menu items
![image](https://cloud.githubusercontent.com/assets/2959186/7370183/d7e0df18-edd5-11e4-98bc-1e99eff5b573.png)

Option 2 - Theme color font for menu items
![image](https://cloud.githubusercontent.com/assets/2959186/7370215/1

[2015-04-28 15:43] allisonmuise commented on #60
Let's go with Option 1

[2015-04-29 18:00] allisonmuise opened #77 "Cannot sign into app using Google+"
The Google+ UI has changed slightly, but I am still able to follow the steps. After I updated my application to use the resulting Client ID, I clicked the Google+ icon on the Reporter splash screen and accepted the disclaimer, but the app did not take me to the map list – it stayed on the splash screen.

cc @MikeTschudi

[2015-04-29 19:51] allisonmuise commented on #72
verified

[2015-04-29 19:51] #72 closed

[2015-04-29 19:55] allisonmuise commented on #74
Are the following planned as part of sprint 2, or should I create separate issues for them?
1. Make search and geolocate buttons the same height as the search box
2. Report It button should be theme color with white text
3. There should be a Cancel button to the right of the Submit button

[2015-04-29 23:24] allisonmuise commented on #49
verified

[2015-04-29 23:24] #49 closed

[2015-04-29 23:25] allisonmuise commented on #54
@ScottOppmann : Are you ok with the plain rectangle graphic?
cc @LindsayThomas

[2015-04-29 23:26] allisonmuise commented on #64
verified on the list view.

[2015-04-29 23:28] allisonmuise commented on #59
verified

[2015-04-29 23:28] #59 closed

[2015-04-29 23:32] allisonmuise commented on #67
Please make the + bolder. Like this:
![add](https://cloud.githubusercontent.com/assets/2752195/7403692/3b930556-ee8d-11e4-87e2-54e7778c2593.png)

Please also increase the space between the + and the words

[2015-04-29 23:33] allisonmuise commented on #63
verified

[2015-04-29 23:33] #63 closed

[2015-04-30 12:19] ScottOppmann commented on #54
Yes, please proceed

[2015-05-04 07:30] CTLocalGovTeam commented on #67
@allisonmuise  Sure. We will make  the + icon bolder and also increase the space between + icon and the words. We will include these changes in Sprint 2.

[2015-05-04 07:40] CTLocalGovTeam commented on #74
@allisonmuise We will include the above mentioned changes in Sprint 2 and should be able to track them using this issue only.
We will implement these changes as mentioned below
1. Search and geolocate buttons will have same heights as that of the text box
2. When GeoForm is loaded, 'Report it' button will be shown in theme color background with white text; These colors will be inverted when user c

[2015-05-04 08:00] CTLocalGovTeam commented on #77
@allisonmuise
After updating the application to use the resulting Client ID, we also need to ensure that the "Google+ API" and "Google+ Domain API " both are enabled for the configured client ID from Google's developer console.  Could you please confirm if both of them are enabled? Please refer the below screenshot to check the enabled APIs.

![image](https://cloud.githubusercontent.com/assets/295

[2015-05-04 09:50] CTLocalGovTeam commented on #74
@ScottOppmann, @LindsayThomas As mentioned above, we have planned to include the changes for search & geolocate button, 'Report it' button and cancel button in sprint 2.

[2015-05-04 09:52] CTLocalGovTeam commented on #67
@ScottOppmann, @LindsayThomas As mentioned above, we will incorporate the above changes in sprint 2.

[2015-05-07 15:38] LindsayThomas commented on #51
Verified a Custom Name will appear in the Browser Tab.

@allisonmuise Note: The URL to the application is displayed in Browser Tab initially. Once you click on a sign in option then you get the Custom Name in the browser tab. I *think* this is expected behavior with the application being hosted the way it is. I am closing the issue but reopen if this isn't correct.

[2015-05-07 15:38] #51 closed

[2015-05-07 16:11] LindsayThomas opened #78 "36th character is cut off on the splash screen on Chrome and FF desktop browsers"
123456789123456789123456789123456789  - This is 36 Characters

Image below illustrates the 36th character is cut off

![screen shot 2015-05-07 at 11 58 06 am](https://cloud.githubusercontent.com/assets/2379312/7519785/6a631da2-f4b0-11e4-94f3-30a3ab7290b4.png)

Exists on Chrome and Firefox
Doesn't not occur IE9 OR Safari

[2015-05-07 16:58] LindsayThomas commented on #46
@allisonmuise When no title is configured in the configuration panel of the application, then the application automatically defaults to use the title of the application item in AGOL.

[2015-05-08 12:21] CTLocalGovTeam commented on #77
@allisonmuise As suggested by Mike, we have verified that "Google+ Domain API " is not required. We will update the documentation to include this.

[2015-05-08 17:12] LindsayThomas opened #79 "The Cursor” floats on top of the submission form when scrolling"
Reporter on iPhone 6 (iOS 8.1.3)
-go to report an issue
-Click on a text box
-Scroll down
-You will see the the cursor floating on top of the form.
-It will disappear once you stop

[2015-05-11 18:18] allisonmuise commented on #54
verified

[2015-05-11 18:18] #54 closed

[2015-05-11 18:25] allisonmuise commented on #78
The exact number of characters that displays depends on what those characters are. For example, you can fit many more 1s than you can 2s because each 2 occupies more space than each 1. The difference between browsers is because of differences in how the browsers render the fonts. For my estimate of 36 chars I used an equal mix of wide and narrow letters.

I'm going to close this issue for now. We

[2015-05-11 18:25] #78 closed

[2015-05-11 18:26] allisonmuise commented on #46
OK I will fix this in the config files.

[2015-05-12 17:32] allisonmuise opened #80 "Support for domains in comment entry form"
@CTLocalGovTeam : Will the comment entry form in this app support domains?

[2015-05-12 18:13] allisonmuise commented on #79
@CTLocalGovTeam Please investigate a fix for this. I am not seeing this behavior on any other form-entry web pages.

[2015-05-13 18:13] allisonmuise opened #81 "unexpectedly prompted for credentials"
When working with non-public apps I am asked for my credentials, even though I'm access these apps from inside an organization.

For example:
1. Create an app from a group
2. Don't share the app
3. Open the configuration experience for the app
4. I am prompted for credentials, even though I am still signed in to my org and the browser should be using those credentials.

If possible, please fix for

[2015-05-13 19:49] allisonmuise opened #82 "Add configuration parameter for enabling/disabling AGOL sign ins"
Please expose a configuration panel parameter for enabling/disabling the AGOL sign in button on the sign-in page.

This option will need to be enabled by default to avoid breaking existing apps

If no sign-in options are selected please hide the 'or' bar and 'sign in with' text on the splash page

Please let me know ASAP if this will impact the delivery of this sprint.

[2015-05-14 07:08] CTLocalGovTeam commented on #81
@allisonmuise,
When you click 'Configure App', do you see the sign-in page? You should see the sign-in page with options to login as Guest and AGOL. If you click on AGOL sign in, you will be auto signed in, since you are logged into the Org in another tab. Can you please confirm this.
If you are still seeing a sign in dialog after signing in with AGOL, then it may be due to an item (webmap or a la

[2015-05-14 07:29] CTLocalGovTeam commented on #82
We can accommodate this change in Sprint3.
After implementing this change if all the sign-in types are disabled 'sign-in' menu in app-header/mobile menu-list will not be available and  splash page will look as follows :
![home screen](https://cloud.githubusercontent.com/assets/2959186/7627775/7e498a80-fa38-11e4-8fbf-79c7ebf5bd8a.PNG)

[2015-05-14 07:30] CTLocalGovTeam commented on #79
@allisonmuise
We will investigate and keep you updated on this issue.

[2015-05-14 07:31] CTLocalGovTeam commented on #80
@allisonmuise
No the current comment form does not support domains and it will always be shown with single text area.

[2015-05-14 16:28] allisonmuise commented on #81
I am being prompted for credentials by the identity manager even before the app loads the splash screen. I own the app , the group, and all content in the group (maps and associated data)

[2015-05-14 16:28] allisonmuise commented on #81
This same workflow does not cause me to be prompted for credentials with Basic Viewer or Public Gallery.

[2015-05-14 16:29] allisonmuise commented on #82
Thanks!

[2015-05-14 16:30] allisonmuise commented on #80
ok. Thanks.

[2015-05-14 16:30] #80 closed

[2015-05-14 21:33] allisonmuise opened #84 "Consider allowing display/editing of multiple layers within a single view"
Suggested by Damian:
Multiple feature types.  It would be nice if I could have just said – report an error – and the user choose by picking the tool to use pt, line, or poly to report it and I didn’t make them know about them upfront.

Visibility – when switching which layer to report the other layers are no longer visible.  But in my case people may want to see other reports as someone may have p

[2015-05-14 21:34] allisonmuise opened #85 "Consider allowing editing in either map in desktop view"
Allow users to draw features in either the main map or the report form map. Features should be visible as they are drawn in both maps.

[2015-05-14 21:37] nfeuerstein commented on #84
@phil7277 and I identified the same need when creating a "crowd source" reporting app for multiple types of intelligence reports.

[2015-05-14 21:50] allisonmuise opened #86 "Warning message color when report submission is only partially successful"
When the report is successfully submitted, but some (or all) attachments fail to be submitted with the report, please display this message in yellow rahter than red. Red indicates failure which is confusing since the action was partially successful.

[2015-05-14 21:52] allisonmuise commented on #71
The geoform map loads with the main map extents, but after submitting a report the geoform map returns to the full extent of the web map. The geoform map should re-load at the current extents of the main map. If the main map extents have changed, the geoform map should reflect the new extents.

[2015-05-14 21:53] allisonmuise commented on #74
This main dev work is completed so I am closing this issue. Any bugs or enhancements for this UI will be tracked in new issues.

[2015-05-14 21:53] #74 closed

[2015-05-14 21:54] #37 closed

[2015-05-14 21:56] allisonmuise commented on #68
These UI changes have been implemented so I will close this issue. Future bugs/enhancements to this UI will be tracked in new issues.

[2015-05-14 21:56] #68 closed

[2015-05-14 21:58] allisonmuise commented on #67
This UI is complete so I am closing this issue. Any future bugs/enhancements will be tracked in new issues

[2015-05-14 21:58] #67 closed

[2015-05-14 21:59] allisonmuise commented on #69
verified

[2015-05-14 21:59] #69 closed

[2015-05-15 09:30] CTLocalGovTeam commented on #81
@allisonmuise,
Do you see the sign in page of the Organization or do you see the identity manager dialog asking for credentials?
Can you pls provide a screenshot of the identity manager being displayed that includes the browser address bar.
Is it possible to share a link to the app so we can try to repro it on our end.

[2015-05-15 22:20] allisonmuise commented on #77
verified that I can sign into the app once the googleplusScope variable in default.js was set to https://www.googleapis.com/auth/userinfo.email

[2015-05-15 22:21] #77 closed

[2015-05-15 22:24] allisonmuise commented on #81
I will demonstrate the workflow and behavior in our meeting Monday.

[2015-05-15 22:33] allisonmuise commented on #81
I can't reproduce this anymore - even with the same I I saw it in earlier. I must have been signed into multiple organizations or something.

[2015-05-18 08:18] CTLocalGovTeam commented on #75
@allisonmuise Based on discussions during sprint 2 review meeting, there are following minor changes to the workflow when user is viewing the map.
1. Clicking 'Back' will navigate user to issue details
2. Clicking 'List' icon will navigate user to Webmap list
This behavior will replace bullet number 8 from above comment.

Below is the mockup for Map view for your ready reference
![image](https://c

[2015-05-19 12:51] CTLocalGovTeam commented on #86
We will update this in Sprint 3.

[2015-05-21 07:43] CTLocalGovTeam commented on #70
@allisonmuise We will include following in sprint 3.
1. Navigation icons in grey color
2. As discussed during one of the sprint reviews, 'Search' icon will be removed from map; So the order of the icons from top will be
* zoom in
* zoom out
* geolocate

Below is the revised mockup
![image](https://cloud.githubusercontent.com/assets/2959186/7742892/67835e46-ffb2-11e4-9fcf-1a0d1b5363ff.png)

[2015-05-21 07:44] CTLocalGovTeam commented on #58
@allisonmuise We will incorporate this change in sprint 3.

[2015-05-21 07:44] CTLocalGovTeam commented on #71
@allisonmuise We will include the fix in sprint 3.

[2015-05-22 14:04] CTLocalGovTeam commented on #79
@LindsayThomas, @allisonmuise

The issue seems to be known limitation of iOS devices, here are some reference links:

[https://bugs.webkit.org/show_bug.cgi?id=138201](https://bugs.webkit.org/show_bug.cgi?id=138201)

[https://github.com/twbs/bootstrap/issues/14708](https://github.com/twbs/bootstrap/issues/14708)

We are seeing this behavior in the polling app too.
This issue does not occur when the

[2015-05-22 22:54] allisonmuise opened #87 "prompted for credentials twice"
with public content, public maps, public groups and a private or org shared app, I am promted to enter my credentials twice.

This has been reproduced with multiple apps on multiple computers on all desktop browsers (mobile not tested)

Please confirm that you can reproduce this behavior and investigate a fix.

[2015-05-24 17:30] allisonmuise commented on #79
Thanks for looking into this. closing the issue

[2015-05-24 17:30] #79 closed

[2015-05-24 18:12] allisonmuise opened #88 "update message"
Change the message displayed when a vote cannot be counted from: "Unable to Update the Feature" to "Your vote cannot be added at this time."

[2015-05-24 21:54] allisonmuise opened #89 "does not display fetures with symbol by color or symbol by size symbology"
when features are symbolized using the smartmapping options 'Counts and Amounts (color)' or 'Counts and Amounts (Size)' this is not reflected in the application. In the app all features are displayed with the same symbol.

The unique value and location only renderers work as expected.

[2015-05-24 21:58] allisonmuise opened #90 "state plane map won't load"
when both the basemap and datasets are in state plane, nothing loads in the feature list or the map view - not even the basemap.

[2015-05-25 14:06] CTLocalGovTeam commented on #88
@allisonmuise
Ok. We will implement this in sprint 3.

[2015-05-25 14:17] CTLocalGovTeam commented on #89
@allisonmuise
We able to display these renderers. Please look at the screenshots below.
However we did find that clicking on any feature with these renderers does not highlight the features.
Can you please share a sample web map that we can use and try to reproduce this issue.

![image](https://cloud.githubusercontent.com/assets/2959186/7798320/1edec84e-0316-11e5-825e-43df3cd50bbc.png)

![image](h

[2015-05-25 14:29] CTLocalGovTeam commented on #90
@allisonmuise

We are not able to reproduce this issue.
We have shared some state plane (basemap + dataset) web maps in the [demo link for sprint 2](http://csslesxi9-vm3.cybertech.com/CSReporter/V0.7/index.html).
Can you please share a web map that doesn't work for you ?

[2015-05-25 14:35] CTLocalGovTeam commented on #87
@allisonmuise

We see that if app is private or org shared, the AGOL sign page is displayed first. After entering credentials the landing page is displayed. If you click the AGOL sign button on landing page, the app logs you in automatically without asking for credentials. Are you seeing the identity manager dialog here?

[2015-05-26 08:19] CTLocalGovTeam commented on #60
@allisonmuise We will incorporate this in sprint 3, after changing the grey background to white for username. The revised mockup is as displayed below.

![image](https://cloud.githubusercontent.com/assets/2959186/7808042/bffdc346-03ad-11e5-8f0a-5fbdd6f4a5b5.png)

[2015-05-26 17:39] allisonmuise commented on #90
non-repro

[2015-05-26 17:39] #90 closed

[2015-05-26 17:49] allisonmuise commented on #89
I can't repro on any other datasets, so I'm closing this issue.

[2015-05-26 17:49] #89 closed

[2015-05-26 17:50] allisonmuise commented on #87
I have posted a video of this behavior to Box and will email credentials for access the data shown in the video

[2015-05-26 17:54] allisonmuise commented on #81
a repro case has been recorded as part of #87 so I am re-opening this issue.

[2015-05-26 20:26] allisonmuise commented on #81
I am also seeing this behavior in Manager

[2015-05-26 20:28] allisonmuise commented on #81
cc @previnWong  - I know you are working on this for Polling as well.

[2015-05-27 11:15] CTLocalGovTeam commented on #87
@allisonmuise We were able to repro this. Thank you for sharing the additional data for reproducing this.

We narrowed this down to a trailing slash in sharinghost parameter (after arcgis.com) in default.js

[code]

If you remove the trailing slash, it works fine.

This issue occurs only when
* app is private or org-shared
* app is published with an externally hosted template that is registered wi

[2015-05-27 11:18] CTLocalGovTeam commented on #81
@allisonmuise @previnWong

Can you please confirm if removing the trailing slash in `"sharinghost": location.protocol + "//" + "arcgis.com/",` in default.js fixes this issue?

[2015-05-27 14:40] previnWong commented on #81
@CTLocalGovTeam removing the trailing slash does not resolve the issue.

![image](https://cloud.githubusercontent.com/assets/11183838/7838754/79c50736-0443-11e5-9de6-81b2e42f9df0.png)

![image](https://cloud.githubusercontent.com/assets/11183838/7838763/83359d1c-0443-11e5-8503-6b4fad0bf054.png)

It is not getting pass the ```_checkSignIn``` function.  The deferred that is returned states an error

[2015-05-27 15:35] previnWong commented on #81
Both the polling app and the boilerplate template throws this sign in.  Seems like it's not looking for the oauth that is already stored.
![image](https://cloud.githubusercontent.com/assets/11183838/7840224/2e8f9d8c-044b-11e5-9a70-85ef969ade3a.png)

will check the basic viewer (which works) files with the polling to see where the differences are.

[2015-05-27 15:56] allisonmuise commented on #81
@CTLocalGovTeam : To clarify - the issue @previnWong is seeing with Polling is the inappropriate sign in whereas, per the call this morning, the trailing slash is the cause of the double sign-in issue.

[2015-05-27 16:41] previnWong commented on #81
@CTLocalGovTeam @allisonmuise My guess on what is happening is that the application template and map resources are running on different domains.  So the application template does not have access to the esri_auth cookie in the AGOL domain, thus prompting the sign in.  We tested by making a basic viewer with the same configuration setup as the crowdsource polling app and the credential pop up appear

[2015-05-27 17:46] allisonmuise commented on #81
@CTLocalGovTeam @previnWong
I have confirmed that this issue is non-repro in devext, where both the app code and the app content are hosted on the same domain.

closing!

[2015-05-27 17:46] #81 closed

[2015-05-27 23:23] allisonmuise opened #91 "Add sign in page 'Or' to NLS"
The 'Or' on the sign in page between the guest sign in and the social media sign in options is not in the NLS file. Please make this string localizable.

[2015-05-28 14:26] CTLocalGovTeam commented on #91
@allisonmuise
The 'Or' is actually an image. The enveloping circle and horizontal line you see is also part of that image. Changing this to text will need some work.
Need to handle text of different lengths e.g., 'Or' in Spanish is 'Oregon'.

[2015-05-28 16:31] allisonmuise commented on #91
This string must be made localizable and the circle should expand horizontally into an oval to accommodate longer translations in other languages.

[2015-05-28 19:31] allisonmuise commented on #50
verified - should have been in the Manager repo

[2015-05-28 19:31] #50 closed

[2015-05-29 09:57] CTLocalGovTeam commented on #91
@allisonmuise
Here is an example of what it would look like with text sourced from NLS.

![image](https://cloud.githubusercontent.com/assets/2959186/7880445/0c9534da-0617-11e5-864e-cb082dd6420e.png)

[2015-05-29 15:50] allisonmuise commented on #91
Thanks, this looks good

[2015-06-01 21:02] allisonmuise opened #93 "Range domains are not enforced"
Fields with a range domain do not require you to enter a value in that range before you submit a report.

[2015-06-01 21:21] allisonmuise opened #94 "Date fields should default to today's date"
Date fields in the geoform should default to today's date, with the following exceptions:
- If a default value has been explicitly defined for that field, use that default value instead
- If the field uses a range domain and today falls outside that range, suggest the minimum date of that range.

[2015-06-01 21:22] allisonmuise opened #95 "Remove + & - from float entry fields"
Float fields are currently bordered by + and - boxes. These are unnecessary and should be removed.

[2015-06-01 21:26] allisonmuise opened #96 "Long text values should wrap in Details panel"
When a text value is longer than the details panel is wide, the text should wrap to the next line when it reaches the end of the panel. Currently the app displays a horizontal scroll bar.

[2015-06-02 15:53] CTLocalGovTeam commented on #91
@allisonmuise We've incorporated and tested this issue. Considering the upcoming code-freeze for June release, would you like us to provide an early code drop?

[2015-06-02 16:29] allisonmuise commented on #91
Yes. Please submit a pull request as soon as possible with this fix.

[2015-06-09 20:05] allisonmuise commented on #87
verified

[2015-06-09 20:05] #87 closed

[2015-06-09 20:05] allisonmuise commented on #82
verified

[2015-06-09 20:05] #82 closed

[2015-06-09 20:06] allisonmuise commented on #75
verified

[2015-06-09 20:06] #75 closed

[2015-06-09 20:06] allisonmuise commented on #46
verified

[2015-06-09 20:06] #46 closed

[2015-06-09 20:06] allisonmuise commented on #60
verified

[2015-06-09 20:06] #60 closed

[2015-06-09 20:06] allisonmuise commented on #61
verified

[2015-06-09 20:06] #61 closed

[2015-06-09 20:07] allisonmuise commented on #64
verified

[2015-06-09 20:07] #64 closed

[2015-06-09 20:07] allisonmuise commented on #70
verified

[2015-06-09 20:07] #70 closed

[2015-06-09 20:07] allisonmuise commented on #71
verified

[2015-06-09 20:07] #71 closed

[2015-06-09 20:09] allisonmuise commented on #86
verified

[2015-06-09 20:09] #86 closed

[2015-06-09 20:18] allisonmuise commented on #58
verified

[2015-06-09 20:18] #58 closed

[2015-06-09 20:22] allisonmuise commented on #91
verified

[2015-06-09 20:22] #91 closed

[2015-06-11 19:05] allisonmuise opened #98 "hide submission messages on 'back' click"
When users click the '<' arrow at the top of the geoform, the current state of the form is maintained so that when they click 'Submit a report' again, their values are still there.

Currently, after a report has been submitted, users are returned to the top of the form. At the top of the form a  message is displayed saying that the report was submitted successfully, unsuccessfully, or partially su

[2015-06-11 22:35] allisonmuise opened #99 "IE9 - Newly added features failed to show up on map"
@CTLocalGovTeam : Please investigate this issue

1.	Open any reporter app in IE 9 and sign is (for example as Guest).
3.	Click on a map in the list and if necessary choose a layer
5.	Click ‘Submit report’
6.	Fill out the form
7.	Add a feature on the map
8.	Click ‘Report It’.
9.	Notice the message “Thank You! Your report is submitted” but the map doesn’t show the newly added feature.
Features only

[2015-06-11 22:37] allisonmuise opened #100 "IE9 - Navigation buttons are missing grey border"
In Chrome:
![chrome](https://cloud.githubusercontent.com/assets/2752195/8120042/c3497460-104f-11e5-9662-54f8deadc662.png)

In IE9 & 10
![ie9](https://cloud.githubusercontent.com/assets/2752195/8120046/cc2fe046-104f-11e5-9b21-0cadc1084ee0.png)

[2015-06-12 12:00] CTLocalGovTeam commented on #99
@allisonmuise

We are investigating the issue and we will keep you updated.

[2015-06-12 15:18] allisonmuise commented on #99
Thanks!
UPDATE: we are seeing this in IE10 as well.

[2015-06-12 19:44] allisonmuise opened #101 "Cannot submit reports when multiple layers share a related table"
When a service contains two occurrences of data from the same feature class, and that feature class participates in a relationship with a table, reports can only be submitted to the first occurance of that layer in the service.

*Repro steps:*
In ArcMap:
1) create a feature class with one text field (geometry type not important)
2) create a table with a text field and a long integer field
3) Right

[2015-06-12 21:18] allisonmuise opened #102 "Incorrect details when popup is set to show contents of a single field"
When the popup in a web map is set to display only the contents of a single field, Reporter shows the full list of fields in the item details.

[2015-06-15 10:49] CTLocalGovTeam commented on #99
@allisonmuise

This seems to be a known issue in IE Browser.A similar discussion can be found here in this thread on GeoNet.
https://geonet.esri.com/thread/9644

[2015-06-15 11:03] CTLocalGovTeam commented on #101
@allisonmuise,
When trying to save feature to the second layer, the API is reporting an error message that 'GlobalID' field cannot be null. Please see screenshot below. It seems like 'GlobalID' is a non-nullable field that is for some reason, not visible in the REST endpoint of the second layer.

![image](https://cloud.githubusercontent.com/assets/2959186/8158575/f7e60132-137b-11e5-8710-7d2d8b421e

[2015-06-15 11:09] CTLocalGovTeam commented on #102
@allisonmuise

It seems to be the default behavior of popups. When popup is set to display only a single field and the field value is empty, the popup will show all attributes of the feature. You can observe this in ArcGIS Map Viewer too.

[2015-06-15 16:59] allisonmuise commented on #99
There are several suggested work-arounds in that thread. Are any of them suitable for this app?

[2015-06-15 18:15] allisonmuise commented on #101
I have confirmed that this behavior also exists on production AGOL and am waiting for feedback from the Online team on a possible resolution.

[2015-06-15 18:15] allisonmuise commented on #102
I have confirmed that this is also an issue on production and am waiting on feedback from the Online team.

[2015-06-16 12:02] CTLocalGovTeam commented on #99
@allisonmuise

We investigated the issue further and found that, if layer is hosted on AGOL the newly added feature is not shown on map after refreshing the layer. But it does work well when layer is sourced from ArcGIS server.

[2015-07-01 14:08] allisonmuise commented on #88
verified

[2015-07-01 14:08] #88 closed

[2015-07-01 23:14] allisonmuise opened #103 "Improve handling of long layer names, popup titles"
Currently app displays '...' when text is too long to display. Would be nice to have some way of displaying these strings on both desktops and touch devices. Could tapping the ellipsis open a window that contains the full text? @CTLocalGovTeam : Do you have any other suggestions to handle this scenario?

[2015-07-01 23:16] allisonmuise opened #104 "Improve valid value messaging"
Messages for valid values used to contain the ranges of numbers that would be accepted. This was removed at the suggestion of multiple testers, but it has caused some confusion over what values are considered 'valid'. Revisit these messages so that they can be clear but not overly technical.

[2015-07-01 23:24] allisonmuise opened #105 "Increase touch buffer around features"
Features are difficult to select from the map on touch devices. Increasing the buffer area around them would help.

[2015-07-02 17:55] allisonmuise opened #106 "Increase touch buffer around info button"
info button on map list is very difficult to open on iPhone. Buffer should be expanded.

[2015-07-02 19:13] allisonmuise opened #107 "updating locations on form"
repro steps:
- open the report submission form for a line or polygon feature.
- Fill out any required fields
- draw a feature on the location map
- draw another feature on the location map

note that the first feature doesn't disappear until after the second drawing is completed. The first feature should disappear as soon as the second feature is started.

[2015-07-02 19:14] allisonmuise opened #108 "CSS issues in IE9"
In IE9, the outline is missing from around the navigation buttons on both the report map and the main map.

[2015-07-02 19:16] allisonmuise commented on #95
cannot be easily changed. The workaround is to use a Double field which doesn't display these buttons.

[2015-07-02 19:16] #95 closed

[2015-07-02 19:21] allisonmuise opened #109 "scroll to gallery when gallery opens"
If, when the gallery button is pressed, the gallery doesn't have enough room to open on the current screen, scroll the panel to show the gallery

This is the behavior that currently exists for the comments button.

[2015-07-02 19:43] allisonmuise opened #110 "use extra title space if layer doesn't allow votes"
When voting is not enabled on a layer, the title should be able to use the entire popup title area.

[2015-07-06 17:04] allisonmuise commented on #101
This is a core issue that can be tracked here: https://devtopia.esri.com/WebGIS/arcgis-portal-app/issues/4020

[2015-07-06 17:04] #101 closed

[2015-07-06 17:05] allisonmuise commented on #102
This is a core issue that can be tracked here: https://devtopia.esri.com/WebGIS/arcgis-js-api/issues/2133

[2015-07-06 17:05] #102 closed

[2015-07-06 17:06] #99 closed

[2015-07-06 17:06] allisonmuise commented on #52
app no longer in EAT

[2015-07-06 17:06] #52 closed

[2015-07-06 17:07] allisonmuise commented on #108
duplicate

[2015-07-06 17:07] #108 closed

[2015-07-06 17:10] allisonmuise opened #111 "Add 'home' to map navigation"
Add the home extents button to the navigation tools on the main map only (not the geoform)

[2015-07-08 21:15] allisonmuise commented on #56
This was moved to the backlog due to time constraints.

[2015-07-08 21:15] allisonmuise commented on #57
This was moved to the backlog due to time constraints.

[2015-07-08 21:15] allisonmuise commented on #62
This was moved to the backlog due to time constraints

[2015-07-08 21:16] allisonmuise commented on #65
This was moved to the backlog due to time constraints

[2015-07-08 21:16] allisonmuise commented on #66
This was moved to the backlog pending removing geographic filtering from the app.

[2015-07-08 21:19] allisonmuise commented on #110
@CTLocalGovTeam : I know we've discussed this before, but I'd like to revisit it now that we have more time.

[2015-07-08 21:43] allisonmuise commented on #56
This help should also be accessible from the splash page via a configurable text link below the social media options. This configurable text should also be used in the smartphone menu UI.

[2015-07-14 13:55] CTLocalGovTeam commented on #106
@allisonmuise

Increasing touch buffer may have undesirable effect that text may appear with an ellipsis when there is still some space available.
We could increase the size of the info icon from its current 16x16 px to either 18 or 20px.
Please let us know your preference.
![image](https://cloud.githubusercontent.com/assets/2959186/8674822/f3015bbe-2a5d-11e5-9431-0631d3b47841.png)

[2015-07-14 14:00] CTLocalGovTeam commented on #105
@allisonmuise

This is the default behavior of JavaScript API.We cannot increase the buffer area around features.

[2015-07-14 15:56] allisonmuise commented on #106
I agree with allowing as much space as possible, but opening the map info panel on an iPhone is so difficult that I thought the info button wasn't working. I don't have this issue on Android phones.

What are the other options?

Can the touch buffer be increased to 18x18 without increasing the size of the graphic? I am guessing that this touch buffer is clear space, so the padding between text and

[2015-07-14 15:56] allisonmuise commented on #105
ok

[2015-07-14 15:56] #105 closed

[2015-07-14 15:57] allisonmuise commented on #105
ok

[2015-07-15 13:14] CTLocalGovTeam commented on #93
@allisonmuise

If the range field is not mandatory the application will allow user to submit a form with blank value in range field.

[2015-07-15 14:56] allisonmuise commented on #93
Yes, that's ok, but if a value is supplied to a field with a range domain, the app should verify that the values falls within the range of values specified by the domain.

[2015-07-16 11:57] CTLocalGovTeam commented on #56
@allisonmuise

Should the help link be lower level configuration or we want to allow users to configure it?

The configuration panel will have two parameters
* Help window title
* Help window content

Please have a look at the screenshots below and let us know if these look ok.

**Help Link on splash screen**

![image](https://cloud.githubusercontent.com/assets/2959186/8722137/061f9b0c-2bdf-11e5-8

[2015-07-16 11:59] CTLocalGovTeam commented on #111
@allisonmuise

Just wanted to confirm the order of map navigation controls. Is this ok ?

![image](https://cloud.githubusercontent.com/assets/2959186/8722247/1e760384-2be0-11e5-9fe0-22d599cc0623.png)

[2015-07-16 12:32] CTLocalGovTeam commented on #57
@allisonmuise

We are planning to use the search dijit with button mode enabled.This will search layers as well as geocoding services available in the organization.
The only limitation is that suggestions are available if working with a 10.3 geocoding service that has suggest capability loaded or a 10.3 feature layer that supports pagination, i.e. supportsPagination = true.

[2015-07-16 15:38] allisonmuise commented on #56
These look good! The following should be configurable through the AGOL app config panel:
- Help title
- Help text
- Splash screen help link text (Some users have said they'd like to use this to provide terms of use)

[2015-07-16 15:40] allisonmuise commented on #111
Can Home go between + and -? If so, that would be preferable.

[2015-07-16 15:46] allisonmuise commented on #57
Some questions about this:
Will search results be returned when an older geocoding service is used?
How is pagination set on a feature layer?
Is feature layer pagination on or off by default?

[2015-07-16 16:09] CTLocalGovTeam commented on #57
@allisonmuise
For older geocoding services, suggestions are not displayed as you type for sure, but I think if you click search icon it will display the first result. Need to confirm this.

Pagination is supported on AGOL hosted feature layers by default. For on-premise feature layers it is available 10.3 onwards.

[2015-07-16 16:55] allisonmuise commented on #57
ok. As long as it displays search results (preferably multiple choices. I think the standard is 5?) I'm ok with this approach.

[2015-07-17 07:47] CTLocalGovTeam commented on #57
@allisonmuise
We just confirmed that for older geocoding services and feature layers, the Search dijit does not display suggestions or even results at all. The behavior we see is that after you type, you have to click the search icon or press enter. This zooms to the first result on map directly without showing any list of results.

For addresses, we can display a pushpin icon for the result. Howe

[2015-07-17 14:17] CTLocalGovTeam commented on #62
@allisonmuise
Few quick questions on implementing removal of geographic filtering:

1. App loads and features are displayed, sorted by distance from user's current location. Now, if user disables location access from smartphone settings, the app will continue to use the initial location, till user reloads the app. Is this ok?
2. The navigation controls also include a geolocation button. Clicking t

[2015-07-17 16:09] allisonmuise commented on #62
First - Let's change 'Load more' to 'View more'. looking at this again, 'view' is a little less technical than 'load'

Second:
1. yes, this is ok
2. This is correct. I don't believe that the geolocation button will even work if the app is not allowed to access the user's location.
3. If the layer doesn't contain any features, 'view more' shouldn't display. If the layer contains more features than

[2015-07-17 16:11] allisonmuise commented on #57
1. yes, I expect that, if a feature result is selected, the feature will load in the panel and be selected on the map.

2. Can the search be restricted to only loaded features?

[2015-07-20 04:18] CTLocalGovTeam commented on #62
@allisonmuise Thank you very much for the quick response on this one.

[2015-07-31 13:02] CTLocalGovTeam commented on #111
@ScottOppmann @LindsayThomas @allisonmuise
When geolocation is not available, map loads default webmap extent. In this case, clicking 'home' will take user back to default webmap extent.
However, when geolocation is available, on app load, it will auto-zoom to the buffer area of user's current location. On clicking 'home' icon in this case also, should we zoom to webmap's extent?
Please confirm.

[2015-08-06 11:50] CTLocalGovTeam commented on #96
@allisonmuise  @ScottOppmann  @LindsayThomas

Popups usually contain field names and field values displayed in two columns. We are assuming that the text you are referring to is the field value which does not fit and hence displays horizontal scroll bar.  To fix this we are now wrapping at character level for field values, instead of word level .

For custom popups we are retaining wrapping at wor

[2015-08-06 11:55] CTLocalGovTeam commented on #93
@allisonmuise @ScottOppmann  @LindsayThomas

We are unable to reproduce this. Can you please provide us steps to reproduce.

[2015-08-10 14:44] CTLocalGovTeam commented on #65
@allisonmuise

Just wanted to update our approach for displaying/adding comments based on popup config.

* User can add comments from the issue details view.
* When user is looking at issue details view, the comments that are already posted, are visible by default (screen 1). This is based on popup config.
* When user clicks 'Comment' button to add a new comment, then a form based on popup config

[2015-08-10 17:26] DShokes opened #113 "Social Media Name For Reporter Name Field"
I setup Facebook and Google+ Sign-ins. The user gets recorded by long strings like a693lED4bsKC-KQZ9gGazab_AIz in Facebook and 114457552022802211327 for Google+. These aren't very useful when displaying creators/editors in popups/other maps. Is it possible to record the user's name when they use a social media login?

[2015-08-10 17:33] allisonmuise commented on #113
@DShokes : The user ID values are used only for identifying issues submitted by a single social media account so that reporters can review all their submitted issues. If you don't want those values to display, you can turn the user id field off in the map popup settings.

If you'd like to display a name for each reporter, I suggest exposing another text field in the map popup for that purpose. You

[2015-08-10 17:33] #113 closed

[2015-08-10 18:32] DShokes commented on #113
Thanks for the response Allison. In my upcoming event, 25 volunteers will be creating about 50 features each. I wouldn't expect them to type their name each time, but it would be nice to see the user's full name when reviewing data in the crowdsource manager. During reporter configuration, the parameter is called "Reporter Name Field ". A unique userID is probably not what the author is expecting.

[2015-08-10 18:41] allisonmuise commented on #113
That's a good point - I can see how it would be confusing. I'll update the parameter name with the next release, and we'll look into adding the ability to auto-populate a name field as well. I'll create separate issues for these suggestions.
Thanks for the feedback!

[2015-08-10 18:42] allisonmuise opened #114 "Update reporter 'name' config parameter"
This parameter is for specifying a field for storing a user ID, not a name. The parameter name should reflect this.

[2015-08-10 18:46] allisonmuise opened #115 "Consider storing the social media alias"
Currently, only the GUID of the social media account is stored. Consider providing an optional configuration parameter for the user alias associated with that account.

Where the alias is available, it would be used as the default value for the field, otherwise it would be left blank.

Whether this field is editable or not by reporters would be controlled by the popup settings. If an alias is avai

[2015-08-10 18:46] allisonmuise commented on #113
#114 #115

[2015-08-10 20:39] allisonmuise commented on #111
Yes, this is correct. Home should always return to the web map extent.

[2015-08-10 20:41] allisonmuise commented on #65
Looks good!

[2015-08-10 20:48] allisonmuise commented on #96
You are correct - this only happens when there are no breaks in the text.
Please wrap at word level in all cases, as it will be rare that single words will exceed the provided space.

[2015-08-11 20:08] allisonmuise commented on #56
On Desktop, please make the '?' graphic 18px

[2015-08-11 20:11] allisonmuise commented on #57
Can the search widget be moved down so that it is separated from the geolocate widget by the same distance as the geolocate widget is separated from the zoom out widget?

[2015-08-11 20:12] allisonmuise commented on #111
verified

[2015-08-11 20:12] #111 closed

[2015-08-11 20:27] allisonmuise commented on #109
verified

[2015-08-11 20:27] #109 closed

[2015-08-11 20:43] allisonmuise opened #116 "Issue list slow to update when changing layers"
The issues list is slow to update when changing layers. After clicking a new layer the issue list of the previous layer displays for half a second before updating to show the current layers issues.

The issues of the previous layer should not be visible during this transition

[2015-08-11 20:48] allisonmuise commented on #107
verified. Previously drawn feature disappears on the first click of a new feature.

[2015-08-11 20:48] #107 closed

[2015-08-11 20:49] allisonmuise commented on #110
verified

[2015-08-11 20:49] #110 closed

[2015-08-11 20:54] allisonmuise commented on #103
I like the implemented behavior for the layer names. Can the same behavior be implemented for the popup titles in the list view and at the top of the details pane?

[2015-08-11 20:55] allisonmuise commented on #98
verified

[2015-08-11 20:55] #98 closed

[2015-08-11 20:58] allisonmuise commented on #106
Let's increase the size on smartphones only. I still can't get the info button to open the map details on a smartphone.

[2015-08-11 21:05] allisonmuise commented on #94
verified

[2015-08-11 21:05] #94 closed

[2015-08-11 21:35] allisonmuise opened #117 "Spacing on splash page"
The spacing of the elements on the splash page is not very even, and the proportions vary between smartphones and desktop browsers.

Please make the spacing the same between each of the following elements on both desktop and smartphone browsers:

- title & subtitle
- Guest sign in
- 'Or' bar
- Social media sign in
- help link

If no social media sign in options are enabled, the help link should mo

[2015-08-11 21:40] allisonmuise commented on #57
Please use the search hint text that is configured with the map

Please use the search (address and layer) configuration that is set in the map properties.

[2015-08-11 22:02] allisonmuise commented on #100
verified

[2015-08-11 22:02] #100 closed

[2015-08-11 22:18] allisonmuise commented on #93
I can't repro anymore either. closing.

[2015-08-11 22:18] #93 closed

[2015-08-11 22:34] DShokes opened #118 "Layers From Map Notes causing reporter to hang while loading."
I converted the recreation map notes (which includes a point, line, and polygon layers) to a hosted feature service. These layers were added to a web map that worked with reporter previously. I  noticed that the layers had image popup media that referenced the IMAGE_URL field.
I removed the media from the popups in all the layers converted from map notes and then saved the layers within map viewer

[2015-08-11 22:48] allisonmuise commented on #118
@DShokes : Can you share the URL to the recreation map notes layer you were using when you found this?

[2015-08-12 05:55] DShokes commented on #118
Here it is. http://arcg.is/1Mnlvoo

[2015-08-12 07:11] CTLocalGovTeam commented on #56
@allisonmuise

Here is a screenshot after changing to 18px on desktops
![image](https://cloud.githubusercontent.com/assets/2959186/9218276/b320a728-40ee-11e5-8dc3-7f5d586adeee.png)

On mobiles, we will retain the size at 24px

[2015-08-12 07:15] CTLocalGovTeam commented on #96
@allisonmuise

We had implemented wrapping at character level. We will now change this to wrapping at word level for all cases(field names, field values, custom popup).
For single words that exceeds the provided space, horizontal scroll bar will be displayed.

[2015-08-12 07:26] CTLocalGovTeam commented on #103
@allisonmuise

We will implement the same behavior of displaying a popover at the top of issue details pane.

However, we are unable to display the same popover in issue list, as every issue in the list has a primary click action (to display details view). We tried to do a tap-hold, but it conflicts with the click-drag-to-scroll action and the issue list cannot be scrolled at all.

The full popup

[2015-08-12 07:51] CTLocalGovTeam commented on #116
@allisonmuise

We are investigating a solution for this behavior. We will post an update soon.

[2015-08-12 08:00] CTLocalGovTeam commented on #106
@allisonmuise

Ok. We will increase the size to 20px on smartphones only.

![image](https://cloud.githubusercontent.com/assets/2959186/9219112/2c558562-40f6-11e5-8963-3f13ac8c0d2a.png)

[2015-08-12 09:53] CTLocalGovTeam commented on #57
@allisonmuise

Ok. We will use the search hint text that is configured in web map.
The search (address and layer) configuration is already implemented.

[2015-08-12 09:54] CTLocalGovTeam commented on #116
@allisonmuise
This was happening because the issue list was not cleared immediately upon changing a layer.

We can fix this by clearing it immediately after switching a layer. So when user changes a layer, he will see an empty details panel with a loading indicator in title bar, till the issues are loaded and show up in the list.

[2015-08-12 13:55] allisonmuise commented on #56
ok. Thanks!

[2015-08-12 13:56] allisonmuise commented on #96
yes, thanks!

[2015-08-12 13:57] allisonmuise commented on #103
ok, that makes sense.

[2015-08-12 13:58] allisonmuise commented on #116
This will be better. Thanks!

[2015-08-12 14:22] allisonmuise commented on #57
search hint - ok
search configuration - you are correct. this was a map configuration error on my side.

[2015-08-12 16:53] allisonmuise commented on #118
@DShokes : I'm can't seem to reproduce your issue. Map notes layers shouldn't display in Reporter because they are graphics layer. Reporter will only display editable feature layers with popups. I can successfully add the layer you sent me above to a map, and it will display in the app. I also tried to reproduce the steps you are describing above, but I got different behavior.

Here's what I did t

[2015-08-12 19:33] DShokes commented on #118
1. Add Recreation Map Notes to new map
2. Save map notes as an item.
3. Click publish in the item detail page to create a new service.
![1 - feature collection](https://cloud.githubusercontent.com/assets/3903212/9234404/4b63b9b2-40fe-11e5-8a41-33064ee48098.jpg)

4. Enable editing, export, sync, and edit tracking. Then update sharing.
5. Add to new map.
![2 - feature layers](https://cloud.githubuse

[2015-08-13 19:20] allisonmuise opened #119 "Clear map selection"
Consider clearing selected features when navigating to issue or map list panels.

[2015-08-17 11:30] CTLocalGovTeam commented on #117
@allisonmuise

Here are the revised screen's for splash page.

![image](https://cloud.githubusercontent.com/assets/2959186/9303995/06eddae0-4501-11e5-972b-ada2c5741649.png)

Please let us know your feedback.

[2015-08-17 14:19] DShokes opened #120 "Toggle Guest mode and other sign in capabilities"
It would be great to be able to turn guest use on or off.  There are use cases where some sort of user identification is a requirement.

Another idea is to allow any oath 2.0 server to be used for user sign in. This would be set in the configuration interface.

A third idea would be to allow preset login info to be accessed from a table on a featureservice. Site leaders for a volunteer event could

[2015-08-17 15:50] allisonmuise commented on #117
The one with Sign in options looks good.

On the one without sign in options the 'Or' bar should be hidden.

[2015-08-17 16:05] allisonmuise commented on #120
@DShokes :

1) I will submit this one for consideration in a future release. For now, you can force sign in by making the app non-public.

2) This is possible if you've enabled enterprise sign ins for your organization.

3) A better (simpler, more secure, easier to manage) way to do this would be to create accounts in your organization for these users. We have no plans to replicate user/password m

[2015-08-17 16:07] allisonmuise opened #121 "Provide option to disable Guest access"
For those use cases where every report must have a user tied to it. If possible, prevent disabling Guest access if all other sign in options are also disabled, otherwise there will be no way to move past the splash screen.

[2015-08-17 22:10] DShokes commented on #120
Great, thanks for this info!

[2015-08-17 22:10] #120 closed

[2015-08-19 06:17] CTLocalGovTeam commented on #28
@allisonmuise

We will include this in the upcoming code drop.

[2015-08-20 10:24] CTLocalGovTeam commented on #65
@allisonmuise

Don't recall discussing this. Do we need to include support for attachments in the comments entry form?

Even if we do need that, we should'nt be displaying a "Gallery" button that opens and closes the attachments gallery for each comment. This will lead to many gallery buttons on the page.

We could display the grid of thumbnails just below the comment. But loading those gallery im

[2015-08-20 15:45] allisonmuise commented on #65
@CTLocalGovTeam No, do not allow/display attachments for comments at this time.

[2015-08-20 18:22] erikkross opened #122 "Removing splash screen when PortalLogin is turned off"
Is there a way to remove the splash screen from showing when the option enablePortalLogin is set to false? It would be much better if the application just loaded instead of the user having to click the guest link.

[2015-08-20 19:43] allisonmuise commented on #122
There isn't currently a way to do that, but it's a good idea. We'll look into this for a future release.

[2015-08-20 19:48] erikkross commented on #122
I figured out a way to do it by modifying the source code. Not the most elegant solution, but it works for my needs. In the /js/widgets/sign-in/sign-in.js file I added the following to the end of the startup() function:

    //skip the splash screen
    this._guestButtonClicked();

[2015-08-24 23:59] allisonmuise opened #123 "Message when signing in to facebook"
When singing in to an app via Facebook with the account that registered the connection between the app and FB, the following appears in the FB window:
![8-24-2015 4-55-58 pm](https://cloud.githubusercontent.com/assets/2752195/9455549/3f0c1362-4a81-11e5-9b3e-2d067137f25f.png)

[2015-08-25 06:43] DShokes opened #124 "Version of reporter in AGOL templates"
Where can we see which version of reporter is currently used for the AGOL app template and where will notifications be found when the template is updated? I'm weighing the benefits of hosting myself vs using available template.

[2015-08-25 13:41] CTLocalGovTeam commented on #123
@allisonmuise

We are investigating this behavior. We will post an update soon

[2015-08-25 17:47] allisonmuise commented on #124
With the exception of a few hours around the time of AGOL updates, the Master branch is the version of the apps currently available on AGOL. If you're interested, what's currently in the develop branch is what we are working on for the next release.

As for notification - There are typically emails and blog posts by the ArcGIS Online team when there are updates to AGOL. If you're interested in wha

[2015-08-25 22:48] allisonmuise opened #125 "Size of 'X' on help dialog"
Can we reduce the size of this X to 18px so that it matches the text?

(As a side note - I really like how this help dialog was done. The opening/closing animation is really slick.)

[2015-08-27 22:22] allisonmuise opened #126 "In RtL languages, help title overlaps with help dialog close button"
![8-27-2015 3-21-05 pm](https://cloud.githubusercontent.com/assets/2752195/9534701/67cf3ae0-4ccf-11e5-92f1-739590f933f4.png)

[2015-09-01 13:39] CTLocalGovTeam opened #127 "Placeholder text is not displayed for search bar in IE9 browser"
@allisonmuise
This is related to the issue that is fixed in manager app https://github.com/Esri/crowdsource-manager/issues/76

All modern browsers display the placeholder(hint) text when the textbox is empty and even if focus(cursor) is inside the empty textbox.
![image](https://cloud.githubusercontent.com/assets/2959186/9605105/56c99d68-50d9-11e5-9033-825bd6079a19.png)

To provide support for old

[2015-09-01 13:53] CTLocalGovTeam commented on #123
@allisonmuise
We investigated and found that this message is displayed only to the user whose credentials are used to configure the Facebook login. It is not displayed to public users who log in with their Facebook accounts.

We also confirmed that we are using Facebook's JavaScript SDK and we have not specified an explicit display type or height/width.

We see that the message is displayed only w

[2015-09-01 13:59] CTLocalGovTeam commented on #62
@allisonmuise
Can you please provide us with some webmaps containing sample/representative data (point/line/polygon layers) that we can use for developing and testing this feature.

[2015-09-01 16:40] allisonmuise commented on #127
Thanks for the detailed explanation! Based on this information, please continue setting the focus automatically.

[2015-09-01 23:30] allisonmuise commented on #123
@CTLocalGov

This is correct. I am only seeing it under those circumstances. I will close this issue as you state that we are following the suggested practices.

[2015-09-01 23:30] #123 closed

[2015-09-02 21:23] #127 closed

[2015-09-02 21:24] allisonmuise opened #128 "In RtL languages, geoform search box layout is off"
Firefox with content language set to Hebrew:
![9-2-2015 2-22-38 pm](https://cloud.githubusercontent.com/assets/2752195/9645043/4a4e2612-517e-11e5-81ff-6cffbe44ede3.png)

[2015-09-02 23:25] skrishn opened #129 "Layer list panel's UI elements and text is jumbled on submitting comments in Android tablets"
Issue is noticed in Android Tablets - Samsung Galaxy Tab S running 5.0.2 and Samsung Galaxy Tab 2 with version 4.1.2.

Steps to repro
1. Open a reporter app
2. Click on  map - choose a layer
3. Select an issue
4. Click Comment
5. Enter a comment
6. Hit Submit
7. Notice the UI elements and text in the panel is jumbled

Refreshing the map fixes the issue sometimes.

* Issue not seen in 3.8 apps on p

[2015-09-03 15:27] allisonmuise commented on #129
This display issue is not seen on iOS devices or Android phones.

[2015-09-03 15:28] allisonmuise commented on #129
@CTLocalGovTeam : Can you take a look and see if you can identify the source of this issue, and the level of effort to resolve it?

[2015-09-03 19:06] allisonmuise opened #130 "Update Google + logo"
Google has updated their logos, and the sign in with google button should update to reflect their new branding:
https://developers.google.com/+/branding-guidelines?hl=en

[2015-09-11 14:32] CTLocalGovTeam opened #132 "Timed interval to bring in features submitted by other users"
@allisonmuise

We are thinking of the following approach for implementing this feature. Please let us know your thoughts.

* When auto-refresh is triggered on the time interval, it should only get newly added features within the last buffer extent that was used to add features on map (user may have clicked "View More" to expand the buffer a couple of times).
* The newly added features should be so

[2015-09-14 13:31] CTLocalGovTeam commented on #130
@allisonmuise

We are including this in the upcoming delivery.

[2015-09-14 13:32] CTLocalGovTeam commented on #128
@allisonmuise

We are including this in the upcoming delivery.

[2015-09-15 06:58] CTLocalGovTeam commented on #129
@allisonmuise

We see this behavior on tabs when a large number of comments are present. The UI elements appear partially (horizontal lines) for a second and then each comment starts rendering correctly till all comments are shown. We observed this to take a couple of seconds for about 15 comments. However, we never had to refresh the map.

Are you experiencing an issue that the comments are not s

[2015-09-15 15:41] allisonmuise commented on #129
@skrishn : Can you attache a screenshot of the issue?

[2015-09-16 19:30] allisonmuise commented on #84
https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/887

[2015-09-16 20:33] allisonmuise commented on #65
@CTLocalGovTeam : What will the impact of this change be on previously-configured apps?
Will they:
a) continue to display the configured comments field
b) switch to showing all editable fields in the table
c) something else?

Ideally, I'd like the behavior to be (a) to avoid exposing additional info, and to allow users the opportunity to choose what info they'd like exposed...

[2015-09-18 17:55] skrishn commented on #129
Issue is now only reproducible in Android Tablets - Samsung Galaxy Tab S running 5.0.2

![screenshot_2015-09-18-10-48-50](https://cloud.githubusercontent.com/assets/3836616/9966763/88521a6e-5df3-11e5-9fcc-1b253abe20e8.png)

[2015-09-18 19:55] allisonmuise commented on #129
@CTLocalGovTeam : this issue isn't related to the comments or horizontal lines specifically. As you can see above, large portions of the panel aren't drawing at all.

[2015-09-18 20:36] allisonmuise commented on #132
@CTLocalGovTeam :
Sorry for the delayed response on this.
For now, let's not do the auto/timed interval refresh. Instead, the list & map should only refresh when:
-  a map is chosen from the map list, including when the current map is re-selected, or
- a layer is chosen from the layer list, including when the current layer is re-selected, or
- when accessing the My Issues list

[2015-09-18 20:37] allisonmuise commented on #132
cc: @ScottOppmann @NikkiGolding @MikeMillerGIS

[2015-09-21 12:23] CTLocalGovTeam commented on #65
@allisonmuise
The impact of this change for existing users is that
* Users will directly see a comments entry form instead of a single text area
* The list of comments will use the popup configuration setting of the related table
* If popup is not configured for related table, then Comment button and list of comments will not be displayed

[2015-09-21 12:30] CTLocalGovTeam commented on #129
@allisonmuise
We are able to repro this issue and are investigating.

[2015-09-21 15:42] allisonmuise commented on #65
@CTLocalGovTeam : I am concerned that this could expose information that users did not intend to reveal when they originally configured the app because by default all fields are visible and editable in the popup configuration.

Please suggest an approach for exposing only the configured field in existing apps and allowing users to opt in to using the popup configuration for the comments form.

[2015-09-21 20:19] allisonmuise opened #134 "Update .container references"
The following change has been made in JS API 3.15; please update Reporter accordingly:
![9-21-2015 1-16-57 pm](https://cloud.githubusercontent.com/assets/2752195/10003833/6575d78e-6063-11e5-9d67-39f2ab3b0e15.png)

[2015-09-22 16:17] CTLocalGovTeam commented on #65
@allisonmuise
Agree. We will propose an approach to expose only configured field in existing apps and allow users to enable using popup configuration from configuration panel.

[2015-09-23 06:33] CTLocalGovTeam commented on #134
@allisonmuise
JSAPI v3.15 isn't out yet.
Can you please provide us a link to the dev version?

[2015-09-23 11:04] CTLocalGovTeam commented on #65
@allisonmuise
Here's our approach to support popup config for comments.
* Add the configure comment field option back to configuration panel. Ensure it is exactly the same as earlier.
* Add a checkbox option to "Use popup configuration for comments". By default, this will be turned off.
* For existing apps, use geoform to display comments form
    * Use the configured comments field for entry.

[2015-09-23 14:39] allisonmuise commented on #65
In the new version, please remove the double heading 'Comment'. I assume the bold header is the same as the Released Version, but where is the un-bold 'Comments' header coming from?

Is there a way not to display 'Comments' before each comment?

Is there a way to preserve the horizontal lines between comments?

[2015-09-24 08:19] CTLocalGovTeam commented on #65
@allisonmuise

The first heading is of the panel. The second heading is the alias of field for storing comments. This cannot be removed and it is referred to in the error messages, if any.

Yes we can display just the comment.

Yes, we can preserve the horizontal lines between comments.

[2015-09-24 12:08] CTLocalGovTeam commented on #132
@allisonmuise
Currently when you click on a map in list, if it contains only one layer, it does not reload the layer and displays the list of issues.
However, if you click on a layer (map with multiple layers), then it always reloads. Hence in such case of maps with multiple layers, clicking on the layer again will go back to initial state of 1 mile buffer.

The My Issues list is always updated wh

[2015-09-25 15:52] allisonmuise commented on #132
Can a reload be added here? I understand that this will return the buffer to it's original range and that's ok.

ok, good

no, this isn't necessary if that list is being updated when users submit reports

[2015-09-25 20:32] allisonmuise commented on #65
@CTLocalGovTeam :

Let's remove the 'Comment' header over the form and just display the field aliases (The one over the displayed comments below should stay)

If this is the field alias that is displaying per the popup configuration, please leave it.

ok

[2015-09-30 16:17] CTLocalGovTeam commented on #129
@allisonmuise
We haven't been able to provide a complete fix for this. The issue is related to android devices only. When the keyboard is opened, the browser also resizes and because of this the text/controls gets jumbled.

To resolve this issue we are hiding the details panel and again showing the same with some time interval to trigger the browser to refresh elements on screen.

This works only

[2015-10-02 20:11] allisonmuise opened #136 "Set max search distance"
The app spins indefinitely looking for features that are 1000s of miles away when location is enabled.

For each 'View More' click, expand the search area a maximum of 10 times searching for the nearest feature. If there are still no features found, display the same message and 'View More' button.

[2015-10-02 20:12] allisonmuise opened #137 "hide buffer limit line"
do not display the boundary of the buffer used to find nearby features.

[2015-10-05 16:27] allisonmuise opened #138 "accept URL param for language picker"
https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/813#issuecomment-284272

[2015-10-05 16:55] allisonmuise opened #139 "Update to fully support web-tier secured services"
https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/893#issuecomment-284331

[2015-10-05 19:21] allisonmuise commented on #56
verified

[2015-10-05 19:21] #56 closed

[2015-10-05 19:22] allisonmuise commented on #57
verified

[2015-10-05 19:22] #57 closed

[2015-10-05 19:22] allisonmuise commented on #96
verified

[2015-10-05 19:22] #96 closed

[2015-10-05 19:23] allisonmuise commented on #103
verified

[2015-10-05 19:23] #103 closed

[2015-10-05 19:25] allisonmuise commented on #116
verified

[2015-10-05 19:25] #116 closed

[2015-10-05 19:29] allisonmuise commented on #117
verified on iPhone and desktop

[2015-10-05 19:29] #117 closed

[2015-10-05 19:29] allisonmuise commented on #130
verified

[2015-10-05 19:29] #130 closed

[2015-10-05 19:34] allisonmuise commented on #106
verified

[2015-10-05 19:34] #106 closed

[2015-10-05 19:34] allisonmuise commented on #125
verified

[2015-10-05 19:34] #125 closed

[2015-10-05 19:35] allisonmuise commented on #126
This is still an issue

[2015-10-05 19:36] allisonmuise commented on #128
this is still an issue

[2015-10-05 19:40] allisonmuise commented on #114
verified

[2015-10-05 19:40] #114 closed

[2015-10-05 20:15] MikeTschudi commented on #134
Thanks for checking. We wanted to be sure that the app's use of bootstrap's container class was not affected by the removal of Esri's container class.

[2015-10-05 20:32] allisonmuise opened #140 "app refresh on opening gallery?"
@CTLocalGovTeam : The entire app seems to refresh when opening the gallery for a report. I don't see this in the previous version of the app. Is there a reason this was added?

[2015-10-05 20:41] allisonmuise commented on #140
After a closer look - the difference seems to be that previously the app greyed out during loading, and now the app is totally hidden by the loading icon whenever loading is happening (submitting a comment, changing layers, etc)
This is a much harsher UX. Is there a way to only grey the app out during loading vs totally changing the UI?

[2015-10-05 20:44] allisonmuise commented on #140
user error

[2015-10-05 20:53] #134 closed

[2015-10-06 06:22] CTLocalGovTeam commented on #137
@allisonmuise
We will remove this in the next code drop. It was retained as a visual aid in the last code drops.

[2015-10-06 06:24] CTLocalGovTeam commented on #136
@allisonmuise
Agree. We will expand the search area a maximum of 10 times and display "View More" if there are still no features found. We will include this in the next code drop.

[2015-10-06 06:33] CTLocalGovTeam commented on #128
@allisonmuise
We had missed accounting for one parameter that identifies if app is running in RTL mode to load RTL CSS. This is a minor fix and will be included in next code drop.

[2015-10-06 06:33] CTLocalGovTeam commented on #126
@allisonmuise
We had missed accounting for one parameter that identifies if app is running in RTL mode to load RTL CSS. This is a minor fix and will be included in next code drop.

[2015-10-10 20:56] #124 closed

[2015-10-12 17:19] allisonmuise commented on #136
@CTLocalGovTeam
The app still seems to be expanding the search area further than I expect. The search radius in my app is 3 miles, and I've given the app access to my location. As expected, the map shows the area around my location when it loads. When I click 'view more' it very quickly zooms all the way out to a global scale. Based on our discussion above, I would only expect to see 30 miles. Can

[2015-10-12 17:29] allisonmuise commented on #140
verified

[2015-10-12 17:29] #140 closed

[2015-10-12 17:29] allisonmuise commented on #137
verified

[2015-10-12 17:29] #137 closed

[2015-10-12 17:30] allisonmuise commented on #128
verified

[2015-10-12 17:30] #128 closed

[2015-10-12 17:31] allisonmuise commented on #126
verified

[2015-10-12 17:31] #126 closed

[2015-10-12 18:13] allisonmuise commented on #65
verified

[2015-10-12 18:13] #65 closed

[2015-10-12 18:15] allisonmuise opened #142 "default date in comment form"
like with the main geoform, date fields in the comment form should use the default value set in the dataset if available, otherwise they should default to today's date. If the field contains a range domain that does not include today's date, use the min date accepted by the field.

[2015-10-12 19:46] allisonmuise opened #143 "Need to sign in twice to access app"
When accessing the app for the first time using a method other than 'Guest', I have to sign in twice. For example:
1. clear cache
2. Load app
3. click ArcGIS sign in button (or FB, G+, Twitter)
4. enter credentials/ authorize app
5. app returns to splash screen and I have to click the ArcGIS button again in order for the app to proceed.

If I repeat steps 2-4, the app loads after providing my cred

[2015-10-12 19:58] allisonmuise commented on #28
verified

[2015-10-12 19:58] #28 closed

[2015-10-12 20:00] allisonmuise commented on #132
verified

[2015-10-12 20:00] #132 closed

[2015-10-12 20:02] allisonmuise commented on #142
(currently, if a date field has a set range domain that does not include the Dec 29, 1899, the app accepts the 1899 value even though it is outside the domain, instead of requiring a valid value. setting the default to something inside the domain if one is present will resolve this.)

[2015-10-12 21:29] allisonmuise opened #144 "help window close button does not work consistently on iPhone"
tapping the X in the upper right corner of the help window doesn't consistently close the help window on iPhones.
iPhone 6 takes 5-10 attempts to close. *
iPhone 5 closed successfully in 15-35 attempts*

This is not an issue on android phones, android tablets, or iPads (window closes on first try most times. If first try not successful, 2nd try works)

Is it possible that the image is contained wi

[2015-10-12 21:50] previnWong commented on #144
@CTLocalGovTeam  so it seems like the button div has no width or height.  But the Close Helper div does have width and height.  So it seems Chrome stretches the button div to encompass the close helper, but my guess is that safari does not.

![image](https://cloud.githubusercontent.com/assets/11183838/10439681/6acd8464-70f0-11e5-8c0f-984d8307f2dc.png)

![image](https://cloud.githubusercontent.com/

[2015-10-12 21:53] allisonmuise opened #145 "show domain codes, not values"
If both the feature layer popup and the comment table popup contain fields with coded domains (1: yes, 0: no), the feature layer will show the value (0 or 1) and the comment will show the code (yes or no).

In both cases, the code should be displayed.

[2015-10-12 21:53] allisonmuise commented on #145
![10-12-2015 2-49-09 pm](https://cloud.githubusercontent.com/assets/2752195/10439759/0f42511e-70f1-11e5-811d-c58ed31135a0.png)

[2015-10-12 23:07] allisonmuise opened #146 "Only AGOL-hosted layers accessible in Reporter"
Services that were published using ArcGIS for Server are not accessible through Reporter, even though they are editable, and added to maps with editing enabled on the layer.

[2015-10-13 11:06] CTLocalGovTeam commented on #145
@allisonmuise
We are able to reproduce this and are investigating it.

[2015-10-13 11:13] CTLocalGovTeam commented on #144
@allisonmuise, @previnWong
We have fixed this by changing the CSS so that the button div now gets at least 18x18 px height and width. However, we are testing it on iOS v8.3.

[2015-10-13 11:15] CTLocalGovTeam commented on #143
@allisonmuise
We are unable to reproduce this. Can you please share a link to the app?

[2015-10-13 11:20] CTLocalGovTeam commented on #136
@allisonmuise
We are unable to reproduce this. Ideally, the app should stop at 13 miles (3 miles on initial load and increment by 1 mile for 10 times) and display the view more button.

Can you please share a link to the app and also the current location (lat,long) you are using.

[2015-10-13 12:32] CTLocalGovTeam commented on #146
@allisonmuise
We are unable to reproduce this on our side.

Are you seeing this behavior on other browsers as well? We have usually seen this occurring in firefox, when the ArcGIS Server is secured with a self-signed or domain certificate and firefox simply drops such layers unless you add a security exception for the certificate.

[2015-10-13 15:46] allisonmuise commented on #136
This is not correct. Per earlier conversations, the search buffer should expand by the configured amount, not 1 unit.

When the configured search distance is 3 miles, the app should be searching for reports within 3 miles of my current location on load. It should then expand the search distance to 6 miles (2 x 3 miles) when the 'view more' button is pressed. If no features are found within 6 miles

[2015-10-13 15:50] allisonmuise commented on #143
This is reproducible with multiple reporter apps hosted locally and in devext, and with all tested browsers and devices (IE11, Chrome, FF, Tab 2, Tab S, Galaxy S4, iPhone 5, iPhone 6, iPad3, iPad 2).

The cache (including passwords) must be cleared before beginning the test. I will demonstrate this behavior on tomorrow's call.

[2015-10-13 15:52] allisonmuise commented on #146
I am seeing this behavior with all browsers and devices tested so far - FireFox, Chrome, IE11, android phones and tablets, iPhones, and iPads.

The maps with server layers load and can be edited through the AGOL map viewer in those same browsers.

[2015-10-14 06:58] CTLocalGovTeam commented on #136
@allisonmuise
I think we misinterpreted the statement *"The buffer distance should increment, not double, when clicking 'view more'."* as mentioned in [this issue](https://github.com/Esri/crowdsource-reporter/issues/62#issuecomment-86603004)

This is a minor fix to change the current `buffer distance + 1 mile` to `bufferdistance + bufferdistance` when view more is clicked.

We also found the root

[2015-10-14 07:18] CTLocalGovTeam commented on #145
@allisonmuise
We have fixed this on our side. This required a minor fix in the way the popup configuration was referring to the feature's properties.

[2015-10-14 15:07] allisonmuise commented on #146
This appears to have been an issue with the specific server hosting the layers I was testing with originally. I cannot repro this issue with another server installation.

[2015-10-14 15:07] #146 closed

[2015-10-14 21:40] allisonmuise commented on #143
this is non-repro for the social media, and as-designed for AGOL. The app reloads when returning from the identity manager, therefore the splash screen is re-displayed.

[2015-10-14 21:40] #143 closed

[2015-10-14 21:41] allisonmuise commented on #136
per this morning's call these constraints are optional, therefore we will not constrain the values users can provide for the buffer distance.

[2015-10-16 09:39] dcesri opened #147 "Show non-editable layers in web map as contextual information"
Hi,

Thanks for this great app!  I'm working with a customer to crowdsource feedback on the quality of certain outdoor paths here in the UK.   Ideally we need people to be able to view the path within this application without being able to edit or add new features to that layer.  Their feedback will be collected on a separate feature layer.  Could this option be considered as an enhancement?

Plea

[2015-10-16 15:56] allisonmuise commented on #147
@dcesri :
This has been a popular request and it's definitely under consideration for a future release ( #84 ) . Use cases such as this one are helpful in designing this work.

To keep all the feedback on this enhancement in one location, I'm going to close this issue as a duplicate and reference it from the existing issue on this topic.

Thanks!

[2015-10-16 15:57] allisonmuise commented on #84
cc: @dcesri

[2015-10-21 17:10] allisonmuise commented on #66
verified

[2015-10-21 17:10] #66 closed

[2015-10-21 17:11] allisonmuise commented on #62
verified

[2015-10-21 17:11] #62 closed

[2015-10-21 17:11] #53 closed

[2015-10-21 20:35] allisonmuise commented on #136
verified

[2015-10-21 20:35] #136 closed

[2015-10-21 21:00] allisonmuise commented on #145
verified

[2015-10-21 21:00] #145 closed

[2015-10-21 21:03] allisonmuise commented on #144
verified - still takes a few tries, but easier than before.

[2015-10-21 21:03] #144 closed

[2015-10-26 18:00] allisonmuise opened #149 "If only one map and layer, hide map/layer picker panel"
If there is only one map in the group, and the map has only one layer, don't draw the map/layer picker panel. Jump right to the feature-picker for that layer

[2015-10-27 16:22] TonyGT commented on #85
I agree. It would be better if users could draw features in the main map. How can we switch maps via the code?

[2015-10-27 16:25] TonyGT opened #150 "How do you switch the main map and report picker map?"

[2015-10-28 15:17] DShokes commented on #85
+1 It would also be useful if authors could toggle visibility of existing features on the layer on the big map. If visibility were enabled, users would be less likely to duplicate an existing feature. Disabling visibility might be prefered if reporter should not see other user entries.

[2015-10-28 15:22] allisonmuise commented on #85
@DShokes : You can toggle the visibility of features using a filter in the web map. Any features that don't meet the filter requirements will not be visible in the app. This way you can moderate posts - for example only show features where APPROVED='Yes', or SENSITIVE='No'. You can use default values (defined on the fc before publishing) to determine the initial value of those fields, which can th

[2015-10-28 15:33] allisonmuise commented on #85
@TonyGT : There isn't a way to make this change through the configuration process, but allowing editing in both maps is under consideration for a future release. While you are welcome to customize the code, changing the editing behavior of the app would be a significant customization project that goes beyond the current scope of the app.

[2015-10-28 15:37] TonyGT commented on #85
Thanks, Alison. I think it would be a great addition. It seems more intuitive to draw on the large screen. Thanks for your quick response.

Tony

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, October 28, 2015 11:33 AM
To: Esri/crowdsource-reporter <crowdsource-reporter@noreply.github.com>
Cc: Giarrusso, Anthony J <tony.giarrusso@coa.gatech.edu>
Subject: Re: [crowdsource-re

[2015-10-28 16:00] DShokes commented on #85
@allisonmuise thanks for the info.

[2015-10-30 17:58] allisonmuise opened #151 "application hangs under specific circumstances"
Repro steps:
1. Open a layer in Reporter
2. Submit a new report outside the initial extents of the map (current extent of the map doesn't matter)
3. Return to the feature list
4. Note that the new feature is included in the list and there is no Load More button
5. Open another layer from the same map, then return to the layer with the new feature. (layer from different map does not trigger the sam

[2015-10-30 21:30] skrishn opened #152 "App doesn't draw features with heatmap symbology"
Create a point layer and symbolize using heatmap

Use it in the reporter app. Notice that the points are not drawn on the map, but when feature is clicked on the issue list the feature get highlighted.

[2015-11-02 14:44] CTLocalGovTeam commented on #151
@allisonmuise
We were able to reproduce the issue.
The issue is occurring because one of the queries when a layer is loaded again (to get features) was being picked from browser cache. Due to this, there is a mismatch in the number of features that the layer has and what the app thinks the layer has. This is also the reason why you see the ‘View More’ button and the app breaks when you click it.

[2015-11-02 16:43] allisonmuise commented on #151
Thank you!

[2015-11-02 22:18] skrishn opened #153 "Submit message 'close' button is not in the right place when there is no text"
When "Submit Message" is left blank in config panel. The Close button is like below in the message box that shows up after submitting a report

![image](https://cloud.githubusercontent.com/assets/3836616/10896056/63b94d20-816c-11e5-8eac-c6568fd45d60.png)

[2015-11-04 15:40] allisonmuise commented on #151
verified

[2015-11-04 15:40] #151 closed

[2015-11-04 19:14] allisonmuise opened #155 "update boilerplate to resolve CORS issues in Portal"
https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/959

[2015-11-23 17:39] allisonmuise commented on #150
@TonyGT : This is not a workflow that is currently supported. We are looking at how we can allow features to be created in either map for a future release. #85

[2015-11-23 17:39] #150 closed

[2015-11-23 17:41] #129 closed

[2015-11-23 17:59] #118 closed

[2015-11-25 18:37] allisonmuise commented on #147
Re-opening as #84 addresses both display and editing of multiple layers. We're going to look at display of multiple layers only for 4.2.

[2015-11-25 18:38] allisonmuise commented on #84
Displaying multiple layers is going to be considered for 4.2 and can be tracked in issue #147 .

[2015-11-25 18:41] allisonmuise commented on #147
Possible option for implementing this:

Add a boolean in the config panel that is False by default to allow display of non-editable layers. This way users can opt in to this behavior, protecting any previously-hidden layers that the may have included in their Reporter maps. When this booleen is True, all (visible) non-editable layers are displayed along with each editable layer.

[2015-11-25 18:45] allisonmuise commented on #85
@CTLocalGovTeam : In summary, when the Geoform panel is open (desktop/tablet modes only), allow feature creation in both the main map and the geoform map.

[2015-11-26 00:03] TonyGT commented on #85
Thanks, Allison. We appreciate the help.

Tony

________________________________
From: Allison Muise <notifications@github.com>
Sent: Wednesday, November 25, 2015 1:45 PM
To: Esri/crowdsource-reporter
Cc: Giarrusso, Anthony J
Subject: Re: [crowdsource-reporter] Consider allowing editing in either map in desktop view (#85)

@CTLocalGovTeam<https://github.com/CTLocalGovTeam> : In summary, when the G

[2015-12-02 14:17] dcesri commented on #147
Great news, thanks!

[2015-12-11 22:03] allisonmuise opened #156 "BUG-000092488 The Crowdsource Reporter web app does not allow to submit a new report if the layer is a server service without an existing feature."
https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/1012

Open Web App http://ess.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=29ed1393e7fe4f1c9995c0623ffb0611
Click "Proceed as Guest"
There are four maps:
"Hosted Empty Web Map" - Layers hosted in AGOL with no features
"Hosted with Points Web Map" - Layers hosted in AGOL with a single feature in each layer
"Server Empt

[2015-12-15 15:01] CTLocalGovTeam commented on #156
@allisonmuise

On our side we are able to see ony two webmaps.
![image](https://cloud.githubusercontent.com/assets/2959186/11813993/7407dc9e-a36a-11e5-88e6-f00bc355bc58.png)

We also tried to reproduce this issue with services from our side and see that it works as expected. Please see this link http://203.199.47.146/csreporter/issue156/

The first layer in the webmap does not have any features an

[2015-12-15 23:49] allisonmuise commented on #156
@CTLocalGovTeam : I believe you are seeign only the AGOL maps because the layers in the others were published to an internal server (not mine so I can't verify). I was unable to get an example stood up on an external server today so I'll share my screen in the meeting tomorrow. I am able to reproduce this with multiple layers in multiple orgs. I cannot access the app referenced in your comment.

[2015-12-16 21:09] allisonmuise commented on #156
http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=c7b9281cabaa4bc2bb16f8dd92fc3779

[2015-12-16 22:23] allisonmuise opened #157 "Add method for sharing app"
specifically - a specific view into the app - the current layer, report, etc

[2015-12-28 15:48] CTLocalGovTeam commented on #142
@allisonmuise

When a default date is provided in the related table for a field, then the feature service displays incorrect value. This looks like a bug in ArcGIS Server and ArcGIS Online hosted services too.

ArcGIS REST API always represents date values in milliseconds since epoch (1/1/1970 00:00:00). When a range domain is applied to a date field, you can observe that the range bounds are in m

[2016-01-04 14:04] CTLocalGovTeam commented on #156
@allisonmuise

The above link was working earlier, however now we get an error "Configured group is invalid or no items have been shared with this group yet." Maybe the contents are private, can you please check and let us know?

Also, we went through the layer schema (mentioned in first comment) and observed that all the layers present in feature server doesn't have create or update capabilities.

[2016-01-04 18:20] MikeTschudi opened #158 "Date picker mismatch between type-in field value and calendar selection"
Change the date in the date picker and submit a report.  The blank form that appears for a new report shows the current date in its type-in part and the previously-selected date in its calendar.

![image](https://cloud.githubusercontent.com/assets/2125181/12096788/b40ee51e-b2cc-11e5-98e0-85318b3999a6.png)

The new report uses the calendar date.

[2016-01-04 21:11] allisonmuise commented on #142
Yes, this is ok. I will also let the AGOL team know about the discrepancy in how dates are being stored.

[2016-01-04 21:15] allisonmuise commented on #156
I've updated the sharing on the items. They should be accessible again.
With regards to the service capabilities - Is there a way that we can let people know when this is the source of an issue?

[2016-01-05 19:01] allisonmuise commented on #142
@CTLocalGovTeam : After playing around with range domains and default date values in AGOL, I think I've figured this out - at least I am now able to get the correct default value in the comment form. The values that are stored seem to be related to how the date field is set up. If time is enabled, the millisecond value seems to be stored. If it is not, the days values seems to be stored. No change

[2016-01-05 19:01] #142 closed

[2016-01-14 09:58] CTLocalGovTeam commented on #85
@allisonmuise

If user draws graphic in main map it will automatically be drawn on the geo form map and vice-versa in real-time. Also any graphic drawn on main map will be cleared if user cancels or backs out of geoform. Please see the actual implementation here and let us know your comments.

![cr_editing](https://cloud.githubusercontent.com/assets/2959186/12321275/319ac77e-bad3-11e5-90af-479392e

[2016-01-15 10:07] CTLocalGovTeam commented on #158
@allisonmuise
Although we provided a fix this in V2.8, we have discovered a scenario where user is unable to cancel out of geoform. Clicking cancel doesn't do anything. This happens only when the layer has both, a date  field with range domain and a number field with range domain applied with default values set for both. The code change for this fix is minor.

Please let us know if you'd like us t

[2016-01-15 10:36] CTLocalGovTeam commented on #121
@allisonmuise
We have added a new item "Enable Guest Access" to the configuration panel. When this is turned off and none of the other sign-in options are enabled, then the splash screen is displayed without any option to proceed ahead.
Please let us know if this looks ok.

### When only guest access is disabled ###
![image](https://cloud.githubusercontent.com/assets/2959186/12350744/06849098-bb9f

[2016-01-15 18:53] allisonmuise commented on #158
@CTLocalGovTeam : Yes, please submit a pull request with this fix and I will include it in 4.1.
Thanks!

[2016-01-20 21:26] allisonmuise opened #161 "Allow configuration of form headers"
Expose the form headers ('Location', 'Attachments', etc) in the app configuration panel.

(requested by Scott Moore via Nikki 1/19/2016)

[2016-01-20 22:02] allisonmuise commented on #85
perfect!

[2016-01-20 22:04] allisonmuise commented on #121
Yes, this is the expected behavior.

[2016-01-21 19:26] allisonmuise commented on #158
verified

[2016-01-21 19:26] #158 closed

[2016-01-21 19:28] allisonmuise commented on #138
verified

[2016-01-21 19:28] #138 closed

[2016-01-21 19:29] allisonmuise commented on #149
verified

[2016-01-21 19:29] #149 closed

[2016-01-21 19:35] allisonmuise commented on #156
verified
devtopia issue updated

[2016-01-21 19:35] #156 closed

[2016-01-27 18:31] TonyGT commented on #85
I tried implementing and it doesn't seem to work. I am still unable to draw in the main map. Any advice?  I downloaded the code from github and deployed it here
http://www.prism.gatech.edu/~ag124/Ocean/

Also, app link on arcgis.com is http://gcmp.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=0f6352f75e384edea359569b47d7e854

[2016-01-27 20:21] allisonmuise commented on #85
@TonyGT : This change has not been implemented publicly yet. This functionality will be coming in the summer release of ArcGIS Online.

[2016-01-27 22:03] TonyGT commented on #85
Thank you. Looking forward to it.

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, January 27, 2016 3:21 PM
To: Esri/crowdsource-reporter <crowdsource-reporter@noreply.github.com>
Cc: Giarrusso, Anthony J <tony.giarrusso@coa.gatech.edu>
Subject: Re: [crowdsource-reporter] Consider allowing editing in either map in desktop view (#85)

@TonyGT<https://github.com/TonyGT> : This

[2016-01-28 17:12] allisonmuise commented on #139
verified using colorado service from J Smith

[2016-01-28 17:12] #139 closed

[2016-01-28 17:12] allisonmuise commented on #155
verified

[2016-01-28 17:12] #155 closed

[2016-02-03 18:30] ScottOppmann opened #162 "Store Location Information on Features"
Add configurable option to the Crowdsource Reporter application that allows users to store address or location information entered in search box on map control (using locator).  The field should be consistent across features and configurable when authoring the app (much like votes). Providing this option will allow users to persist descriptive location information (address, intersection, place nam

[2016-02-10 05:14] shohei-51 opened #163 "Calender UI not localzied"
When running the Crowdsource Reporter in Japanese environmnet, most of UIs such as submit report button get localized to Japanese except the calender UI. GeoForm uses the localized calender UI in Japanese environment. Please consider enable localization of the calender UI.

![calendar_not_localized](https://cloud.githubusercontent.com/assets/11626200/12939213/763e00ca-d000-11e5-8e66-11a9afb95d10.p

[2016-02-10 13:20] allisonmuise commented on #163
@shohei-51 : Thanks for reporting this, we'll look at a fix for a future release.

@CTLocalGovTeam : Is this a small fix that could be added to the 4.2 release?

[2016-02-16 22:11] allisonmuise commented on #163
@CTLocalGovTeam

[2016-02-17 00:21] garys-esri opened #165 ""Like" button label wrong in Brazilian Portuguese (pt-br)"
"Curtir" is what Facebook uses. It could also be "Gostei." "Como" isn't even close; it means "how."

[2016-02-17 00:21] garys-esri commented on #165
Fixed in d580f58c72aa5c1dff874f6430dd38d6fbd1dc5b

[2016-02-17 15:30] allisonmuise commented on #165
@garys-esri : Thanks Gary. There are a number of languages (DE/ES/ET/FI/FR/IT/NL/PT-BR) where this was mis-localized. Unfortunately, the fix isn't as simple as me (or you) putting in the correct strings (I tried that!). I have reported the errors to the localization team and I'm hoping to get them fixed for the next release.

If you have access to devtopia you can track the issue here: https://dev

[2016-02-17 15:30] #165 closed

[2016-02-22 12:28] CTLocalGovTeam commented on #162
@allisonmuise

Here's our understanding of this feature. Can you please confirm.
1. Add a configuration option to select field to store location
2. This field will be assumed available in all layers, similar to Votes field.
3. If field is not present in any layer, then this feature will not be triggered for that layer
4. The location field should be of string data type. For location field other th

[2016-02-22 16:49] allisonmuise commented on #162
@ScottOppmann : Could you review the above? Particularly numbers 6, 7, and 9

[2016-02-23 12:51] ScottOppmann commented on #162
@CTLocalGovTeam @allisonmuise

My comments:

The location field should support any value (address, parcelid, etc.) the user enters in to the search box.  In other words, if the organization configures a map with an address search plus layer search parameters, it should store the layer values too.

Question:

If the user clicks on the map or uses the current location, could we have an option that u

[2016-02-23 13:20] CTLocalGovTeam commented on #162
@ScottOppmann @allisonmuise

Instead of storing the text that user enters in to the search box, how about we store the result that the user selects from the list? This will be a standardized form of the result that's returned by the geocoder or the actual attribute value in case of layer search. Does this make more sense?

Yes, we can have an option to reverse geocode and populate the location fie

[2016-02-23 16:52] allisonmuise commented on #162
Correct

Correct

Correct

Per Scott, any field type should be supported. If the value returned can't be written to the field due to a type mis-match, that is ok. We will suggest a text field in the documentation/configuration panel.

Correct

Correct. In order of priority: the search box on the form, the reverse-geocoded location from a map point, and the main map search result

Populate the fiel

[2016-02-24 22:44] allisonmuise opened #166 "Add support for maps with multi-layer basemaps"
Multi-layer basemaps are going to be new at 4.1. Reporter currently doesn't support them, so this functionality will need to be added.

[2016-03-01 00:15] skrishn opened #169 "Fix typo in Defaults.js file"
Line # 38 in https://github.com/Esri/crowdsource-reporter/blob/master/config/defaults.js

Change dreated to created

[2016-03-01 05:38] allisonmuise opened #170 "Cannot submit comments through preview"
republish preview services?

[2016-03-04 21:06] allisonmuise commented on #161
@CTLocalGovTeam : would this change be low LOE? Could this be added easily to the 4.2 changes?

[2016-03-10 15:47] CTLocalGovTeam commented on #162
@allisonmuise

We wanted to discuss approach for following questions.

Per Scott, any field type should be supported. If the value returned can't be written to the field due to a type mis-match, that is ok. We will suggest a text field in the documentation/configuration panel.

**Approach** :
Here we are still checking for string field. If user configures any other type of field it will be a probl

[2016-03-14 20:47] allisonmuise commented on #162
@CTLocalGovTeam
For the location field type: The above approch sounds good. As long as the app gracefully handles (aka doesn't throw an error) if a field of another type is configured.

For the location of lines and polygons: The point you bring up is valid for points as well. This is ok. If a search term is used, please store that value. If there is no search term, fall back to the other options

[2016-03-15 02:30] MikeMillerGIS opened #171 "Enhancement - Make list of existing issues hidden until view existing is clicked"
Feedback was that the list of existing issues was confusing as it appear to be items types you could log.  Suggestion was to replace the list with two buttons, Submit and View existing.  On the click of view existing, the existing items list would be shown.

[2016-03-15 02:31] MikeMillerGIS opened #172 "Enhancement - Clustering of existing issue"
Feedback was that there could be a lot of request, 4-6K open issues.  Cluster is required to group together to make a legible map

[2016-03-15 02:33] MikeMillerGIS opened #173 "Enhancement - Implement page on result list"
Since the existing features list can grow, to speed up loading and improve the user experience, implement paging to only show X number of records at a time

[2016-03-15 02:34] MikeMillerGIS opened #174 "Enhancement - When user submits and issue, if one similar is with a distance, as user if this is the same issue and if so, comment form is loaded"
to aid the duplicate of reporting, use location to find similar and direct the user to comments

[2016-03-15 02:37] MikeMillerGIS opened #175 "Enhancement - Hide issues when user is anonymous"
Feedback was only certain issues can be reported when the use is anonymous, once the user logs in, additional items they can report are visible.  This all needs to be in the same app.

[2016-03-15 14:54] allisonmuise commented on #172
We are trying not to modify the layer symbology via the app. Is there a smartmapping option for clustering? If there is, the app should honor it.

[2016-03-15 14:56] allisonmuise commented on #173
This exists already. If you share your location with the app, only the features within a configurable distance and within the server limits will load. To adjust this, you can either lower the number of features that can be loaded at once by the service, or decrease the search distance.

[2016-03-15 15:02] allisonmuise commented on #171
Could these two functions be better distinguished in the existing app by allowing the configuration of the 'Submit a report' button?

We are trying to reduce the number of clicks needed to submit a report so I don't really want to add another step in the submission process. It was also a deliberate decision to force people to see what's already been reported near their location before they choose

[2016-03-15 15:02] allisonmuise commented on #170
fixed

[2016-03-15 15:02] #170 closed

[2016-03-15 15:05] allisonmuise commented on #174
Any suggestions on how to determine what qualifies as similar and nearby? Would the user fill out the form, hit submit, and then be taken to someone else's report? What would happen to the report they filled out?

[2016-03-15 15:11] MikeMillerGIS commented on #174
My thought was the following
Users select Map+Layer combo.  Once the user selects the location on the form, it prompts them there is a similar incident within X ft, would you rather add a comment to this issue?

[2016-03-15 15:16] MikeMillerGIS commented on #173
great, closing

[2016-03-15 15:16] #173 closed

[2016-03-15 15:20] allisonmuise commented on #174
OK, I see what you're getting at now.

Let's revisit this after the next release. We're making some changes to how the location of a report is set at 4.2 and this may or may not still be an issue

[2016-03-15 19:24] ChrisBuscaglia commented on #171
My interpretation of this requirement was to make the submit more prominent and not on the bottom of the screen.

[2016-03-15 20:29] allisonmuise commented on #161
@NikkiGolding : Spoke with Dr Anand about this today. This is not as simple as pulling these strings into the configuration file, because doing that would change all headers in non-english apps to the default english strings.

The CT team is going to evaluate the LOE required to expose these strings in the configuration panel while still displaying the NLS strings when the default values are used.

[2016-03-15 20:51] ChrisBuscaglia commented on #172
You can use a heat map based on the issues and then adjust the 'Area of Influence' options.  This could also help someone identify high volumes of issues.

[2016-03-15 21:20] allisonmuise commented on #172
something to consider - #152

[2016-03-22 21:33] CTLocalGovTeam commented on #161
@allisonmuise

Here is the approach that we followed to implement,

Add new parameters in configuration for headers (Details, Location, Attachments)

* If existing application does not contain new parameters in configuration, then form headers will always be shown from NLS

* All new apps will check if it contains new parameters
  * if they match the default value, then form headers will be shown

[2016-03-22 22:04] allisonmuise commented on #161
cc @NikkiGolding

[2016-03-28 20:45] allisonmuise opened #177 "'Back' button points the wrong way for RtL languages"
'<' is 'back' for LtR and 'forward' for LtR
'>' is 'forward' for LtR and 'back' for RtL

Need to update arrows in app for RtL languages.

[2016-03-28 22:56] #169 closed

[2016-03-30 19:53] allisonmuise commented on #163
verified
@shohei-51 : This will be fixed in the next release of ArcGIS Online.

[2016-03-30 19:53] #163 closed

[2016-03-30 19:57] allisonmuise commented on #161
verified that these strings can now be edited in the configuration panel. The default strings are handled in the nls files, custom strings are not. Returning the strings in the config panel to the default values re-allows accessign the values through the NLS files.

[2016-03-30 19:57] #161 closed

[2016-03-30 19:58] allisonmuise commented on #85
verified - @TonyGT : This change is in the develop branch of this repo and will be included with the next release of AGOL

[2016-03-30 19:58] #85 closed

[2016-03-30 20:00] allisonmuise commented on #121
verified

[2016-03-30 20:00] #121 closed

[2016-03-30 20:53] allisonmuise commented on #166
@CTLocalGovTeam : When the map uses a multi-layer basemap the geoform fails to load. The main map loads without issue.

[2016-03-30 22:15] allisonmuise commented on #147
@CTLocalGovTeam

I don't see this capability. I created a map with the following layers:
1. Hosted feature layer with create, edit, delete permissions and popup enabled with editable fields
2. Dynamic Map Service (uneditable)
3. Hosted feature layer with create, edit, delete permissions and popup enabled, but all fields marked display only
4. Hosted feature layer with create, edit, delete permissi

[2016-03-30 22:24] allisonmuise opened #178 "Adjust splash screen spacing"
Guest option should display centered between the help and app title when there is no subtitle, no other sign in options, and the help window is enabled.
![2016-03-30 3-22-22 pm](https://cloud.githubusercontent.com/assets/2752195/14159590/70649c16-f68b-11e5-85cf-9694f1c6e291.png)

[2016-03-30 22:45] allisonmuise commented on #162
verified

[2016-03-30 22:47] allisonmuise commented on #178
Spacing is off even when there is a subtitle:
![2016-03-30 3-47-02 pm](https://cloud.githubusercontent.com/assets/2752195/14160051/bb195ffa-f68e-11e5-92c1-bc2b51864c1f.png)

[2016-03-30 22:50] allisonmuise commented on #178
Could we also leave the title and guest sign in options at the same location on the screen as when there are social media sign in options enabled? The title looks better sitting above the midpoint on the screen and it keeps the Guest option i the middle.

[2016-03-30 22:52] allisonmuise commented on #178
OTOH, the spacing looks squished when anonymous access is disabled, with or without Help:
![2016-03-30 3-51-02 pm](https://cloud.githubusercontent.com/assets/2752195/14160138/4b2699be-f68f-11e5-8ed1-5778f346c804.png)

[2016-03-31 06:49] CTLocalGovTeam commented on #147
@allisonmuise

This is presented in map list as it is editable and works as expected.

This is not implemented. Will implement this.

We didn't consider this case. We will implement this.

We didn't consider this case. It does not show up in map list currently. Will implement this.
Also, if a webmap contains all layers turned off, the webmap will not show up in list. If it contains all non-editabl

[2016-03-31 13:21] CTLocalGovTeam commented on #178
@allisonmuise

Please look at the new screens of sign-in (splash screen) in various scenarios.

1.
![image](https://cloud.githubusercontent.com/assets/2959186/14176722/0827efe6-f770-11e5-89fc-e601a754325e.png)

2.
![image](https://cloud.githubusercontent.com/assets/2959186/14176824/b3f7a9b0-f770-11e5-96b5-4f2bc48a1813.png)

3.
![image](https://cloud.githubusercontent.com/assets/2959186/14176872/ef

[2016-03-31 13:23] CTLocalGovTeam commented on #166
@allisonmuise

We tested this funcitonality with webmaps contaning multi layer basemaps but we were unable to reproduce the issue. Can you please share a webmap?

[2016-04-01 16:51] jessnoo opened #179 "Submit a report button color doesn't align with theme color"
The bright green doesn't always fit in with the selected theme color. Can it be tied to the theme color or an option exposed to choose an alternate color?

[2016-04-04 21:28] allisonmuise commented on #166
@CTLocalGovTeam
I can now only reproduce this with one layer that was published while devext was experiencing other issues. Last week I was seeing this behavior with all layers. I'm going to close this issue for now, but will reopen it if testing turns up a more reliable repro case.

[2016-04-04 21:28] #166 closed

[2016-04-04 21:28] allisonmuise commented on #178
Much better! Thanks!

[2016-04-04 21:29] allisonmuise commented on #147
Thanks!

[2016-04-04 22:19] allisonmuise opened #180 "BUG-000095120 The Crowdsource Reporter web application does not show labeled features in the main map frame."
Devtopia 1157

Steps to Reproduce:

    Open the Crowdsource Label Map and notice that the features in the layer are labeled.
    Open the Crowdsource Label App application, built from a group that the Crowdsource Label Map was shared with. Notice that the features in the main map frame are not labeled.
    Click on "Submit a report" to bring up a smaller map that can be used to create a new locat

[2016-04-04 22:20] allisonmuise commented on #180
@CTLocalGovTeam:

Labels are only displaying for features in the geoform map They should display on the main map as well. Could you take a look and see if this is something quick'n'easy that can be done for this release? If not, I'll push to the following milesstone.

[2016-04-05 12:11] CTLocalGovTeam commented on #180
@allisonmuise
The reporter app uses a graphic layer instead of directly adding the feature layer due to implementation of geo-filtering. Graphic layers do not support labeling.
The geoform map does not use graphic layer, hence it is able to display the labels.
We don't see a quick and easy way to display labels on the main map. We'd have to handle them separately including label placement, conflic

[2016-04-05 15:31] allisonmuise commented on #180
OK, is it possible to hide the labels in the geoform map, then, so that it's a consistent experience?

[2016-04-07 17:59] MikeTschudi opened #181 "App displays geolocation button even if browser doesn't support geolocation"
lines 50 to 56 in bootstrapper.js check if the browser supports geolocation and sets `config.geolocation` with the result. This switch is not checked either in main.js before it calls `this.appUtils.createGeoLocationButton` or in that function's definition in utils.js, so the geolocation button is always created.

[2016-04-07 18:03] MikeTschudi opened #182 "App attempts to clear submission graphic even if the graphics layer is missing"
1. bring up app; I used guest login
2. click on map; doesn't matter if you click on an item or randomly

Note `main.js:1450 Uncaught TypeError: Cannot read property 'clear' of null` in console display

[2016-04-07 23:06] allisonmuise opened #183 "Reporter does not honor default values defined in a subtype"
Initial summary, more details coming:
If the default value is set at the field level, meaning right-click on the layer in ArcMap > fields tab > set a default value, then the default value does appear in the Crowdsource Reporter application and is working as expected. However, if the default value is set within the Subtype, the default value is not added when a new point is created.

[2016-04-11 12:16] CTLocalGovTeam commented on #180
@allisonmuise,

The un-editable layers will support labeling in the main map as well as geoform map. They are not altered in any way.

We assume that we still want to hide labels of 'editable' layer in the geoform map, correct?

[2016-04-11 14:39] CTLocalGovTeam commented on #183
@allisonmuise

We are not able to reproduce the issue. Can you please share webmap on which we can reproduce the issue?

[2016-04-11 15:58] allisonmuise commented on #180
yes, please

[2016-04-11 19:26] allisonmuise commented on #183
@CTLocalGovTeam
More details as promised: This is actually not a subtype issue, it is another case of users being confused about when it's ok to use a unique value renderer and when it's not. Can we talk about options for better handling of default values when a layer has multiple feature templates during our status call this week?

[2016-04-12 14:44] CTLocalGovTeam commented on #183
Yes. We can discuss approach for better handling of default values on status call.

[2016-04-15 12:09] CTLocalGovTeam commented on #147
@allisonmuise

We will implement this ticket as per the scenario mentioned in crowd source manager issue [88](https://github.com/Esri/crowdsource-manager/issues/88)

-Ashish

[2016-04-15 20:41] allisonmuise commented on #183
closing - can't improve handling of default values with current json structure. Can't tell which field the templates are based on

[2016-04-15 20:41] #183 closed

[2016-04-15 20:47] allisonmuise commented on #178
verified

[2016-04-15 20:47] #178 closed

[2016-04-15 21:08] allisonmuise commented on #180
@CTLocalGovTeam
The following app contains one map with 3 layers:
 - ChartsAndDatesEditable: The only editable layer
 - ChartsAndDates: This is the same underlying layer as ChartsAndDatesEditable, but with editing disabled in the TOC, and labels turned on
- HealthAndSafetyReports: Separate layer with editing disabled in the TOC and labels turned on.

Labels are only showing for the HealthAndSafety

[2016-04-18 13:53] CTLocalGovTeam commented on #180
@allisonmuise
We are not able to access the above link.

![image](https://cloud.githubusercontent.com/assets/2959186/14606206/c2052456-0599-11e6-815a-bcad74aa24e8.png)

[2016-04-20 14:16] CTLocalGovTeam commented on #181
@MikeTschudi

`config.geolocation` property is not used to control the visibility of geolocation button. It used to control the geographical filtering functionality of application.

Please let us know if this answer’s your question.

[2016-04-20 14:45] MikeTschudi commented on #181
Thanks for the correction!  And it handles the Chrome 50 secure-origin issue for the filtering.

[2016-04-20 14:45] #181 closed

[2016-04-20 15:02] MikeTschudi opened #185 "Hide geolocation button if geolocation not supported because of non-secure origin"

[2016-04-20 15:27] MikeTschudi opened #186 "Shadows for home and zoom out buttons go over adjacent icons"
Each shadow is offset by 1 pixel to the right and down, but has a blur extending outwards from the shadow for 10 pixels, which easily extends up into the next icon above for the home and zoom out buttons.

![image](https://cloud.githubusercontent.com/assets/2125181/14680268/9022e30e-06d1-11e6-87d8-2e6ebbee36b7.png)

[2016-04-20 15:29] MikeTschudi opened #187 "Out-of-the-box geolocation fails due to missing basemap layers"
The ‘develop’ branch of map-and-app-gallery-template fails when one tries geolocation in Firefox because the handler for the returned location is not able to find a layer named “defaultBasemap” or “defaultBasemap0”.  (Tested in Firefox 45, the latest version.)

[2016-04-21 03:36] allisonmuise opened #188 "coded values in popup titles"
When a field with a coded value domain is used int he popup title, to code, not the description, is displayed in the list of features and the header of the details panel.

[2016-04-21 04:00] allisonmuise opened #189 "supporting layers not visible in geoform map"
The uneditable layers that display in the main map are not visible in the map on the form

[2016-04-21 04:14] allisonmuise opened #190 "API change at 3.17"
The update to the 3.17 dev api is causing issues with the geoform. at 3.16, display fields show when reviewing submitted reports, and editable fields show in the form. At 3.17, only fields that are display AND editable show in the form.

This needs further investigation. Assigning to me for now so i don't forget.

[2016-04-21 06:29] CTLocalGovTeam commented on #180
@allisonmuise
We are still not able to access this map. Can you please update the permissions.

[2016-04-22 19:03] allisonmuise opened #191 "expose favicon in config panel"

[2016-04-22 19:15] allisonmuise opened #192 "clear selection when returning to issue list"
Repro steps:
Select report from list to view details. Note that feature is highlighted in map
Click the < arrow to return to the list of reports. Note that feature is still highlighted in map

Selection highlighting should clear on return to the report list.

[2016-04-22 20:49] allisonmuise commented on #147
@CTLocalGovTeam : The uneditable layers seems to consistently show up underneath the editable layers. They should show up in the same order they are placed int eh TOC of the web map.

[2016-04-25 20:49] allisonmuise commented on #180
@CTLocalGovTeam
Sorry for the delay, I have been out of the office.

Here is a new app: http://localgovtestdev.mapsdevext.arcgis.com/apps/CrowdsourceReporter/index.html?appid=3f58be292b224af78cbc14c22f6a5306

You should be able to access it as a guest. Now I am seeing labels for both non-editable layers in the main map, and no labels in the geoform map.

[2016-04-25 20:52] allisonmuise commented on #187
@MikeTschudi Is this in the right repo?

[2016-04-25 21:06] MikeTschudi commented on #187
No, and I can't reproduce it, either.  Thanks for the catch.

[2016-04-25 21:06] #187 closed

[2016-04-25 23:29] allisonmuise commented on #180
actually - the nun-editable layers aren't displayign at all in the geoform map, which is a duplicate of #189 so closing this issue

[2016-04-25 23:29] #180 closed

[2016-04-25 23:46] allisonmuise commented on #190
no longer reproducible

[2016-04-25 23:46] #190 closed

[2016-04-25 23:49] allisonmuise commented on #192
related to #182 ?

[2016-04-26 09:41] CTLocalGovTeam commented on #182
@allisonmuise

Fix for this issue is provided in previous code drop. Can you please verify?
Issue number #192 is not related to this.

[2016-04-28 17:36] allisonmuise opened #193 "Separate 'help' text available on splash screen from 'help' available in-app"
would allow for more legal-style disclaimer text on splash screen and more functional help in-app.
(Marshfield, USFS)

[2016-04-28 17:41] allisonmuise opened #194 "Add option to not clear the form on submit"
When entering in multiple issues around the same location, much of the info provided will be redundant (name, contact info, location, etc). Clearing the form automatically means this info must be re-typed for each report. An option to not clear the form on submit would facilitate reporting multiple issues at a location.

(Marshfield code enforcement)

[2016-04-29 22:51] allisonmuise commented on #119
duplicate #192

[2016-04-29 22:51] #119 closed

[2016-05-02 18:31] allisonmuise commented on #182
verified

[2016-05-02 18:32] allisonmuise commented on #185
@MikeTschudi  - this app doesn't use location. What fix was implemented?

[2016-05-02 18:36] allisonmuise commented on #182
@MikeTschudi : I am seeing error messages still on load, but they appear to be different. Can you take a look to see if this issue can be closed?

[2016-05-02 18:38] allisonmuise commented on #185
verified

[2016-05-02 18:38] #185 closed

[2016-05-02 19:05] MikeTschudi commented on #182
I see
1. startup: geolocation warning; the app is checking for the availability of geolocation to enable/disable some features other than the geolocation button.
2. guest login: occasional timeout errors from the JSAPI for basemap tiles
3. pick a category in the right-hand column: load error trying to load crowdsource-reporter/js/vendor/bootstrap-3.3.0-dist/fonts/glyphicons-halflings-regular.woff

[2016-05-02 19:12] allisonmuise commented on #182
thanks!

[2016-05-02 19:12] #182 closed

[2016-05-05 12:01] ScottOppmann opened #195 "Enhancement - Advanced Editing Capabilities"
Add the ability to leverage feature service edit capabilities so users can edit existing features if desired.   Users should be able to:
- [ ] Update attributes
- [ ] Delete features

Review whether feature service capabilities provides enough granularity or if additional application configuration would be necessary.

FYI - @lindsayking

[2016-05-05 18:10] ScottOppmann opened #197 "Enhancement - Limit Geographic Extent of Feature Edits"
Limit the geographic extent where new features can be created.  Could use:
- [ ] Configurable item in application to set
- [ ] Initial or full extent of map

[2016-05-17 15:17] chris-fox opened #198 "Location information should be stored even when field is not displayed"
This is in regards to enhancement #162. Currently this works well if you make the location field in the pop-up editable. However this is not the best experience because as you go down the form you come to the location field which gives the impression you need to populate it. Then when you get to the bottom your search for an address or click in the map and it may change what you typed above.

Inst

[2016-05-17 15:48] allisonmuise commented on #198
@chris-fox :
The location is only being written when the field is editable? When the field is not editable, no value is being written?
I'm confirming because this was working in a previous code drop.

[2016-05-17 15:48] chris-fox opened #199 "Date/Time format is incorrect in the geoform when using MM/DD/YYYY or DD/MM/YYYY formats when showing time"
Repro steps:

- Configure the popup for a date field using the format MM/DD/YYYY or 12/21/1997
- Check the option to show time (Not repro without this option)
- Create a new report and the date is shown as DD/MM/YYYY or 21/12/1997 (time displayed correctly) in the geoform

The date displays correctly in the item details.
I reproduced this using the dev branch today as well.

[2016-05-17 15:50] chris-fox commented on #198
@allisonmuise Yes, that is what I am finding. All I changed in the webmap was if the location field was editable.

[2016-05-17 15:51] allisonmuise commented on #198
ok

[2016-05-17 15:52] allisonmuise commented on #162
@CTLocalGovTeam : This information is only being stored when the field is editable. This information should be stored regardless of the field settings in the popup.

[2016-05-17 15:52] allisonmuise commented on #198
closign this issue. #162 has been reopened.

[2016-05-17 15:52] #198 closed

[2016-05-17 15:59] allisonmuise commented on #199
@chris-fox was this using the development version of Reporter, or the production version? If it was the development version, can you repro on production?

[2016-05-17 16:01] chris-fox commented on #199
I repro'd it on both.

[2016-05-17 22:06] allisonmuise commented on #191
verified

[2016-05-17 22:06] #191 closed

[2016-05-18 15:31] CTLocalGovTeam commented on #162
@allisonmuise

Just wanted to confirm our understanding on this issue:

If the field is marked as non editable in popup and same field is configured as a location field, although the field is not displayed in geo form. We still need to store the reverse geocoded address in location field under the hood and add it to the feature once user submits a record through geo form.

[2016-05-18 15:54] allisonmuise commented on #162
That is correct. It should behave like the User ID field.

[2016-05-19 11:38] CTLocalGovTeam opened #200 "Empty box is added below the search button in Firefox"
@allisonmuise

In Firefox, when we click on already selected layer an empty box is added below the search button in map navigation panel.

Steps to reproduce:
•	Launch the application and proceed as guest with geolocation enable
•	Select a layer from web map containing multiple layers
•	Navigate to geo form
•	Come back to web map list
•	Again click on the selected layer

![image](https://cloud.git

[2016-05-19 16:17] skrishn commented on #200
@allisonmuise:  Yes, same issue. I noticed in Chrome, FF and IE11

[2016-05-24 20:44] #189 closed

[2016-05-24 20:48] #162 closed

[2016-05-24 20:55] #147 closed

[2016-05-24 20:56] #188 closed

[2016-05-25 21:39] skrishn opened #202 "Feature is not drawn on the location where mouse is clicked when location is entered"
1. Open a reporter application with line/polygon features
2. Click on a layer - click submit report
3. Fill out the geoform
4. In the Location box: Enter an address or Lat/Long or USNG or MGRS (depends on the configuration setting)
5. Choose a suggestion from suggestion drop-down (do not clear the address by clicking x button)
6. Draw a feature in geo form map - notice the feature is not being dra

[2016-05-26 15:17] lindsayking commented on #195
According to @allisonmuise , these capabilities will need to be disabled by default for backwards compatibility so they will need to be configurable.

[2016-05-26 15:23] allisonmuise commented on #195
@lindsayking : I believe we will also need changes to service capabilities to support this. Configurations will simply be to use or ignore those capabilities if they exist

[2016-06-01 16:55] zhujingx opened #203 "base cach from arcgis online web map"
I have web map with the bash cached map service  at ArcGIS online. When I use this web map in the sample ,it asked me the user name and password for the map service. I put the credencials in the ArcGIS online already, why this sample still ask me  again. It would be great if  If you could get rid off this step.

Thanks
Zhujing

[2016-06-01 18:09] allisonmuise commented on #203
@zhujingx: The application will require you to enter credentials if:
1) The editable layer is not shared with Everyone *or* the layer does not have stored credentials
2) The map is not is not shared with Everyone
3) The application is not shared with Everyone
4) The hosting organization does not allow publicly sharing content or does not allow anonymous access to content

To access content that is

[2016-06-01 18:36] zhujingx commented on #203
Alison,
Thank you for the quick response.
I understand it will ask me the credential for the arcgis online, but after that it asked the credential for the map service which I already put the map service into arcgis online as image layer and add the user info in arcgis online. That is strange.

Zhujing

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, June 01, 2016 2:09 PM
To:

[2016-06-01 19:01] allisonmuise commented on #203
@zhuijingx:

Hmm...I haven't run into that before, and it definitely should work. Could you contact Esri Support Services with this? I'm actually out of the office this week, so they'll be able to help you more than I can from my phone! Once they've got all the details and a repro case they'll send it to me to fix.

Thanks
-Allison

[2016-06-01 19:03] zhujingx commented on #203
I have case with ESRI support 01786960.

But the analyst can not figure it out. She suggest me to post the issue on github.

Zhujing

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, June 01, 2016 3:01 PM
To: Esri/crowdsource-reporter <crowdsource-reporter@noreply.github.com>
Cc: Xia, Zhujing <ZhujingX@co.rockland.ny.us>; Mention <mention@noreply.github.com>
Subject: Re: [Esr

[2016-06-01 19:05] zhujingx commented on #203
Sorry, this is the case number 01785639

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, June 01, 2016 3:01 PM
To: Esri/crowdsource-reporter <crowdsource-reporter@noreply.github.com>
Cc: Xia, Zhujing <ZhujingX@co.rockland.ny.us>; Mention <mention@noreply.github.com>
Subject: Re: [Esri/crowdsource-reporter] base cach from arcgis online web map (#203)

ATTENTION: This email ca

[2016-06-02 16:28] allisonmuise opened #204 "Main map doesn't respect scale dependancies"
@CTLocalGovTeam :
The main map doesn't seem to respect scale dependencies (features that only draw at specific zoom levels), but the map in the geoform does. Is this something that can be fixed in a future release (not for 4.2), or is it a by-product of using a graphics layer?

[2016-06-03 14:02] CTLocalGovTeam commented on #204
@allisonmuise

Are you experiencing this with the editable layer or with all non editable layers.
If its the editable layer, then yes its by product of using graphics layer. We can inherit the scale dependency to the graphic layer however need to analyze its impact.
For e.g., If the layer is not visible do we still show the list of issues?

[2016-06-05 20:02] allisonmuise commented on #204
@CTLocalGovTeam : A user reported this with the editable layers. Thanks, we'll look at options to address this for a future release. As you mention, we'll need to be thoughtful about the overall workflow of the app.

[2016-06-06 23:03] allisonmuise opened #205 "Add option to use photo location for report location"
When a photo with exif information is added to a report, ask user if they'd like to use the location of the photo as the location of the report

(Scott Moore)

[2016-06-06 23:05] sirws commented on #205
It would be great to show the location of the photo on the map and let the user know it is coming from the photo, and then allow the user to use that location, or use the GPS location, or tap on map to update the location.

[2016-06-08 13:48] zhujingx commented on #203
Alsion,

I also saw this manger application, it share the same data as the reporter, but this one could edit the all the data on the map. The reporter only could add new point.
http://solutions.arcgis.com/local-government/help/crowdsource-manager/

Would this be controlled by the code of the application, or by the feature layer in arcgis online?

Thanks
Zhujng

From: Allison Muise [mailto:notifica

[2016-06-08 15:20] allisonmuise commented on #203
Crowdsource Manager is designed to be a review and triage application to help assess reports submitted through other apps such as Reporter. If you think of them as two parts of a single workflow - Reporter is for submitting reports (creating features) and Manager is for reviewing them (attribute updates on existing features). The underlying service may (and should) have both add and update capabil

[2016-06-08 15:25] zhujingx commented on #203
OK thanks. So the code in different application wrote differently,  what did you use in the code? Did you use the edit widget from Javascript API or individual Add or Edit in the code?
Thanks
Zhujing

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, June 08, 2016 11:21 AM
To: Esri/crowdsource-reporter <crowdsource-reporter@noreply.github.com>
Cc: Xia, Zhujing <ZhujingX@co.roc

[2016-06-08 16:06] allisonmuise commented on #203
I am not a JS developper, but I spoke with one of our devs about this. The apps do not appear to be using the Edit widget. For Reporter - features are drawn into a graphics layer using esri/toolbars/draw, attributed from the form, and then committed to the feature layer.

[2016-06-08 16:25] zhujingx commented on #203
Do you know what method used for editing the attribute info in the manager? I can not find edit widget in the code neither.

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, June 08, 2016 12:06 PM
To: Esri/crowdsource-reporter <crowdsource-reporter@noreply.github.com>
Cc: Xia, Zhujing <ZhujingX@co.rockland.ny.us>; Mention <mention@noreply.github.com>
Subject: Re: [Esri/crowds

[2016-06-13 19:05] allisonmuise opened #206 "BUG-000097007 When adding a Map Image Layer in ArcGIS Online from a secured ArcGIS Server service with credentials saved and add it to a webmap, the layer does not load in the in the Crowdsource Reporter and Crowdsource Manager application."
<div><div>User is working with Crowdsource Reporter app downloadable from <a href="https://github.com/Esri/crowdsource-reporter" target="_blank">GitHub </a>but the issue is reproducible in ArcGIS Online web app version as well.
<ol><li>Create a <b>Map Image Layer</b> in ArcGIS Online as follows:
	<ul><li>Go to <b>My Content </b>page in ArcGIS Online and select <b>Add Item </b>option.</li><li>Provi

[2016-06-13 19:06] allisonmuise commented on #206
arcgis-portal-app-templates #1210

[2016-06-13 19:07] allisonmuise opened #207 "BUG-000096844 The Crowdsource Reporter does not reflect the visibility range set from a web map."
<div><div><ol><li>Open a map viewer and add a feature layer. <a href="http://ess.maps.arcgis.com/home/item.html?id=3beff7e5ebe74246afb347efd04af655" target="_blank">http://ess.maps.arcgis.com/home/item.html?id=3beff7e5ebe74246afb347efd04af655</a> </li><li>Click more Options, and click the Set Visibility Range. Adjust the range.</li><li>Save the map.</li><li>Click Share and share it with group.</li

[2016-06-13 19:07] allisonmuise commented on #207
arcgis-portal-app-templates #1205

[2016-06-13 19:09] allisonmuise opened #208 "BUG-000095653 Adding a feature to a hosted feature service in the Crowdsource Reporter application does not add a default value if that field is disabled for editing."
<div><div>1. Open the <a href="http://ess.maps.arcgis.com/home/item.html?id=27ffad33a4364584b3ba0969c26747f9" target="_blank">web map</a> and configure the pop-ups for the layer &gt; configure attributes &gt; notice that {ConcernStatus} is checked for Display and unchecked for Edit &gt; click Ok.<br><br>2. Open the <a href="http://ess.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=5ce46

[2016-06-13 19:09] allisonmuise commented on #208
arcgis-portal-app-templates #1181

[2016-06-13 19:10] allisonmuise opened #209 "BUG-000094248 When using an ArcGIS Online polygon feature service as a private layer with stored credentials, and viewing in the Crowdsource Reporter application, the selection polygon is a much different geometry from the original polygon."
<div><div>Configuration:<br>ArcGIS Online 3.10<br><br>Data:<br>Feature Service CharlotteLargeExtent (item URL: http://ess.maps.arcgis.com/home/item.html?id=047185ce5f954c5f84ce6fa030cda764, service URL: http://services.arcgis.com/Wl7Y1m92PbjtJs5n/arcgis/rest/services/charlottelargeextent/FeatureServer/0, shared with ESS organization)<br><br>Steps to Reproduce:<br>1. Add the CharlotteLargeExtent fe

[2016-06-13 19:11] allisonmuise commented on #209
arcgis-portal-app-templates #1103

[2016-06-13 23:05] allisonmuise commented on #204
duplicate #207

[2016-06-13 23:05] #204 closed

[2016-06-13 23:06] allisonmuise commented on #203
@zhujingx : No, Manager doesn't use the Edit widget, either. Feature attributes can only be updated through Manager.

[2016-06-13 23:11] allisonmuise commented on #200
verified

[2016-06-13 23:11] #200 closed

[2016-06-13 23:17] allisonmuise commented on #203
@zhujingx : I'm going to close this issue. If you have a specific enhancement you'd like to request, please open a new issue.

[2016-06-13 23:17] #203 closed

[2016-06-13 23:19] allisonmuise commented on #194
would need to be an option in the configuration panel, as well as a Boolean option in the app UI

[2016-06-13 23:23] allisonmuise commented on #172
closing this as the enhancement is not really for this app. Support for heatmap symbology is already covered elsewhere.

[2016-06-13 23:29] allisonmuise commented on #171
@MikeMillerGIS & @ChrisBuscaglia : The placement of the button at the bottom and the display of exsting issues were deliberate choices in the app design and we haven't received enough feedback at this point to consider redesigning this UI.

The text and color of the submission button are going to be made configurable over the next two releases (text this release, color next) which will allow users

[2016-06-13 23:29] #171 closed

[2016-06-13 23:32] allisonmuise commented on #84
display of supporting layers is included in AGOL 4.2

[2016-06-13 23:32] #84 closed

[2016-06-14 11:14] ScottOppmann commented on #172
@allisonmuise - I think what @MikeMillerGIS @ChrisBuscaglia were really talking about is point clustering much like the Local Perspective application does.  Would be very valuable for larger organizations that have many submitted observations.  Not sure when/if the webmap will support such, but if it does, we should include.  Perhaps the best course of action is to keep this issue open and in the

[2016-06-14 12:35] MikeMillerGIS commented on #172
Scott is correct.

[2016-06-14 15:40] allisonmuise commented on #172
@ScottOppmann @MikeMillerGIS : I understand what you are looking for and agree it would be a great enhancement - to AGOL. Let's discuss further on Thursday.

[2016-06-17 20:56] allisonmuise opened #211 "Configurable option for showing map first, instead of list"
In smartphone view, the list loads first and users can toggle to the map. Provide a configuration option so that the app can be set up to show the map first on phones.

[2016-06-17 20:57] allisonmuise commented on #211
https://geonet.esri.com/message/536826

[2016-06-22 16:21] allisonmuise commented on #205
@sirws : do you have a user we can work with on this request?

[2016-06-23 17:11] allisonmuise commented on #207
@ScottOppmann @MikeMillerGIS @NikkiGolding @LindsayThomas

The more I think about this issue, the more I feel that this would best be handled by documenting that scale dependencies are not honored for the editable layers. I don't see how honoring scale dependencies would add to the UX because the map extents are not used when determining which features to load.

1) Users set the loading zoom level

[2016-06-27 11:22] CTLocalGovTeam commented on #179
@allisonmuise

We can do this either way, theme color or configurable color. Both options are low LOE and low risk. Please let us know your preference?

[2016-06-28 09:21] CTLocalGovTeam commented on #192
@allisonmuise

This functionality is as per design.

When user returns to issue list, we highlight the selected feature(issue) in the issue list with theme color vertical bar. This way user can easily see the selected issue in the list.

This feature is particularly useful when user is going through issues one by one.

If we clear map selection on returning to issue list, we have to remove the fun

[2016-06-28 12:28] CTLocalGovTeam commented on #206
@allisonmuise

We are not able to reproduce the issue. Can you please confirm if `showNonEditableLayers` flag is set to true in configuration?

[2016-06-28 14:54] sirws commented on #205
I may, I just need to get a hold of her as she is out in the field this summer.

[2016-07-12 17:35] allisonmuise commented on #192
@CTLocalGovTeam : This makes sense. Let's leave it for now unless @ScottOppmann feels otherwise.

Can we at least clear the selection when returning to the map list?

[2016-07-12 17:49] allisonmuise commented on #206
I can reproduce in this application: http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=a1fdf7c56ab94113adc49c75802f5e7a

The showNonEditableLayers flag is set to true. Note that the MIL features draw in the map in the submission form, but not in the main map. They also draw in Manager.

[2016-07-12 17:59] ScottOppmann commented on #192
I am fine with the logic @CTLocalGovTeam suggests.

[2016-07-13 07:48] CTLocalGovTeam commented on #192
@allisonmuise

We will clear the selection when returning to map list.

[2016-07-13 13:20] CTLocalGovTeam commented on #206
@allisonmuise

Thanks for sharing the application link. We will investigate this issue and keep you updated.

-Ashish

[2016-07-15 13:05] CTLocalGovTeam commented on #179
@allisonmuise

Can you please let us know your preference, theme color or configurable color?

[2016-07-15 16:06] allisonmuise commented on #179
@CTLocalGovTeam : configurable color, please

[2016-07-19 12:49] CTLocalGovTeam commented on #209
@allisonmuise,

We are able to reproduce this. However, we are not able to modify the tolerance in quantization parameters while executing the query. We tried to set the tolerance to 0, 1, 5, 10. But this seems to have no effect in the query, the API overwrites the tolerance with the one it generates internally. We tried to supply maxAllowableOffset, but even that is disregarded in the query.

[2016-07-19 16:56] MikeTschudi commented on #209
Observation:  Using the test app http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourceReporter/index.html?appid=a1fdf7c56ab94113adc49c75802f5e7a#, I intercepted and modified the query and got the same results every time.  The API is generating a tolerance of 78271.51696399994; I tried 78.27151696399994, 78, 10, and removing the quantizationParameters.  The numbers for coordinates, scaling, and

[2016-07-19 23:18] MikeTschudi commented on #209
Updated observation:  There are two fetches for the map features, and both are affected by bad tolerance values.
1. The first one, represented by the light green box above, is fetched when the map is loaded.  If the quantizationParameters' tolerance is adjusted for this fetch--or the quantizationParameters parameter deleted--the feature is loaded correctly for general map display.
2. The second on

[2016-07-20 15:10] CTLocalGovTeam commented on #206
@allisonmuise,

We are able to reproduce the issue and we will provide a fix for this in upcoming code drop.

[2016-07-20 17:51] MikeTschudi commented on #209
There are three problems of coordination between the app and the JSAPI:

1. There are multiple copies of each map's FeatureLayers in the app:
  * One copy ("A") is created when one logs in
  * Another copy ("B") is created *each* time that one selects a map from the map select panel
2. Features are queried at one zoom level and tolerance (the rounding of coordinates to the nearest pixel so that co

[2016-07-20 18:49] allisonmuise commented on #209
@CTLocalGovTeam : It appears that this is an issue with Reporter. Could you please review Mike's information above?

[2016-07-21 14:22] CTLocalGovTeam commented on #209
@MikeTschudi , @allisonmuise

Mike, thanks for your analysis. Just to add more information to your analysis, the app actually works off a graphic layer. When a map is selected, the featurelayer is initialized, but it is turned off. A separate graphic layer is created and maintained to query and display features from the featurelayer. This is done to support displaying features with increasing prox

[2016-07-21 15:31] MikeTschudi commented on #209
@CTLocalGovTeam: Thanks.  Some background:  I put a pair of probes into the FeatureLayer API code (1. where the tolerance is set and 2. where the feature query is made) that tested and reported FeatureLayer instances, and that's how I saw multiple FeatureLayers being created and queried.

[2016-07-26 17:32] allisonmuise opened #212 "Limit ability to re-vote for a report"
Currently, when the Vote button is clicked the button changes colors but users can click the button again to re-vote.

Ideally, users would only be able to vote once, but I don't want to introduce the complexities of managing cookies so here is my proposal (follows changes we are making in Crowdsource Polling):

- When the Vote button is clicked, disable the button to prevent users from immediatel

[2016-07-27 07:58] CTLocalGovTeam commented on #177
@allisonmuise

In addition to updating just the arrows we think it make sense to re-position the following components:

1) Layer title in webmap list
![image](https://cloud.githubusercontent.com/assets/2959186/17167952/614a5a52-53fd-11e6-9f72-ec2314be7ef1.png)

2) Issue list header
![image](https://cloud.githubusercontent.com/assets/2959186/17168031/c6f01360-53fd-11e6-9151-db3a1156ddd5.png)

Pleas

[2016-07-27 14:33] allisonmuise commented on #177
yes, please make those changes as well.

[2016-07-27 14:35] CTLocalGovTeam commented on #212
@allisonmuise

This change is low LoE and we can include this in upcoming code drop.

[2016-08-04 11:14] CTLocalGovTeam commented on #209
@MikeTschudi @allisonmuise

Reporter app has two instances of feature layer,
 1. Copy ("A") is created on application load to create web map list panel
 2. Copy ("B") is created each time when user selects a map from the web map list panel

Copy (“B”) is hidden on the map and it is used to query all the features and to show them on the graphic layer.

**We analyzed the issue and found following pr

[2016-08-04 11:53] MikeTschudi commented on #209
@CTLocalGovTeam Nicely done to figure out a pinpoint fix!

[2016-08-04 16:07] allisonmuise commented on #209
@MikeTschudi  @CTLocalGovTeam : Very nice! Thanks!

Is there any expected impact to performance when pulling in all features without generalization?

[2016-08-05 12:03] CTLocalGovTeam commented on #209
@allisonmuise
We dont see any change or impact to the performance. The app's performance will remain exactly the same. The features were never generalized prior to this and are fetched on demand (when user clicks load more).

[2016-08-05 16:22] allisonmuise commented on #212
verified

[2016-08-05 16:22] #212 closed

[2016-08-05 16:45] allisonmuise commented on #177
verified

[2016-08-05 16:45] #177 closed

[2016-08-05 18:24] allisonmuise commented on #186
verified

[2016-08-05 18:24] #186 closed

[2016-08-05 18:25] allisonmuise commented on #192
verified

[2016-08-05 18:25] #192 closed

[2016-08-05 18:25] allisonmuise commented on #202
@skrishn can you verify that this is fixed on devext?

[2016-08-05 18:29] allisonmuise commented on #153
verified

[2016-08-05 18:29] #153 closed

[2016-08-05 18:47] skrishn commented on #202
@allisonmuise verified

[2016-08-05 18:47] #202 closed

[2016-08-05 19:21] allisonmuise commented on #199
verified

[2016-08-05 19:21] #199 closed

[2016-08-05 22:47] allisonmuise commented on #206
@CTLocalGovTeam This is still not working for me. I will send a link via email.

[2016-08-05 22:48] allisonmuise commented on #206
verified

[2016-08-05 22:48] #206 closed

[2016-08-09 15:13] CTLocalGovTeam commented on #209
@allisonmuise, @MikeTschudi

We discovered during testing that the approach of setting the maxAllowableOffset to a small value (0.1) is not successful in all scenarios. It works only when the default extent of the webmap is set to a large scale , e.g., between 20k-50k approx. When you set the default extent to a large scale, e.g., >100k - 1million (city/region), we still see that features either a

[2016-08-09 16:57] MikeTschudi commented on #209
@CTLocalGovTeam Were you able to rule out a correlation between the feature layer parameter "supportsCoordinatesQuantization" and the different quantization tolerance parameters for the services? In the API source, that parameter seemed to be the main reason for the difference, but I wasn't sure.

[2016-08-10 16:10] allisonmuise commented on #195
@ScottOppmann Thinking on this further:

We could, perhaps, get around some service limitations by managing this at the app level and doing this for authenticated users (Social media or AGOL). We could add 'edit' and 'delete' buttons to reports with a stored user id that matches the current user. Reports submitted anonymously would not be editalbe/deletable. Each of these capabilities would need t

[2016-08-10 16:12] allisonmuise commented on #208
This is a known issue with how subtypes are stored in AGOL. The app uses the editing template set on the features so default values must be defined in the Fields dialog, not the subtypes.

[2016-08-10 16:18] allisonmuise commented on #207
@ScottOppmann Do we want to address this through doc or by changing the app?

[2016-08-10 16:36] allisonmuise commented on #197
@ScottOppmann
Suggestion:
Configurable option to define (a) layer name(s) in the maps that represent the boundary for reports. This layer name would have to work like the common field names for voting, etc. Reports submitted outside this area would be met with a configurable message.

This would be quite a change in the app, I think. Do we want to do this for 4.4, or should we hold off until the n

[2016-08-10 16:38] allisonmuise commented on #195
@ScottOppmann @lindsayking @NikkiGolding : Can this wait for the update to the 4.x API, or should this go for the November release?

[2016-08-10 16:47] allisonmuise opened #214 "Allow attachments to be submitted with comments"
To match the new functionality in Manager

[2016-08-10 22:36] NikkiGolding commented on #195
@allisonmuise We'd like this in November. What is driving the need to push the date?

[2016-08-10 22:49] allisonmuise commented on #195
@NikkiGolding no driving need, just trying to be conscious of only doing work twice when it's necessary.

We are going to have to move the app to the 4.x API next year which will mean re-writing the app from the ground up. Any changes we make now will have to be done twice - once to make the change now, and then again to include the change in the re-write.

For that reason I'm trying to push new f

[2016-08-11 14:52] NikkiGolding commented on #195
@allisonmuise  Please leave for 4.4

[2016-08-11 16:42] allisonmuise opened #215 "CSS issues in RtL"
The item details panel isn't drawing correctly in RtL languages such as arabic:
note the end of the tan area relative to the horizontal line and the placement of the Gallery button
![8-11-2016 9-41-46 am](https://cloud.githubusercontent.com/assets/2752195/17596794/e7669460-5fa7-11e6-95d8-f40f9339e73c.png)

[2016-08-11 16:54] allisonmuise commented on #209
Notes from the call this morning: Still can't isolate the issue to just API or just app.

@MikeTschudi is going to build a sample app that reproduces the following issues:
- secure layers behaving differently than non-secure layers
- post-zoom quantization parameter value being calculated from pre-zoom extents.

We will approach API team with this info to see what bugs/enh can be logged for a futu

[2016-08-11 16:56] allisonmuise commented on #179
verified on devext @jessnoo

[2016-08-11 16:56] #179 closed

[2016-08-15 23:01] MikeTschudi commented on #209
As mentioned in the first note of this issue, the "utility.arcgis.com" change is significant. For Crowdsource Reporter, an unshared secured service URL with stored credentials published to http://services.arcgis.com/ works fine; the same unshared secured service URL with stored credentials published to http://utility.arcgis.com/usrsvcs/servers/ fails.

1. Published multiple times from ArcMap into

[2016-08-16 21:03] MikeTschudi commented on #209
1. Published from ArcMap into a hosted unshared service
2. Used its URL to create a public stored-credential service on http://utility.arcgis.com/usrsvcs/servers/
3. Used the stored-credential service in a public webmap

The layer contains 7 jagged-edge polygons drawn at the 1:24,000 scale or larger; with the roughness of the boundary and the large scale, these polygons change radically or disappe

[2016-08-16 21:40] MikeTschudi commented on #209
Update: created webmap with three public layers defined using public, org, and private services.  Same program as previous note, but with additional symbols for each operational layer. The layers defined using org and private services have stored credentials.

![image](https://cloud.githubusercontent.com/assets/2125181/17716558/12d1e6a8-63be-11e6-998e-41a0dbd64faa.png)

* public
  * op layer: blac

[2016-08-17 17:10] MikeTschudi commented on #209
If, instead of calling queryFeatures() on a layer, one calls an instance of QueryTask, this problem goes away in this app for all layer types.  But adding queryFeatures() to the test program works.  So I think that we have a fix for this particular issue but there's an underlying question that I haven't yet resolved to API and/or app.

@allisonmuise @CTLocalGovTeam, would you please see if these c

[2016-08-18 16:47] allisonmuise opened #217 "favicon i salways esri logo"
browser tab displays esri logo, even when a different favicon is specified in the app configuration.
@CTLocalGovTeam  can this be addressed for 4.3?

[2016-08-19 12:34] CTLocalGovTeam commented on #217
@allisonmuise

We are analyzing the issue and we will keep you updated on this.

-Ashish

[2016-08-19 14:27] CTLocalGovTeam commented on #209
@MikeTschudi @allisonmuise
We did investigate using QueryTask in place of QueryFeatures(), however this switch will have a larger impact on the code base. After making the switch, we'd have to explicitly handle layer filters applied in webmap, popup definitions, etc. Because of that we didn't pursue this further.

[2016-08-19 15:34] MikeTschudi commented on #209
@allisonmuise, the sample app is demonstrating that the JSAPI

* handles secure layers the same as non-secure layers
* handles queries at small scale for display at large scales

There's no bug in or enhancement for the JSAPI at this point; we have to keep investigating the app.

[2016-08-22 09:41] CTLocalGovTeam commented on #122
@allisonmuise
When none of the login providers are enabled (google, facebook, twitter, portal) and when guest access is disabled, currently the app displays the splash screen without any options to login and proceed, please see issue #121

We think we should retain the above behavior and disable the splash screen only when guest access is enabled and all other login providers are disabled.

Please

[2016-08-22 10:11] CTLocalGovTeam commented on #195
@allisonmuise
Just to confirm our understanding,

1. Only logged in users will be able to edit reports and comments
2. Attachments are not editable
3. User can edit/delete only the reports and comments that they have reported
4. Users cannot edit/delete reports and comments submitted by the other users
4. Anonymous reports and comments cannot be edited/deleted
5. If user reports an issue using goo

[2016-08-22 10:30] CTLocalGovTeam commented on #197
@allisonmuise
Assuming initial extent is the default extent of the webmap, this cannot be used because app zooms to user's current location and will be different for each user. Webmaps do not have a full extent property.
The Reporter App is a gallery app, so we would be configuring a group of webmaps. If we try to restrict based on full extent of a layer, then user will have to select the webmap f

[2016-08-22 13:05] ScottOppmann commented on #197
@allisonmuise @CTLocalGovTeam - Could we use the geographic extent of the ArcGIS Organization the application lives within?

[2016-08-22 13:06] ScottOppmann commented on #195
@allisonmuise - please make sure we review the @lindsayking and @NikkiGolding to ensure their requirements are met and they are comfortable with @CTLocalGovTeam assumptions.  Tx

[2016-08-22 13:25] CTLocalGovTeam commented on #209
@MikeTschudi
Thanks, we'll keep investigating the app further to isolate the root cause. Can you please let us know if the sample app uses queryFeatures or queryTask? Also, is the layer's visibility always turned off, so to be as close as possible to conditions in the App.

[2016-08-22 13:36] MikeTschudi commented on #209
@CTLocalGovTeam
The sample app tried both queryFeatures and QueryTask, and the layer's visibility was turned off before the queries.

[2016-08-22 13:40] CTLocalGovTeam commented on #197
@ScottOppmann @allisonmuise
The Organization does have a default extent property and it can be used to limit feature creation outside this extent.
An alternative option is to provide a single textbox in the configuration, where user enters the layer name manually, like the ones we provide for common field names for Voting, Userid etc. The layername will then be used app-wide to limit feature creat

[2016-08-22 15:53] allisonmuise commented on #122
@CTLocalGovTeam : Based on feedback I received last week, let's go with the following:

- Hide the splash screen only when ALL sign in options (Guest, AGOL, FB, G+ and Twitter) are disabled.

- If any of those options is enabled (including just Guest), the splash screen should display.

The reason for this is the Help/Terms of use link on the splash page. Many organizations require that all applic

[2016-08-22 17:47] allisonmuise commented on #197
@CTLocalGovTeam : your understanding of my description is correct.

@ScottOppmann : what do you think of this idea?

[2016-08-22 18:15] ScottOppmann commented on #197
Interesting idea, users could then have essentially an extent feature in each webmap.  If they disabled editing on the layer, it would not show up in Reporter app, correct?  If not, then I do think this is the most flexible approach.  Allows users to identify a specific extent for each report type.

[2016-08-22 18:20] allisonmuise commented on #197
@ScottOppmann

Uneditable features can display or not based on the app configuration. Regardless, setting the symbology to nothing would make the layer not be visible in the app, even if other reference (uneditable) layers were being displayed.

[2016-08-22 19:48] ScottOppmann commented on #197
Ok, but that could get confusing.  Use parks as an example.  A map may have parks in it (to support find by location), trails (for context when feedback offered), and the extent allowed for edits.  If the user clicks on the map, which layers would be shown?

[2016-08-22 19:52] allisonmuise commented on #197
@ScottOppmann you can only interact with the editable layers. The others are there only as reference.

[2016-08-22 19:54] ScottOppmann commented on #197
Understood, but would the non-editable layers show up in the layer list when you click on a map in the TOC?

[2016-08-22 19:55] allisonmuise commented on #197
No, only editable layers show in the list, even when the non-editable layers display in the map.

[2016-08-22 20:04] ScottOppmann commented on #197
Ok, then your idea (using a non-editable extent layer) would work nicely.